

@import "../common/global"


img
    width: auto

#homeSection_2025
    background-color: #FAFBFD
    .customSection.sectionParent
        .primaryTitle
            font-family: Nunito
            font-style: normal
            font-weight: bold
            font-size: 35px
            line-height: 0.9
            text-align: center
            @include responsivo(telefonoTable)
                font-size: 25px
            @include responsivo(pcMedio)
                font-size: 30px

        .innerSectionElement.sct1
            .primaryText
                font-family: Nunito
                font-style: normal
                font-weight: normal
                font-size: 18px
                line-height: 1
                text-align: center
                @include responsivo(telefonoTable)
                    font-family: Nunito
                    font-style: normal
                    font-weight: normal
                    font-size: 15px

        .primaryText,
        a.hiperButtonGreenBlue
            font-family: Nunito
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 1
            @include responsivo(telefonoTable)
                font-family: Nunito
                font-style: normal
                font-weight: normal
                font-size: 12px
                text-align: center

        .secondaryTitle
            font-family: Nunito
            font-style: normal
            font-weight: bold
            font-size: 25px
            line-height: 1
            @include responsivo(telefonoTable)
                font-family: Nunito
                font-style: normal
                font-weight: bold
                font-size: 16px
                line-height: 1




#homeSection_2025 .homeSection_2025_0
    margin-bottom: 0px
    overflow: visible
    margin-top: -70px
    @include responsivo(telefonoTable)
        margin-bottom: 200px
    @include responsivo(pcMedio)
        margin-bottom: 0
    @include responsivo(general)
        margin-bottom: 50px
    @include responsivo(smallPcTablet)
        margin-bottom: 120px
    @include responsivo(resto)
        margin-bottom: 50px

    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1300px!important
        @include responsivo(smallPcTablet)
            width: 100%!important
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1275px!important

        .containerImage
            margin: 0
            padding: 0

    .backgroundFull
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        padding-top: 0px
        padding-bottom: 100px
        overflow: visible

        @include responsivo(telefonoTable)
            background-position: 20% -175px
            padding: 80px 0px 200px 0px!important
        @include responsivo(pcMedio)
            padding: 100px 0px 113px 0px!important
            margin-bottom: -40px
        @include responsivo(general)
            background-position: 45% -13px
            padding-top: 100px
            padding-bottom: 0px
        @include responsivo(smallPcTablet)
            background-position: 54% 2px
            background-size: 7000px
            padding-bottom: 0px
            padding-top: 100px
        @include responsivo(resto)
            background-position: 50% -13px
            padding-top: 215px
            padding-bottom: 310px
    .section-row
        position: relative
        @include responsivo(telefonoTable)
            padding-top: 10px
        @include responsivo(pcMedio)
            padding-top: 0px

        .innerSectionElement.sct1
            .groupElements
                height: fit-content
                position: relative
                .info
                    display: flex
                    flex-direction: column
                    margin: auto 0
                    padding-top: 0
                    position: unset
                    top: 0
                    @include responsivo(telefonoTable)
                        margin-bottom: 0
                    @include responsivo(pcMedio)
                        margin-bottom: 0
                        margin-top: 50px
                        width: 50%!important
                    @include responsivo(general)
                        top: -25px
                        margin-top: 4%
                    @include responsivo(smallPcTablet)
                        margin-top: 1%
                    @include responsivo(resto)
                        top: -25px
                        margin-top: -2%
                    .containElements
                        position: unset
                        padding-bottom: 0
                        display: flex
                        margin: 0 0 auto 0
                        @include responsivo(telefonoTable)
                            flex-direction: column-reverse
                        @include responsivo(pcMedio)
                            flex-direction: column-reverse
                        @include responsivo(general)
                            flex-direction: row
                            margin: 0 0
                        @include responsivo(smallPcTablet)
                            flex-direction: column-reverse
                        @include responsivo(resto)
                            flex-direction: row
                            margin: 0 0
                        .ele
                            position: relative
                            .principalBigTitle
                                font-family: Nunito
                                font-style: normal
                                font-weight: 700
                                line-height: 1
                                letter-spacing: -1.5px
                                color: #fff
                                margin-bottom: 15px
                                @include responsivo(telefonoTable)
                                    font-size: 30px
                                @include responsivo(pcMedio)
                                    font-size: 32.5px
                                    text-align: left!important
                                @include responsivo(general)
                                    width: 525px
                                    font-size: 40px
                                @include responsivo(smallPcTablet)
                                    width: fit-content
                                    font-size: 40px
                                @include responsivo(resto)
                                    width: 460px
                                    font-size: 58px
                            .principalBigText
                                font-family: Nunito
                                font-style: normal
                                font-weight: 600
                                text-align: left
                                margin-bottom: 0
                                display: flex
                                flex-direction: column
                                line-height: 1
                                letter-spacing: -1px
                                position: relative
                                color: #FAD872
                                @include responsivo(telefonoTable)
                                    font-size: 18px
                                    text-align: center
                                    margin-bottom: 20px
                                @include responsivo(pcMedio)
                                    font-size: 20px
                                    margin-bottom: 20px
                                    text-align: left!important
                                    width: 500px!important
                                @include responsivo(general)
                                    font-size: 25px
                                    width: 575px!important
                                @include responsivo(smallPcTablet)
                                    font-size: 25px
                                    width: fit-content!important
                                @include responsivo(resto)
                                    font-size: 42px
                                    width: 270px!important

                        .ele2
                            display: flex
                            flex-direction: column
                            justify-content: center
                            position: unset
                            @include responsivo(telefonoTable)
                                margin-bottom: 0
                            @include responsivo(pcMedio)
                                margin-bottom: 0
                            @include responsivo(general)
                                left: -25px
                            @include responsivo(smallPcTablet)
                                width: 100%!important
                       
                        .ele1
                            @include responsivo(pcMedio)
                                position: absolute
                                bottom: -175px
                                left: -25px
                            @include responsivo(smallPcTablet)
                                position: absolute
                                bottom: 160px
                                left: -50px
                            .containerImage
                                width: 100%
                                height: 100%
                                display: flex
                                justify-content: center
                                align-content: centers
                                position: relative
                                img
                                    position: relative
                                    width: auto
                                    @include responsivo(telefonoTable)
                                        height: 175px!important
                                        margin-bottom: 25px
                                    @include responsivo(pcMedio)
                                        height: 200px!important
                                        margin-bottom: 25px
                                        margin-left: 0
                                    @include responsivo(general)
                                        height: 240px
                                    @include responsivo(smallPcTablet)
                                        height: 205px
                                    @include responsivo(resto)
                                        height: 410px

                .form7
                    margin-bottom: 50px
                    padding: 0 50px
                    padding-bottom: 50px
                    display: flex
                    margin: 0 auto
                    position: relative
                    top: -70px
                    @include responsivo(telefonoTable)
                        width: 90%
                        display: block
                    @include responsivo(pcMedio)
                        width: 50%
                        padding-left: 15px
                        min-height: 525px
                    @include responsivo(general)
                        padding-bottom: 60px
                        min-height: 520px
                    @include responsivo(smallPcTablet)
                        padding-left: 0
                        padding-right: 0
                        padding-bottom: 75px
                        min-height: 600px
                    @include responsivo(resto)
                        // padding-bottom: 0
                        padding-right: 0
                        min-height: auto
                        padding-left: 60px
                    .formatForm
                        display: block
                        margin: 0 auto
                        background-color: white
                        box-shadow: 0px 20px 40px rgba(54, 118, 138, 0.2)
                        border-radius: 20px
                        h5.titleFormat.blackcolor
                            color: #2C4857!important
                            @include responsivo(general)
                                font-size: 20px
                            @include responsivo(smallPcTablet)
                                font-size: 18px
                    .containElements
                        margin: 0 auto





#homeSection_2025 .customSection.sectionParent.home_2025_1
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    margin-top: -370px
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 95%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1000px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1275px!important
     

        .innerSectionElement
            .ele.reviews
                display: flex
                justify-content: center
                margin-bottom: 50px
                .elements
                    width: fit-content
                    display: flex
                    flex-direction: row
                    gap: 70px
                    @include responsivo(telefonoTable)
                        justify-content: center
                        align-content: center
                        align-items: center
                        width: auto
                        display: flex
                        flex-direction: column
                    @include responsivo(pcMedio)
                        justify-content: center
                        align-content: center
                        align-items: center
                        width: auto
                        display: flex
                        flex-direction: row
                    .refersElement
                        padding: 0
                        display: flex
                        flex-direction: row
                        width: auto
                        @include responsivo(telefonoTable)
                            margin-bottom: 10px
                            justify-self: center
                            align-content: center
                            align-items: center
                        @include responsivo(pcMedio)
                            margin-bottom: 0
                            justify-self: center
                            align-content: center
                            align-items: center
                        &:last-child
                            margin-bottom: 0
                        .infoInner
                            display: flex
                            flex-direction: column
                            @include responsivo(telefonoTable)
                                margin: 0 auto
                                width: 175px
                            @include responsivo(pcMedio)
                                margin: 0 auto
                            .tag
                                margin-bottom: 10px
                                display: flex
                                flex-direction: row
                                align-content: flex-end
                                position: relative
                                .containerImage
                                    padding: 0
                                    margin: 0!important
                                    img
                                        margin-left: 0!important
                                        @include responsivo(telefonoTable)
                                            height: 20px!important
                                        @include responsivo(pcMedio)
                                            height: 30px
                                        @include responsivo(general)
                                            height: 25px
                                        @include responsivo(resto)
                                            height: 25px
                                span.points
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: 700
                                    font-size: 22.5px
                                    line-height: 1
                                    display: flex
                                    align-items: center
                                    letter-spacing: -1px
                                    color: #36768A
                                    display: flex
                                    align-self: flex-end
                                    justify-self: center
                                    margin-left: 10px
                                    position: relative
                                    @include responsivo(telefonoTable)
                                        font-size: 16px
                                    @include responsivo(pcMedio)
                                        font-size: 18px
                                        top: -2.5px
                                    @include responsivo(general)
                                        font-size: 20px
                                    @include responsivo(smallPcTablet)
                                        font-size: 18px
                                        width: 150px!important
                            .text
                                font-family: Nunito
                                font-style: normal
                                font-weight: 600
                                font-size: 14px
                                line-height: 1
                                display: flex
                                align-items: center
                                letter-spacing: -1px
                                color: #797979
                                margin-bottom: 10px
                                @include responsivo(telefonoTable)
                                    font-size: 12px
                                @include responsivo(pcMedio)
                                    font-size: 12px
                                @include responsivo(general)
                                    font-size: 12px
                            .stars
                                margin-bottom: 10px
                                .containerImage
                                    padding: 0
                                    margin: 0!important
                                    img
                                        margin-left: 0!important
                                        @include responsivo(telefonoTable)
                                            height: 18px!important
                                        @include responsivo(pcMedio)
                                            height: 18px
                                        @include responsivo(general)
                                            height: 20px
                                        @include responsivo(resto)
                                            height: 20px           
            
            .ele2.logos_empresas
                display: flex
                justify-content: center
                align-items: center
                gap: 24px
            
                span
                    color: #2C4857
                    font-family: Nunito
                    font-size: 15px
                    font-weight: 700
                    line-height: 1
                    letter-spacing: -0.3px
                img
                    box-shadow: 0px 4px 20px 0px rgba(54, 118, 138, 0.25)
                    border-radius: 13px
                    height: 65px




#homeSection_2025 .customSection.sectionParent.home_2025_2
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    padding: 80px 0px 
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 95%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1000px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1350px!important
     

        .innerSectionElement.sct1
            
            .containElements
                display: flex
                justify-content: center

                h2.title
                    color: #2C4857
                    text-align: center
                    font-family: Nunito
                    font-size: 42.5px
                    font-style: normal
                    font-weight: 700
                    letter-spacing: -2px
                    line-height: 1
                    width: 647px
                    @include responsivo(telefonoTable)
                        font-size: 25px
                    @include responsivo(pcMedio)
                        font-size: 30px
                    @include responsivo(general)
                        font-size: 42.5px
                    @include responsivo(resto)
                        font-size: 45px
                img
                    width: auto
                    height: 290px




#homeSection_2025 .customSection.sectionParent.home_2025_3
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    padding-bottom: 80px
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 95%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1000px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1000px!important
     

        .innerSectionElement.sct1
            
            .info
                background-color: #fff
                box-shadow: 0px 4px 70px 0px rgba(54, 118, 138, 0.10)
                border-radius: 30px
                padding: 80px 50px 0px 50px

                h2.title
                    color: #2C4857
                    text-align: center
                    font-family: Nunito
                    font-size: 42.5px
                    font-style: normal
                    font-weight: 700
                    letter-spacing: -2px
                    line-height: 1
                    margin-bottom: 40px
                    @include responsivo(telefonoTable)
                        font-size: 25px
                    @include responsivo(pcMedio)
                        font-size: 30px
                    @include responsivo(general)
                        font-size: 42.5px
                    @include responsivo(resto)
                        font-size: 45px

                .innerSectionElement.sct0
                    display: flex
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    .itemsList
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-between
                        list-style: none
                        align-items: center
                        padding: 0
                        margin: 0
                        @include responsivo(telefonoTable)
                            flex-direction: column
                            align-items: center
                            justify-content: center
                        img
                            height: 50px
                            @include responsivo(telefonoTable)
                                height: 35px
                            @include responsivo(pcMedio)
                                height: 35px
                        li
                            width: 45% // Controla el ancho de cada lado
                            margin-bottom: 20px
                            display: flex
                            gap: 20px
                            font-family: Nunito
                            font-style: normal
                            font-weight: 600
                            text-align: left
                            font-size: 22px
                            line-height: 1.2
                            letter-spacing: -0.02em
                            color: #322C2E
                            @include responsivo(telefonoTable)
                                font-size: 16px
                                width: 100%
                                margin-left: 0
                            @include responsivo(pcMedio)
                                font-size: 16px
                            @include responsivo(general)
                                font-size: 20px
                            @include responsivo(smallPcTablet)
                                font-size: 18px
                            &:nth-child(odd) // Los elementos impares van al lado izquierdo
                                margin-right: auto
                            &:nth-child(even) // Los elementos pares van al lado derecho
                                margin-left: auto
                            span
                                span.title
                                    color: #322C2E!important
                                    font-weight: 700!important
                
                
                .innerSectionElement.sct0_1
                    position: relative
                    top: 45px
                    margin-bottom: 55px
                    .containElements
                        display: flex
                        justify-content: center
                        align-items: center
                        gap: 20px
                        .items
                            background-color: #2C4857                            
                            border-radius: 30px
                            text-align: center
                            padding: 32px
                            min-height: 200px
                            width: 350px
                            
                            h3.subTitle
                                color: #A4E7EA
                                font-family: Nunito
                                font-size: 60px
                                font-weight: 700
                                line-height: 1                               
                            span
                                display: block
                                color: #FFF
                                font-family: Nunito
                                font-size: 22px
                                font-weight: 600
                                line-height: 1
                                span        
                                    font-size: 35px!important     
            .text
                font-size: 16px
                color: #706B6D
            .btnCenter
                margin-top: 25px



#homeSection_2025 .customSection.sectionParent.home_2025_4
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    padding-bottom: 80px
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 95%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1000px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1000px!important
     

        .innerSectionElement.sct1
            
            .info
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                padding: 0px 50px 0px 50px

                h2.title
                    color: #2C4857
                    text-align: center
                    font-family: Nunito
                    font-size: 42.5px
                    font-style: normal
                    font-weight: 700
                    letter-spacing: -2px
                    line-height: 1
                    margin-bottom: 40px
                    width: 530px

                    @include responsivo(telefonoTable)
                        font-size: 25px
                    @include responsivo(pcMedio)
                        font-size: 30px
                    @include responsivo(general)
                        font-size: 42.5px
                    @include responsivo(resto)
                        font-size: 45px

                span.subTitle
                    color: #007F96
                    text-align: center
                    font-size: 37.5px
                    font-weight: 700
                    line-height: 1                 
                    width: 600px
                    padding-bottom: 40px

                .innerSectionElement.sct0
                    display: flex
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    position: relative
                    left: 55px
                    .itemsList
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-between
                        list-style: none
                        align-items: center
                        padding: 0
                        margin: 0
                        @include responsivo(telefonoTable)
                            flex-direction: column
                            align-items: center
                            justify-content: center
                        img
                            height: 50px
                            @include responsivo(telefonoTable)
                                height: 35px
                            @include responsivo(pcMedio)
                                height: 35px
                        li
                            width: 45% // Controla el ancho de cada lado
                            margin-bottom: 15px
                            display: flex
                            align-items: center
                            gap: 20px
                            font-family: Nunito
                            font-style: normal
                            font-weight: 600
                            text-align: left
                            font-size: 22px
                            line-height: 1.2
                            letter-spacing: -0.02em
                            color: #322C2E
                            @include responsivo(telefonoTable)
                                font-size: 16px
                                width: 100%
                                margin-left: 0
                            @include responsivo(pcMedio)
                                font-size: 16px
                            @include responsivo(general)
                                font-size: 20px
                            @include responsivo(smallPcTablet)
                                font-size: 18px
                            &:nth-child(odd) // Los elementos impares van al lado izquierdo
                                margin-right: auto
                            &:nth-child(even) // Los elementos pares van al lado derecho
                                margin-left: auto
                


#homeSection_2025 .customSection.sectionParent.home_2025_5
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    padding-bottom: 80px
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 95%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1000px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1275px!important
     

        .innerSectionElement.sct1

            .containElements
                display: flex
                justify-content: center
                flex-direction: column
                align-items: center
                h2.title
                    color: #007F96
                    text-align: center
                    font-size: 37.5px
                    font-weight: 700
                    line-height: 1                 

                span.text
                    color: #322C2E
                    text-align: center
                    font-size: 22px
                    font-weight: 600
                    line-height: 1             
                .containerImg
                    padding: 30px 0px 50px 0px
                    img 
                        width: auto
                        height: 250px


#homeSection_2025 .customSection.sectionParent.home_2025_6
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    padding-bottom: 80px
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 95%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1000px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1275px!important
     

        .innerSectionElement.sct1

            .groupElements
                .info
                    h2.title
                        color: #007F96
                        text-align: center
                        font-size: 37.5px
                        font-weight: 700
                        line-height: 1                 

                    span.text
                        color: #322C2E
                        text-align: center
                        font-size: 22px
                        font-weight: 600
                        line-height: 1             

            div.containerImg
                padding: 30px 0px 50px 0px
                img 
                    width: auto
                    height: 370px





#homeSection_2025 .customSection.sectionParent.home_2025_7
    padding-top: 0
    padding-bottom: 0
    margin-bottom: 0
    position: relative
    @include responsivo(telefonoTable)
        padding-top: 0
        padding-bottom: 0
        margin-bottom: 0
    @include responsivo(pcMedio)
        padding-bottom: 0
        padding-top: 0
        margin-bottom: 0
    .backgroundFull
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        overflow: visible
        @include responsivo(telefonoTable)
            background-position: center
            padding: 25px 0!important
        @include responsivo(pcMedio)
            background-position: center
            padding: 50px 0!important
        @include responsivo(general)
            padding-top: 25px
            padding-bottom: 50px
        @include responsivo(smallPcTablet)
            padding-bottom: 50px
        @include responsivo(resto)
            padding-top: 25px
            padding-bottom: 50px

    .section-row
        display: flex
        flex-direction: column
        position: relative
        z-index: 5
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 80%
            padding-top: 0
            padding-bottom: 0
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px!important
        @include responsivo(smallPcTablet)
            width: 100%!important
            max-width: 900px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1240px!important

        .innerSectionElement.sct2
            margin: auto
            @include responsivo(general)
                width: 80%
            @include responsivo(resto)
                width: 80%
            .groupElements
                width: 100%
                .info
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: flex-start
                    @include responsivo(telefonoTable)
                        margin-bottom: 25px
                        align-items: center
                    @include responsivo(pcMedio)
                        margin-bottom: 25px
                        align-items: center
                    .secondaryTitle
                       
                        text-align: left
                        color: #00506E
                        span
                            color: white
                        @include responsivo(telefonoTable)
                            text-align: center
                        @include responsivo(pcMedio)
                            text-align: center


                .image
                    position: relative
                    @include responsivo(telefonoTable)
                        margin-bottom: 25px
                    @include responsivo(pcMedio)
                        margin-bottom: 25px
                    @include responsivo(general)
                        left: -100px
                    @include responsivo(resto)
                        left: -100px
                    .containerImage
                        margin-bottom: 0
                        padding-bottom: 0
                        img
                            @include responsivo(telefonoTable)
                                height: 150px
                            @include responsivo(pcMedio)
                                height: 200px
                            @include responsivo(general)
                                height: 275px
                            @include responsivo(resto)
                                height: 300px
