
@import "../common/global"

#homeBootstrap
    .customSection.sectionParent

        .primaryTitle
            font-family: Nunito
            font-style: normal
            font-weight: bold
            font-size: 30px!important
            line-height: 35px!important
            text-align: center
            @include responsivo(telefonoTable)
                font-family: Nunito
                font-style: normal
                font-weight: bold
                font-size: 20px!important
                line-height: 22px!important


        .innerSectionElement.sct1
            .primaryText
                font-family: Nunito
                font-style: normal
                font-weight: normal
                font-size: 18px
                line-height: 24px
                text-align: center
                @include responsivo(telefonoTable)
                    font-family: Nunito
                    font-style: normal
                    font-weight: normal
                    font-size: 15px
                    line-height: 20px
                    br
                        display: none!important



        .primaryText,
        a.hiperButtonGreenBlue
            font-family: Nunito
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 22px
            @include responsivo(telefonoTable)
                font-family: Nunito
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 14px
                text-align: center

        .secondaryTitle
            font-family: Nunito
            font-style: normal
            font-weight: bold
            font-size: 25px
            line-height: 26px
            @include responsivo(telefonoTable)
                font-family: Nunito
                font-style: normal
                font-weight: bold
                font-size: 16px
                line-height: 16px

    // .section-row
        // br
            // @include responsivo(telefonoTable)
                // display: none!important
            // @include responsivo(pcMedio)
                // display: none!important



#homeBootstrap .customSection.sectionParent.homeSection0
    background-color: $colorBlueLight
    padding-top: 75px
    padding-bottom: 0
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1275px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1300px!important
        .containerImage
            margin: 0
            padding: 0
    .backgroundFull
        background-position: 0 -380px
        background-repeat: no-repeat
        background-size: cover
        padding-bottom: 0
    .section-row
        .innerSectionElement.sct1
            .groupElements
                // padding-bottom: 100px
                @include responsivo(telefonoTable)
                    padding-bottom: 75px

                @include responsivo(pcMedio)
                    padding-bottom: 50px

                .info
                    @include responsivo(telefonoTable)
                        margin-bottom: 0
                    @include responsivo(pcMedio)
                        margin-bottom: 0
                    @include responsivo(general)
                        margin-top: auto
                        padding-top: 0
                    @include responsivo(resto)
                        margin-top: auto
                        padding-top: 50px
                    .containElements
                        position: relative
                        padding-bottom: 0
                        display: flex
                        flex-direction: row
                        @include responsivo(telefonoTable)
                            flex-direction: column-reverse
                        @include responsivo(pcMedio)
                            flex-direction: column-reverse
                        .ele
                            .principalBigTitle
                                font-family: Nunito
                                font-style: normal
                                font-weight: bold
                                font-size: 37px
                                line-height: 38px
                                text-align: center
                                letter-spacing: -2px
                                margin-bottom: 25px
                                @include responsivo(telefonoTable)
                                    font-size: 25px
                                    line-height: 30px


                            .principalBigText
                                font-family: Nunito
                                font-style: normal
                                font-weight: normal
                                font-size: 20px
                                line-height: 21px
                                text-align: center
                                letter-spacing: -0.03em
                                margin-bottom: 40px
                                @include responsivo(telefonoTable)
                                    margin-bottom: 25px
                                    font-weight: normal
                                    font-size: 18px
                                    line-height: 20px
                                @include responsivo(pcMedio)
                                    margin-bottom: 25px
                                @include responsivo(general)
                                    width: 50vw
                                @include responsivo(resto)
                                    width: 700px
                        .ele2
                            @include responsivo(specialTexts)
                                position: relative
                                top: -3vw

                            @include responsivo(general)
                                margin-top: 10px
                            @include responsivo(resto)
                                margin-top: 10px


                        .containerImage
                            img
                                @include responsivo(telefonoTable)
                                    min-height: 300px!important

                                @include responsivo(general)
                                    height: max(7.5vw, 450px)
                                @include responsivo(resto)
                                    height: 500px






                .form7
                    padding: 0
                    margin-bottom: 50px
                    .formatForm
                        @include responsivo(telefonoTable)
                            margin: 0 auto
                        @include responsivo(pcMedio)
                            margin: 0 auto
                        span.wpcf7-form-control-wrap.your-phone
                            display: flex
                            justify-content: space-around
                        label
                            // font-size: 15px!important
                            // line-height: 15px!important
                            margin-bottom: 1px
                            margin-top: 9px
                            // color:#858585!important
                    select
                        font-weight: 200!important
                    // input
                    //     padding-top: 12.5px
                    //     padding-bottom: 12.5px
                    input.wpcf7-form-control.wpcf7-submit
                        padding: 0 20px!important
                        font-size: 18px!important
                    .customField
                        margin: 12.5px 0!important
                    .customField.radioSelect
                        span.wpcf7-form-control.wpcf7-radio
                            span.wpcf7-list-item
                                &:nth-of-type(2)
                                    span.wpcf7-list-item-label
                                        color: $colorOrange
                    select[multiple]
                        @include responsivo(general)
                            height: 75px!important
                        @include responsivo(resto)
                            height: 75px!important

    .backgroundPlanets
        background-position: center 0
        background-repeat: no-repeat
        background-size: 90% auto
        opacity: 1
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s
        height: 100%
        width: 100%
        top: 0
        left: 0
        right: 0
        position: absolute
        @include responsivo(telefonoTable)
            top: 0
            // background-position: center 2.5%
            background-size: 100% auto
        @include responsivo(pcMedio)
            // background-position: center 2.5%
            background-size: 100% auto
            top: 0



#homeBootstrap .customSection.sectionParent.homeSection1
    @include responsivo(telefonoTable)
        padding: 50px 0
    @include responsivo(pcMedio)
        padding: 50px 0
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1240px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1240px!important
    .innerSectionElement.sct1
        margin-bottom: 25px
        .containElements
            .primaryTitle,
            p.primaryText
                text-align: center

    .innerSectionElement.sct2
        .containElements
            padding: 10px
            .elements
                .containerImage
                    img

                        height: 165px
                        // display: none
                        margin: 0 auto
                .secondaryTitle
                    text-align: center
                @include responsivo(telefonoTable)
                    .containerImage
                        margin-bottom: 10px!important
                        img
                            // display: none
                            height: 125px!important
                @include responsivo(pcMedio)
                    .containerImage
                        margin-bottom: 10px!important
                        img
                            height: 175px!important

                    // letter-spacing: -1px


#homeBootstrap .customSection.sectionParent.homeSection2
    background-color: $colorBlueLight
    @include responsivo(telefonoTable)
        padding: 50px 0
    @include responsivo(pcMedio)
        padding: 50px 0
    .section-row
        @include responsivo(telefonoTable)
            width: 98%
        @include responsivo(pcMedio)
            width: 98%
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1250px!important
    .innerSectionElement.sct1
        margin-bottom: 50px
        .containElements
            .primaryTitle,
            p.primaryText
                text-align: center

    .innerSectionElement.sct2
        .groupElements
            @include responsivo(telefonoTable)
                width: 90%!important
                margin-left: auto
                margin-right: auto
                display: flex
                justify-content: center
                align-content: center

            @include responsivo(pcMedio)
                width: 100%!important
                margin-left: auto
                margin-right: auto
                display: flex
                justify-content: center
                align-content: center

            .infoGroup
                display: flex
                flex-direction: row
                .containerImage
                    img
                        height: 175px!important
                        width: 165px!important
                .containerElements
                    padding: 10px
                    .secondaryTitle
                        margin-bottom: 10px

                    @include responsivo(general)
                        height: 140px
                        margin: auto 0
                    @include responsivo(resto)
                        height: 140px
                        margin: auto 0
                @include responsivo(telefonoTable)
                    flex-direction: column
                    margin-bottom: 30px
                    .containerImage
                        display: flex
                        img
                            margin: 0 auto
                            width: auto!important
                            height: 125px!important
                    .containerElements
                        display: flex
                        justify-content: center
                        flex-direction: column
                        *
                            text-align: center
                        a
                            margin-left: auto
                            margin-right: auto
                @include responsivo(pcMedio)
                    flex-direction: column
                    margin-bottom: 30px
                    .containerImage
                        display: flex
                        img
                            margin: 0 auto
                            width: auto!important
                            height: 165px!important
                    .containerElements
                        display: flex
                        justify-content: center
                        flex-direction: column
                        *
                            text-align: center
                        a
                            margin-left: auto
                            margin-right: auto



#homeBootstrap .customSection.sectionParent.homeSection3
    padding-bottom: 60px
    @include responsivo(telefonoTable)
        margin-bottom: 25px
    @include responsivo(pcMedio)
        margin-bottom: 25px
    .backgroundFull.sct1
        background-position: center
        background-size: cover
        height: 300px
        position: relative
        display: flex
        @include responsivo(telefonoTable)
            height: 225px!important
        @include responsivo(pcMedio)
            height: 250px!important
        .imageBackground
            position: absolute
            left: -10%
            right: 0
            bottom: 0
            top: 22%
            margin: auto
            width: 80%
            display: block
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            // margin: 0
            @include responsivo(telefonoTable)
                background-position: 0 100%!important
                top: 0
                left: 0
            @include responsivo(pcMedio)
                background-position: 0 100%!important
                top: 0
                left: 0
        .section-row
            margin: auto
            margin-bottom: 50px
            .containElements
                .primaryTitle
                    text-align: center
                    margin-bottom: 25px
                    color: $colorWhite
                    font-weight: 600
                    @include responsivo(telefonoTable)
                        margin-bottom: 30px!important
                    @include responsivo(pcMedio)
                        margin-bottom: 30px!important
                a.primaryButton
                    // margin: 0 auto
                    margin-left: auto
                    margin-right: auto
                    display: block
                    width: fit-content


#homeBootstrap .customSection.sectionParent.homeSection4
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1175px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1400px!important
    .innerSectionElement.sct1
        margin-bottom: 50px
        .containElements
            .primaryTitle
                text-align: center
    .innerSectionElement.sct2
        display: flex
        .groupElements
            width: 80%
            margin: 0 auto
            margin-right: 7.5%
            @include responsivo(telefonoTable)
                margin: 0 auto
                display: flex
                flex-direction: column
                width: fit-content
            @include responsivo(pcMedio)
                margin: 0 auto
                display: flex
                flex-direction: column
                width: fit-content
            @include responsivo(general)
                width: 90%
                display: grid !important
                grid-template-columns: repeat(8, 1fr)
                grid-gap: 0
                grid-auto-rows: 75px
                grid-template-areas: "a a a a . . . ." "a a a a b b b b" ". . . . b b b b" "c c c c . . . ." "c c c c d d d d" ". . . . d d d d" "e e e e d d d d" "e e e e . . . ."

            @include responsivo(resto)
                display: grid !important
                grid-template-columns: repeat(8, 1fr)
                grid-gap: 0
                grid-auto-rows: 75px
                grid-template-areas: "a a a a . . . ." "a a a a b b b b" ". . . . b b b b" "c c c c . . . ." "c c c c d d d d" ". . . . d d d d" "e e e e d d d d" "e e e e . . . ."

            .infoGroup
                @include responsivo(general)
                    &:nth-of-type(1)
                        grid-area: a
                        align-self: center
                        justify-self: center
                    &:nth-of-type(2)
                        grid-area: b
                        align-self: center
                        justify-self: center
                    &:nth-of-type(3)
                        grid-area: c
                        align-self: center
                        justify-self: center
                    &:nth-of-type(4)
                        grid-area: d
                        align-self: center
                        justify-self: center
                    &:nth-of-type(5)
                        grid-area: e
                        align-self: center
                        justify-self: center


                @include responsivo(resto)
                    &:nth-of-type(1)
                        grid-area: a
                        align-self: center
                        justify-self: center
                    &:nth-of-type(2)
                        grid-area: b
                        align-self: center
                        justify-self: center
                    &:nth-of-type(3)
                        grid-area: c
                        align-self: center
                        justify-self: center
                    &:nth-of-type(4)
                        grid-area: d
                        align-self: center
                        justify-self: center
                    &:nth-of-type(5)
                        grid-area: e
                        align-self: center
                        justify-self: center


            .infoGroup
                display: flex
                // margin: 0 auto
                justify-content: flex-start
                align-content: flex-start
                margin-bottom: 0
                width: 100%
                position: relative
                @include responsivo(telefonoTable)
                    margin-bottom: 25px
                    flex-direction: row!important
                    // display: block
                @include responsivo(pcMedio)
                    margin-bottom: 25px



                .containerImage
                    padding: 0!important
                    // width: 250px
                    margin: 0
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    // right: 0
                    margin: auto
                    display: flex
                    justify-content: center
                    align-content: center
                    @include responsivo(telefonoTable)
                        position: unset
                        margin: 0
                        margin-bottom: 10px
                        margin-right: 25px
                    @include responsivo(pcMedio)
                        position: unset
                        margin: 0
                        margin-bottom: 10px
                        margin-right: 50px
                    img
                        height: 125px
                        // width: 100px
                        width: auto
                        margin: auto!important
                        @include responsivo(general)
                            height: 110px


                .containerElements
                    padding-left: 22.5%
                    @include responsivo(telefonoTable)
                        padding: 0
                    @include responsivo(pcMedio)
                        padding: 0
                h3.secondaryTitle.blackColor
                    @include responsivo(telefonoTable)
                        font-family: Nunito
                        font-style: normal
                        font-weight: bold
                        font-size: 17px
                        line-height: 20px

                .primaryText
                    position: relative
                    display: block
                    padding-left: 12.5px
                    @include responsivo(telefonoTable)
                        font-family: Nunito
                        font-style: normal
                        font-weight: normal
                        font-size: 12px
                        line-height: 14px
                        padding-left: 0
                        span
                            font-family: Nunito
                            font-style: normal
                            font-weight: bold
                            font-size: 12px
                            line-height: 16px


                    &::before
                        content: ''
                        border-left: 1px solid $colorGreenBlue
                        left: 0
                        top: 5px
                        bottom: 0
                        height: 85%
                        width: 1px
                        margin: auto 0
                        display: block
                        position: absolute
                    span
                        position: relative
                        top: 5px
                        margin: 5px 0
                        font-size: 14px

                    @include responsivo(telefonoTable)
                        padding-bottom: 12.5px
                        margin-bottom: 12.5px
                        &::before
                            display: none

                @include responsivo(telefonoTable)
                    flex-direction: column
                    margin-bottom: 30px
                    .containerImage
                        display: flex
                        margin-right: 20px!important
                        img
                            height: 100px
                            margin: auto!important
                    .containerElements
                        display: flex
                        justify-content: center
                        flex-direction: column
                        *
                            text-align: left
                        a
                            margin-left: auto
                            margin-right: auto
            .infoGroup.full
                width: 80%
                margin: 0 auto
                @include responsivo(telefonoTable)
                    width: 100%

                // display: block

#homeBootstrap .customSection.sectionParent.homeSection5
    background-color: $colorBlueLight
    padding-bottom: 0
    padding-top: 17.5px
    @include responsivo(telefonoTable)
        padding-top: 50px
    @include responsivo(pcMedio)
        padding-top: 50px
    .innerSectionElement.sct1
        .groupElements
            .info
                display: flex
                .containElements
                    height: fit-content
                    margin: auto
                    .primaryTitle
                        margin-bottom: 25px
                        text-align: left
                    p.primaryText
                        margin-bottom: 25px
                        text-align: left
                        // font-size: 18p
                    // a.primaryButton
                    @include responsivo(telefonoTable)
                        display: flex
                        flex-direction: column
                        margin-bottom: 50px
                        .primaryTitle
                            text-align: center
                            margin-bottom: 25px!important
                        p.primaryText
                            text-align: center
                            margin-bottom: 25px!important
                        a.primaryButton
                            margin: 0 auto

                    @include responsivo(pcMedio)
                        display: flex
                        flex-direction: column
                        margin-bottom: 50px
                        .primaryTitle
                            text-align: center
                        p.primaryText
                            text-align: center
                        a.primaryButton
                            margin: 0 auto


            .image
                .containerImage
                    padding-bottom: 0
                    margin-bottom: 0
                    img
                        height: 500px
                        margin-left: auto!important
                        // margin-right:
                        margin-right: 0
                    @include responsivo(telefonoTable)
                        margin-bottom: 0!important
                        display: flex
                        img
                            margin: 0 auto
                            height: 315px!important

                    @include responsivo(pcMedio)
                        margin-bottom: 0!important
                        display: flex
                        img
                            margin: 0 auto
                            height: 430px!important





#homeBootstrap .customSection.sectionParent.homeSection6
    padding-top: 75px
    padding-bottom: 50px
    .section-row
        @include responsivo(telefonoTable)
            width: 90%
        @include responsivo(pcMedio)
            width: 75%
        @include responsivo(general)
            width: 100%!important
            max-width: 1200px!important
        // @include responsivo(resto)
            // width: 100%!important
            // max-width: 1275px!important

    .innerSectionElement.sct1
        margin-bottom: 50px
        .containElements
            .primaryTitle
                text-align: center
        @include responsivo(telefonoTable)
            margin-bottom: 30px
        @include responsivo(pcMedio)
            margin-bottom: 30px
    .innerSectionElement.sct2

        .groupElements.row
            display: flex
            flex-flow: row wrap
            height: 100%
            justify-content: center
            margin-bottom: 50px
            @include responsivo(telefonoTable)
                margin-bottom: 0
            @include responsivo(pcMedio)
                margin-bottom: 0
            &::before
                display: block

            .testimonial
                box-sizing: border-box
                padding: 0 25px


                .containElements.mobileElement
                    @include responsivo(telefonoTable)
                        padding-bottom: 15px
                    @include responsivo(pcMedio)
                        padding-bottom: 15px
                .containElements
                    background-color: $colorGreyLight
                    height: 100%
                    padding: 40px 25px
                    // height: 525px
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    // margin: 30px
                    @include responsivo(telefonoTable)
                        padding-bottom: 0

                    @include responsivo(pcMedio)
                        padding-bottom: 0

                    @include responsivo(general)
                        padding-bottom: 10px!important

                    @include responsivo(resto)
                        padding-bottom: 10px!important



                    @include responsivo(resto)
                        padding: 40px

                    .secondaryTitle
                        font-size: 22px
                        @include responsivo(telefonoTable)
                            text-align: center
                            font-family: Nunito
                            font-style: normal
                            font-weight: bold
                            font-size: 16px
                            line-height: 16px
                            text-align: center
                        @include responsivo(pcMedio)
                            text-align: center
                    span.tag
                        font-family: Nunito
                        font-style: normal
                        font-weight: bold
                        font-size: 14px
                        line-height: 19px
                        margin-bottom: 16px
                    p
                        font-family: Nunito
                        font-style: normal
                        font-weight: 300
                        font-size: 14px
                        line-height: 19px
                        @include responsivo(telefonoTable)
                            font-family: Nunito
                            font-style: normal
                            font-weight: normal
                            font-size: 12px
                            line-height: 14px
                            text-align: center

                        @include responsivo(pcMedio)



                    .referElements
                        display: flex
                        justify-content: space-between
                        padding: 25px 0
                        @include responsivo(telefonoTable)
                            padding-top: 0
                        @include responsivo(pcMedio)
                            padding-top: 0
                        .containerImage
                            margin: 0
                            img
                                height: auto
                                max-height: 75px
                                max-width: 125px
                                width: auto
                        .info
                            display: flex
                            flex-direction: column
                            justify-content: flex-end
                            align-items: flex-end
                            align-content: flex-end
                            .tertiaryTitle,
                            .commonText
                                font-family: Nunito
                                font-style: normal
                                font-weight: bold
                                font-size: 14px
                                line-height: 19px
                                text-align: right
                            .commonText
                                font-weight: 300
                                margin-bottom: 0
                    .commonText
                        line-height: 19px
                        @include responsivo(telefonoTable)
                            text-align: center
                        @include responsivo(pcMedio)
                            text-align: center
                @include responsivo(telefonoTable)
                    padding: 20px!important
                    height: fit-content!important
                    .commonTitle,
                    span.tag
                        text-align: center
                    .containElements
                        height: auto!important
                        p
                            margin-bottom: 25px!important
                        .referElements
                            flex-direction: column!important
                            .containerImage
                                margin-bottom: 15px!important
                            p,h3
                                text-align: center!important
                                width: 100%!important
                @include responsivo(pcMedio)
                    padding: 20px!important
                    height: fit-content!important
                    .commonTitle,
                    span.tag
                        text-align: center
                    .containElements
                        height: auto!important
                        p
                            margin-bottom: 25px!important
                        .referElements
                            flex-direction: column!important
                            .containerImage
                                margin-bottom: 15px!important
                            p,h3
                                text-align: center!important
                                width: 100%!important
        // margin: 50px 0



#homeBootstrap .customSection.sectionParent.homeSection7

    // display: none
    background-color: white
    .section-row
        // padding-top: 60px
        padding-bottom: 50px
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1000px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1100px!important
    .innerSectionElement.sct1
        margin-bottom: 60px
        .containElements
            .primaryTitle
                margin-bottom: 0
                text-align: center
        @include responsivo(telefonoTable)
            margin-bottom: 60px
        @include responsivo(pcMedio)
            margin-bottom: 60px
    ul
        list-style: none

    .innerSectionElement.sct2
        position: relative
        z-index: 1
        div#accordionPanelsFAQ
            z-index: 10
        .overlay1
            margin: auto 0
            top: 0
            left: -75px
            bottom: 0
            position: absolute
            display: block
            height: 400px
            width: auto
            z-index: -1
            @include responsivo(telefonoTable)
                height: 250px
                left: -10px
            @include responsivo(pcMedio)
                height: 250px
                left: -10px
        .overlay2
            margin: auto 0
            margin-top: 0
            right: -75px
            top: 0
            bottom: 0
            position: absolute
            display: block
            height: 400px
            width: auto
            z-index: -1
            transform: rotate(180deg)
            @include responsivo(telefonoTable)
                height: 250px
                right: -10px
            @include responsivo(pcMedio)
                height: 250px
                right: -10px

        .overlay3
            margin: auto 0
            margin-top: 5%
            right: -75px
            // top: 0
            bottom: 0
            position: absolute
            height: 400px
            width: auto
            z-index: -1
            transform: rotate(180deg)
            display: none
            @include responsivo(telefonoTable)
                height: 250px
                right: -10px
            @include responsivo(pcMedio)
                height: 250px
                right: -10px




#homeBootstrap .customSection.sectionParent.homeSection8
    padding: 25px 0 75px!important
    background-color: white
    .section-row
        .containElements
            display: flex
            flex-direction: column
            .primaryTitle
                margin-bottom: 25px
            .primaryButton
                margin: 0 auto



body.template-open-webinar-escala-meeting header .elementor-container.elementor-column-gap-default
    @include responsivo(telefonoTable)
        width: 100%
    @include responsivo(pcMedio)
        width: 100%



#webinarMeeting-Bootstrap
    padding: 175px 0
    padding-bottom: 150px

    @include responsivo(telefonoTable)
        padding-bottom: 100px
        padding-top: 100px
    @include responsivo(pcMedio)
        padding-bottom: 100px
        padding-top: 150px
    .backgroundPlanets
        background-position: 50px 180px
        background-repeat: no-repeat
        background-size: 100% auto
        @include responsivo(telefonoTable)
            top: 0
            background-position: 8px 100px
            background-size: 100% auto
        @include responsivo(pcMedio)
            background-position: 8px 150px
            background-size: 100% auto
            top: 0




.showMore
    margin: 30px 0!important
    .containElements
        display: flex
        a
            display: block
            margin: 0 auto
            color: white
            background-color: #C4C4C4
            padding-left: 50px!important
            padding-right: 50px!important