

.section.sectionParentComponent.component_forms_steps
    .sectionsInner
        .customSection.sectionParent.component_forms_steps_0
            padding: 0
            .inner-section
                .innerSectionElement.sct0
                    .containElements
                        .formElement
                            display: none
                            &.active
                                display: block