

.customSection.sectionParent.component-header-t1.bg-image.overlay.fullWidth
    .section-row
        // height: 750px
    .backgroundFull
        background-position: 0px -100px
        background-size: cover
        position: relative
        background-repeat: no-repeat
        padding-top: 200px
        @include responsivo(telefonoTable)
            padding-top: 150px!important
            padding-bottom: 50px!important
        @include responsivo(pcMedio)
            padding-top: 150!important
            padding-bottom: 50px!important
        .backgroundPlanets
            background-position: 50px 200px
            background-repeat: no-repeat
            background-size: 100% auto
            opacity: 1
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s
            height: 100%
            width: 100%
            top: -10%
            left: 0
            position: absolute
            @include responsivo(telefonoTable)
                background-position: 2.5% 2.5%
                background-size: initial
            @include responsivo(pcMedio)
                background-position: 8px 184px
                background-size: 100% auto

    .innerSectionElement
        // display: none
        // z-index: 1
        .groupElements
            .info
                .containElements
                    img
                        height: 380px
                    @include responsivo(telefonoTable)
                        // display: none
                        img
                            height: 225px!important
                        .principalBigTitle,
                        .principalBigText,
                        .containerImage
                            text-align: center!important
                    @include responsivo(pcMedio)
                        img
                            height: 320px
                        .principalBigTitle,
                        .principalBigText,
                        .containerImage
                            text-align: center!important
            .form7
                padding: 0 50px
                @include responsivo(telefonoTable)
                    padding: 0!important
                @include responsivo(pcMedio)
                    padding: 0 5%!important


.customSection.sectionParent.component-header-t1.bg-color
    padding-top: 200px
    @include responsivo(telefonoTable)
        padding-top: 150px
        padding-bottom: 50px
    @include responsivo(pcMedio)
        padding-top: 175px
        padding-bottom: 50px
    // .section-row
    .innerSectionElement
        // display: none
        // z-index: 1
        .groupElements
            .info
                .containElements
                    img
                        height: 380px
                    @include responsivo(telefonoTable)
                        // display: none
                        img
                            height: 225px!important
                        .principalBigTitle,
                        .principalBigText,
                        .containerImage
                            text-align: center!important
                    @include responsivo(pcMedio)
                        img
                            height: 320px
                        .principalBigTitle,
                        .principalBigText,
                        .containerImage
                            text-align: center!important
            .form7
                padding: 0 50px
                @include responsivo(telefonoTable)
                    padding: 0!important
                @include responsivo(pcMedio)
                    padding: 0 5%!important


.customSection.sectionParent.component-header-t1.threeCol
    .groupElements

        .info
            padding-top: 2.5%
            @include responsivo(telefonoTable)
                margin-bottom: 25px
            @include responsivo(pcMedio)
                margin-bottom: 25px
            .containElements.threeCol.row


                .ele
                    @include responsivo(telefonoTable)
                        padding-left: 2.5%!important
                        padding-right: 2.5%!important
                    @include responsivo(pcMedio)
                        padding-left: 2.5%!important
                        padding-right: 2.5%!important
                    .containerImage
                        img
                            height: 325px
                    // .principalBigTitle
                    //     font-size: 40px
                    //     line-height: 40px
                    //     font-weight: 700
                    //     font-family: "Nunito Sans", Sans-serif
                    //     margin-bottom: 20px
                    //     @include responsivo(telefonoTable)
                    //         font-size: 40px
                    //     @include responsivo(pcMedio)
                    //         font-size: 40px
                    p.principalBigText
                        width: auto!important
                    //     font-size: 20px
                    //     line-height: 26px
                    //     font-weight: 400!important
                    //     font-family: "Nunito Sans", sans-serif
                    //     @include responsivo(telefonoTable)
                    //         font-size: 20px
                    //         margin-bottom: 25px
                    //     @include responsivo(pcMedio)
                    //         font-size: 20px
                    //         margin-bottom: 25px

                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column-reverse
                    .principalBigTitle
                        font-size: 40px
                        line-height: 40px
                        // br
                            // display: block!important
                    .containerImage
                        img
                            height: 250px

                @include responsivo(pcMedio)
                    display: flex
                    flex-direction: column-reverse
                    .principalBigTitle
                        font-size: 40px
                        line-height: 40px
                    .containerImage
                        img
                            height: 300px

        .form7
            padding: 0
            padding-top: 1.5%
            .containElements
                .formatForm
                    margin: 0
                    // margin-left: 5%


.customSection.sectionParent.component-header-t1.func
    .backgroundFull
        background-position: 0 -380px
        background-repeat: no-repeat
        background-size: cover
    .groupElements
        .info
            // padding-top: 2.5
            .containElements
                // display: none
                .principalBigTitle
                    // display: none
                    font-size: 38px!important
                    line-height: 40px!important
                    font-weight: 700!important
                    font-family: "Nunito",Sans-serif
                    margin-bottom: 20px
                    @include responsivo(telefonoTable)
                        font-size: 36px!important
                    @include responsivo(pcMedio)
                        font-size: 36px!important
                p.principalBigText
                    font-size: 20px!important
                    line-height: 28px!important
                    font-weight: 400!important
                    color: $colorBlack!important
                    @include responsivo(telefonoTable)
                        font-size: 20px!important
                    @include responsivo(pcMedio)
                        font-size: 20px!important
                    @include responsivo(general)
                        width: 60vw!important
                    @include responsivo(resto)
                        width: 700px!important
                .containerImage
                    position: relative
                //     // display: none
                //     img
                //         height: 300px!important
                //         // display: none
        // .form7
            // .formatForm
                // width: 320pxllkk


