


// #124756
.component-headerBand-promo-T1.customSection.sectionParent
    background-color: #124756
    .section-row
        padding: 10px 0
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    font-size: 17px
                    line-height: 22.5px
                    text-align: center
                    margin-bottom: 0
                    color: white
                    a
                        color: white
                    @include responsivo(telefonoTable)
                        font-size: 14px
                    @include responsivo(pcMedio)
                        font-size: 15px



.headerband_blackFriday_promo_t2.customSection.sectionParent
    background-color: #FAD872
    .section-row
        padding: 15px 0
        @include responsivo(smallPcTablet)
            max-width: 1000px!important
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    text-align: center
                    margin-bottom: 0
                    color: white
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-content: center
                    align-items: center

                    @include responsivo(telefonoTable)
                        font-size: 14px
                        flex-direction: column!important
                    @include responsivo(pcMedio)
                        font-size: 15px
                        flex-direction: column!important

                    span
                        font-weight: 500
                        font-size: 22px
                        line-height: 1
                        letter-spacing: -0.02em
                        margin: 0 auto
                        display: block
                        @include responsivo(telefonoTable)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(pcMedio)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(general)
                            font-size: 20px

// section.headerband_special_1m_promo_t2.customSection.sectionParent



.headerband_whatsapp_T1.customSection.sectionParent
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding: 25px 0
    background-color: #E6FFDA
    .section-row
        padding: 15px 0
        @include responsivo(general)
            width: 100%
            max-width: 950px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%
            max-width: 1050px!important
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    text-align: center
                    margin-bottom: 0
                    color: white
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-content: center
                    align-items: center

                    @include responsivo(telefonoTable)
                        font-size: 14px
                        flex-direction: column!important
                    @include responsivo(pcMedio)
                        font-size: 15px
                        flex-direction: column!important

                    span
                        font-weight: 500
                        font-size: 22px
                        line-height: 1
                        letter-spacing: -0.02em
                        margin: 0 auto
                        display: block
                        @include responsivo(telefonoTable)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(pcMedio)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(general)
                            font-size: 20px

                        strong
                          color: #2C4857


.headerband_special_1m_promo_t2.customSection.sectionParent
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding: 25px 0
    .section-row
        padding: 15px 0
        @include responsivo(general)
            width: 100%
            max-width: 950px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%
            max-width: 1050px!important
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    text-align: center
                    margin-bottom: 0
                    color: white
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-content: center
                    align-items: center

                    @include responsivo(telefonoTable)
                        font-size: 14px
                        flex-direction: column!important
                    @include responsivo(pcMedio)
                        font-size: 15px
                        flex-direction: column!important

                    span
                        font-weight: 500
                        font-size: 22px
                        line-height: 1
                        letter-spacing: -0.02em
                        margin: 0 auto
                        display: block
                        @include responsivo(telefonoTable)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(pcMedio)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(general)
                            font-size: 20px

                        strong
                          color: #2C4857

                    // a
                        // display: none








