


// #124756
.component-headerBand-promo-T1.customSection.sectionParent
    background-color: #124756
    .section-row
        padding: 10px 0
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    font-size: 17px
                    line-height: 22.5px
                    text-align: center
                    margin-bottom: 0
                    color: white
                    a
                        color: white
                    @include responsivo(telefonoTable)
                        font-size: 14px
                    @include responsivo(pcMedio)
                        font-size: 15px



.headerband_blackFriday_promo_t2.customSection.sectionParent
    background-color: #FAD872
    position: absolute
    top: 135px
    z-index: 10
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    @include responsivo(telefonoTable)
        top: 75px
    @include responsivo(pcMedio)
        top: 85px
    @include responsivo(general)
        top: 125px
    .section-row
        padding: 20px 0
        @include responsivo(telefonoTable)
            padding-top: 40px
        @include responsivo(smallPcTablet)
            max-width: 1000px!important
        .innerSectionElement.sct1
            .containElements
                display: flex
                flex-direction: row
                justify-content: center
                align-content: center
                position: relative

                .hashTitle
                    color: #FFF
                    text-align: center
                    font-family: Nunito
                    font-size: 35px
                    font-style: normal
                    font-weight: 700
                    line-height: 1
                    display: flex
                    align-self: center
                    justify-self: center
                    @include responsivo(telefonoTable)
                        font-size: 18px
                        position: absolute
                        top: -25px
                    @include responsivo(pcMedio)
                        font-size: 25px
                    @include responsivo(general)
                        font-size: 32.5px
                    @include responsivo(smallPcTablet)
                        font-size: 30px
                    span
                        line-height: 1

                .text
                    color: #FFF
                    font-family: Nunito
                    font-size: 25px
                    font-style: normal
                    font-weight: 700
                    line-height: 1
                    letter-spacing: -1.04px
                    margin-bottom: 0
                    display: flex
                    justify-content: center
                    align-content: center
                    align-items: center
                    margin-left: 50px
                    margin-right: 50px
                    span
                        padding-left: 5px
                    @include responsivo(telefonoTable)
                        font-size: 14px
                        margin-left: 0
                        margin-right: 10px

                    @include responsivo(pcMedio)
                        font-size: 16px
                        margin-left: 25px
                        margin-right: 25px
                    @include responsivo(general)
                        font-size: 22.5px
                        margin-left: 35px
                        margin-right: 35px
                    @include responsivo(smallPcTablet)
                        font-size: 20px
                        margin-left: 25px
                        margin-right: 25px
                a.primaryButton
                    @include responsivo(telefonoTable)
                        font-size: 12px!important
                        padding-left: 7.5px!important
                        padding-right: 7.5px!important
                    @include responsivo(pcMedio)
                        font-size: 14px!important


.headerband_whatsapp_T1.customSection.sectionParent
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding: 25px 0
    background-color: #E6FFDA
    .section-row
        padding: 15px 0
        @include responsivo(general)
            width: 100%
            max-width: 950px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%
            max-width: 1050px!important
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    text-align: center
                    margin-bottom: 0
                    color: white
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-content: center
                    align-items: center

                    @include responsivo(telefonoTable)
                        font-size: 14px
                        flex-direction: column!important
                    @include responsivo(pcMedio)
                        font-size: 15px
                        flex-direction: column!important

                    span
                        font-weight: 500
                        font-size: 22px
                        line-height: 1
                        letter-spacing: -0.02em
                        margin: 0 auto
                        display: block
                        @include responsivo(telefonoTable)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(pcMedio)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(general)
                            font-size: 20px

                        strong
                          color: #2C4857


.headerband_special_1m_promo_t2.customSection.sectionParent
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding: 25px 0
    .section-row
        padding: 15px 0
        @include responsivo(general)
            width: 100%
            max-width: 950px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%
            max-width: 1050px!important
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    text-align: center
                    margin-bottom: 0
                    color: white
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-content: center
                    align-items: center

                    @include responsivo(telefonoTable)
                        font-size: 14px
                        flex-direction: column!important
                    @include responsivo(pcMedio)
                        font-size: 15px
                        flex-direction: column!important

                    span
                        font-weight: 500
                        font-size: 22px
                        line-height: 1
                        letter-spacing: -0.02em
                        margin: 0 auto
                        display: block
                        @include responsivo(telefonoTable)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(pcMedio)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(general)
                            font-size: 20px
                        strong
                          color: #2C4857

.headerband_special_14f_promo_t1.customSection.sectionParent
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding: 25px 0
    .section-row
        padding: 15px 0
        @include responsivo(general)
            width: 100%
            max-width: 950px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%
            max-width: 1050px!important
        .innerSectionElement.sct1
            .containElements
                p
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    text-align: center
                    margin-bottom: 0
                    color: white
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-content: center
                    align-items: center

                    @include responsivo(telefonoTable)
                        font-size: 14px
                        flex-direction: column!important
                    @include responsivo(pcMedio)
                        font-size: 15px
                        flex-direction: column!important

                    span
                        font-family: Nunito
                        font-style: normal
                        font-weight: 700
                        font-size: 30px
                        line-height: 22px
                        text-align: right
                        letter-spacing: 1
                        @include responsivo(telefonoTable)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(pcMedio)
                            font-size: 18px
                            margin-bottom: 15px
                        @include responsivo(general)
                            font-size: 27.5px
                        @include responsivo(smallPcTablet)
                            font-size: 25px
                        span
                            font-weight: 500
                            color: #322C2E

                    a
                        margin-left: 50px











