

@import common/global


.swal2-container
    padding-bottom: 2.5%!important
    padding-top: 5%!important
    z-index: 9999999999!important
    @include responsivo(telefonoTable)

    @include responsivo(pcMedio)
        width: 500px!important

    @include responsivo(general)
        width: 600px!important

    @include responsivo(resto)
        width: 600px!important

    .swal2-popup.swal2-toast.swal2-show
        font-size: 1rem
        h2#swal2-title
            font-size: 18px
            line-height: 0.9
            margin-right: 0
            @include responsivo(telefonoTable)
                font-size: 13px
            @include responsivo(pcMedio)
                font-size: 14px
    .swal2-timer-progress-bar
        height: 3.5px
        background: $colorOrange

    .swal2-icon.swal2-icon-show
        font-size: 1.85rem
    //     width: 20px
    //     height: 20px
    //     min-height: auto
    //     max-height: auto
    //     min-width: auto
    //     max-width: auto


div#jet-popup-5458

    .jet-popup__inner
        .jet-popup__container
            @include responsivo(telefonoTable)
                width: 95%
                height: 90%
            @include responsivo(pcMedio)
                width: 75%
                height: 90%
            @include responsivo(general)
                width: 62.5%
                max-width: 650px
            .jet-popup__container-inner
                .jet-popup__container-content
                    .elementor.elementor-5458
                        padding-top: 15px
                        padding-bottom: 15px
                        padding-left: 0
                        padding-right: 0
                        section
                            margin-bottom: 15px!important
                        .elementor-text-editor
                            @include responsivo(telefonoTable)
                                font-size: 18px
                            @include responsivo(pcMedio)
                                font-size: 18px
                            @include responsivo(general)
                                font-size: 22.5px

                        .elementor-inner
                            .elementor-section-wrap
                                // parte de titulo inicial
                                h2.elementor-heading-title.elementor-size-default
                                    @include responsivo(telefonoTable)
                                        font-size: 22.5px

                                    @include responsivo(pcMedio)
                                        font-size: 25px

                                    @include responsivo(general)
                                        font-size: 35px
                                    // @include responsivo(resto)

                                // parte otto y form
                                .elementor-row
                                    @include responsivo(telefonoTable)
                                        padding: 0 10px
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-items: center
                                        align-content: center

                                    @include responsivo(pcMedio)
                                        padding: 0 10px
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-items: center
                                        align-content: center

                                    @include responsivo(general)
                                        padding: 0 25px

                                    @include responsivo(resto)
                                        padding: 0 25px

                                    img.attachment-full.size-full
                                        @include responsivo(telefonoTable)
                                            height: 200px
                                            margin-bottom: 0px
                                            width: auto!important

                                        @include responsivo(pcMedio)
                                            height: 250px
                                            margin-bottom: 15px
                                            width: auto!important

                                        @include responsivo(general)
                                            height: 300px
                                            width: auto!important

div#jet-popup-4285
    .jet-popup__inner
        .jet-popup__container
            @include responsivo(telefonoTable)
                width: 95%
                height: 90%
            @include responsivo(pcMedio)
                width: 75%
                height: 90%
            @include responsivo(general)
                width: 62.5%
                max-width: 650px
            .jet-popup__container-inner

                .jet-popup__container-content
                    .elementor.elementor-5458
                        padding-top: 15px
                        padding-bottom: 15px
                        padding-left: 0
                        padding-right: 0
                        section
                            margin-bottom: 15px!important
                        .elementor-text-editor
                            @include responsivo(telefonoTable)
                                font-size: 18px
                            @include responsivo(pcMedio)
                                font-size: 18px
                            @include responsivo(general)
                                font-size: 22.5px

                        .elementor-inner
                            .elementor-section-wrap

                                // parte de titulo inicial
                                h2.elementor-heading-title.elementor-size-default
                                    @include responsivo(telefonoTable)
                                        font-size: 22.5px

                                    @include responsivo(pcMedio)
                                        font-size: 25px

                                    @include responsivo(general)
                                        font-size: 35px
                                    // @include responsivo(resto)

                                // parte otto y form
                                .elementor-row
                                    @include responsivo(telefonoTable)
                                        padding: 0 10px
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-items: center
                                        align-content: center

                                    @include responsivo(pcMedio)
                                        padding: 0 10px
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-items: center
                                        align-content: center

                                    @include responsivo(general)
                                        padding: 0 25px

                                    @include responsivo(resto)
                                        padding: 0 25px

                                    img.attachment-full.size-full
                                        @include responsivo(telefonoTable)
                                            height: 200px
                                            margin-bottom: 0px
                                            width: auto!important

                                        @include responsivo(pcMedio)
                                            height: 250px
                                            margin-bottom: 15px
                                            width: auto!important

                                        @include responsivo(general)
                                            height: 300px
                                            width: auto!important

div#jet-popup-4200
    .jet-popup__inner
        .jet-popup__container
            @include responsivo(telefonoTable)
                width: 95%
                height: 90%
            @include responsivo(pcMedio)
                width: 75%
                height: 90%
            @include responsivo(general)
                width: 62.5%
                max-width: 650px
            .jet-popup__container-inner
                .jet-popup__container-content
                    .elementor.elementor-4200
                        padding-top: 15px
                        padding-bottom: 15px
                        padding-left: 0
                        padding-right: 0
                        section
                            margin-bottom: 15px!important
                        .elementor-text-editor
                            @include responsivo(telefonoTable)
                                font-size: 18px
                            @include responsivo(pcMedio)
                                font-size: 18px
                            @include responsivo(general)
                                font-size: 22.5px

                        .elementor-inner
                            .elementor-section-wrap

                                // parte de titulo inicial
                                h2.elementor-heading-title.elementor-size-default
                                    @include responsivo(telefonoTable)
                                        font-size: 22.5px

                                    @include responsivo(pcMedio)
                                        font-size: 25px

                                    @include responsivo(general)
                                        font-size: 35px
                                    // @include responsivo(resto)

                                // parte otto y form
                                .elementor-row
                                    @include responsivo(telefonoTable)
                                        padding: 0 10px
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-items: center
                                        align-content: center

                                    @include responsivo(pcMedio)
                                        padding: 0 10px
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-items: center
                                        align-content: center

                                    @include responsivo(general)
                                        padding: 0 25px

                                    @include responsivo(resto)
                                        padding: 0 25px

                                    img.attachment-full.size-full
                                        @include responsivo(telefonoTable)
                                            height: 200px
                                            margin-bottom: 0px
                                            width: auto!important

                                        @include responsivo(pcMedio)
                                            height: 250px
                                            margin-bottom: 15px
                                            width: auto!important

                                        @include responsivo(general)
                                            height: 300px
                                            width: auto!important


.youtubeImageContainer
    .video-js
        background-color: transparent!important
        width: 100%!important
        height: 100%!important

.videoContent
    .video-js
        background-color: transparent!important
        // height: unset
        width: 100%



.ytp-ce-element.ytp-ce-element-show, .ytp-chrome-top, .ytp-chrome-bottom, .ytp-show-cards-title
    display: none!important



.youtube
    background-color: transparent
    margin-bottom: 10
    position: relative
    padding-top: 56.25%
    overflow: hidden
    cursor: pointer
    width: 100%
    img
        width: 100%
        height: 100%
        top: 0
        left: 0
        // opacity: 0.7
        opacity: 1
    .play-button
        width: 90px
        height: 60px
        background-color: #333
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1)
        z-index: 1
        opacity: 0.8
        border-radius: 6px
        transition: $trans
        &:before
            content: ""
            border-style: solid
            border-width: 15px 0 15px 26.0px
            border-color: transparent transparent transparent #fff
        &:hover
            background-color: #FF0000
    img,
    .play-button
        cursor: pointer
    img,
    iframe
        position: absolute
    .play-button
        position: absolute
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        &:before
            position: absolute
            top: 50%
            left: 50%
            transform: translate3d(-50%, -50%, 0)
    iframe
        height: 100%
        width: 100%
        top: 0
        left: 0


.formatForm,
.elementor-widget-void-section-cf7,
.form_cf7,
.wpcf7
    @include responsivo(general)
        padding-left: 10px
        padding-right: 10px

    @include responsivo(smallPcTablet)
        padding-left: 5px
        padding-right: 5px
    .wpcf7-response-output
        margin: 20px 0!important
        margin-bottom: 10px!important
    .ewp-region-select,
    .ewp-city-select,
    .ewp-phone-text
        display: none
    .fields
        margin-bottom: 0
    p
        position: relative
    .ajax-loader,
    span.wpcf7-spinner
        position: absolute
        bottom: 10px
        margin: 0 10px
        top: 20px
        @include responsivo(telefonoTable)
            right: 15px!important
            bottom: 7.5px
            height: 20px
            width: 20px
        @include responsivo(pcMedio)
            right: 25px!important
            bottom: 7.5px
            height: 20px
            width: 20px
        @include responsivo(general)
            right: 0!important
        @include responsivo(smallPcTablet)
            height: 20px
            width: 20px
            right: -12.5px!important
        @include responsivo(resto)
            right: 0!important

    // span.ajax-loader
        // display: none!important
    #loading
        height: 50px!important
        width: 50px!important
    .titleFormat
        font-family: Nunito
        font-size: 22px
        line-height: normal
        font-weight: 700
        padding-top: 30px
        padding-bottom: 20px
        text-align: center
        // margin-bottom: 20px
    p
        margin-bottom: 20px
        text-align: center
        // padding: 10px 0!important
    input
        border-width: 0px 0px 1px 0px!important
        border-radius: 0!important
        box-sizing: border-box
        font-family: Nunito
        font-size: 18px!important
        font-weight: normal!important
        margin: 0
        line-height: normal
        @include responsivo(telefonoTable)
            font-size: 14px!important
        @include responsivo(pcMedio)
            font-size: 14px!important
        @include responsivo(smallPcTablet)
            font-size: 14px!important
    .g-recaptcha
        @include responsivo(telefonoTable)
            margin-bottom: 5px
        @include responsivo(pcMedio)
            margin-bottom: 5px
    input.wpcf7-form-control.wpcf7-submit
        position: relative
        top: 10px
    input.wpcf7-form-control.wpcf7-number,
    input[type="number"]
        width: 100%!important
        min-width: 100%!important
    .wpcf7-text
        color: #706B6D!important
        // color: #333!important
    select
        padding: 6px 10px
        border-width: 0px 0px 1px 0px
        font-family: Nunito
        font-size: 18px!important
        color: #706B6D!important
        font-weight: normal!important
        box-sizing: border-box
        width: 100%!important
        line-height: normal
        @include responsivo(telefonoTable)
            font-size: 14px!important
        @include responsivo(pcMedio)
            font-size: 14px!important
        @include responsivo(smallPcTablet)
            font-size: 14px!important
    span.ewp-phonetype-radio
        margin-top: 20px
        margin-bottom: 30px
        font-family: Nunito
        font-size: 16px
        // height: 45px
        height: min-content
        span.wpcf7-list-item
            width: 50%
            background-color: #FAFBFD
            color: #706B6D
            border-color: #EDF0F4
            .input-checked
                background-color: #b1ecef
                color: #6C929F
                font-weight: 700
            span.wpcf7-list-item-label
                @include responsivo(smallPcTablet)
                    font-size: 14px!important
    br
        display: none

    label
        display: flex
        justify-content: center
        align-content: center
        align-self: center
    // span.wpcf7-form-control-wrap

    input[type="checkbox"]
        margin: auto 0!important
        border: 0.25px solid rgba(0,0,0,0.125)!important
    .customField
        display: flex
        flex-direction: column
        // padding: 6px 12px
        margin-bottom: 20px

        span.wpcf7-form-control-wrap
            width: 100%!important
            span.wpcf7-form-control.wpcf7-radio
                // display: none
                width: 100%
                display: block
                // height: 75px
                display: flex
                flex-direction: row
                span.wpcf7-list-item
                    // display: none
                    display: flex!important
                    flex-direction: row!important
                    // width: 50px
                    margin: 0 7.5px!important
                    background-color: transparent
                    border: none
                    border-radius: 0
                    padding-top: 0
                    padding-bottom: 0
                    span.wpcf7-list-item-label
                        float: unset
                        padding: unset
                        background-color: transparent
                        font-size: 14px
                        padding: 5px 7.5px!important
                        text-transform: uppercase
                        color: #706B6D!important
                        @include responsivo(smallPcTablet)
                            font-size: 14px!important

                    input[type="radio"]
                        float: unset
                        margin: auto 0
                        position: unset!important
            span.wpcf7-form-control.wpcf7-checkbox
                width: 100%
                display: flex
                flex-direction: row
                span.wpcf7-list-item
                    display: flex!important
                    flex-direction: row!important
                    margin: 0 7.5px!important
                    background-color: transparent
                    border: none
                    border-radius: 0
                    padding-top: 0
                    padding-bottom: 0
                    span.wpcf7-list-item-label
                        float: unset
                        padding: unset
                        background-color: transparent
                        font-size: 14px
                        padding: 5px 7.5px!important
                        color: #706B6D!important
                        @include responsivo(smallPcTablet)
                            font-size: 14px!important
                    input[type="checkbox"]
                        float: unset
                        margin: auto 0
                        position: unset!important

        label
            box-sizing: border-box
            font-family: Nunito
            font-size: 18px!important
            font-weight: normal!important
            color: #706B6D!important
            width: 100%
            display: block
            margin-bottom: 15px
            padding: 0 12px
    .customField
        @include responsivo(telefonoTable)
            display: flex
            flex-direction: column!important
            justify-content: flex-start
            align-items: flex-start
            label
                // width: 100%
                text-align: left
                margin-right: auto
        @include responsivo(pcMedio)
            display: flex
            flex-direction: column!important
            justify-content: flex-start
            align-items: flex-start
            label
                // width: 100%
                text-align: left
                margin-right: auto



.wpcf7-not-valid-tip
    font-size: 14px

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output
    border: none
    color: #5B5B5B
    font-family: Nunito!important
    text-align: center!important
    font-size: 14px!important


form input[type="text"][disabled], form input[type="password"][disabled], form input[type="email"][disabled], form input[type="url"][disabled], form input[type="date"][disabled], form input[type="month"][disabled], form input[type="time"][disabled], form input[type="datetime"][disabled], form input[type="datetime-local"][disabled], form input[type="week"][disabled], form input[type="number"][disabled], form input[type="search"][disabled], form input[type="tel"][disabled], form input[type="color"][disabled], form select[disabled], form textarea[disabled]
    background-color: #FAFBFD
    color: #706B6D



.elementor-widget-void-section-cf7 p, .form_cf7 p, .formatForm p, .wpcf7 p
    flex-direction: column!important
    margin-bottom: 10px!important
    display: flex

input.wpcf7-form-control.wpcf7-submit
    margin: 0 auto


.elementor-widget-void-section-cf7 .ajax-loader, .form_cf7 .ajax-loader, .formatForm .ajax-loader, .wpcf7 .ajax-loader
    right: -10px


.ewp-phonetype-radio span.wpcf7-list-item
    margin: 10px 0!important


input.ewp-phone-call-code
    background-color: transparent!important


.elementor-widget-void-section-cf7 #loading, .form_cf7 #loading, .formatForm #loading, .wpcf7 #loading, span.ewp-phonetype-radio
    display: none

.hideOnmobile
    @include responsivo(telefonoTable)
        display: none!important

.hideOnTablet
    @include responsivo(pcMedio)
        display: none!important

.hideOnDesktop
    @include responsivo(general)
        display: none!important

    @include responsivo(resto)
        display: none!important


.D_e
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: block!important
    @include responsivo(resto)
        display: block!important
.DT2_e
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: block!important
    @include responsivo(resto)
        display: block!important
.MT_e
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important
.tabletElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.DT_e
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important

    @include responsivo(general)
        display: block!important

    @include responsivo(smallPcTablet)
        display: none!important

    @include responsivo(resto)
        display: block!important

.M_e
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.D_e_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: flex!important
    @include responsivo(resto)
        display: flex!important
.MT_e_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: flex!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.DT_e_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: flex!important

    @include responsivo(general)
        display: flex!important

    @include responsivo(smallPcTablet)
        display: none!important

    @include responsivo(resto)
        display: flex!important

.M_e_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important


@include responsivo(general)
    .animate
        animation-duration: 0.3s
        -webkit-animation-duration: 0.3s
        animation-fill-mode: both
        -webkit-animation-fill-mode: both

@include responsivo(smallPcTablet)
    .animate
        animation-duration: 0.3s
        -webkit-animation-duration: 0.3s
        animation-fill-mode: both
        -webkit-animation-fill-mode: both

@include responsivo(resto)
    .animate
        animation-duration: 0.3s
        -webkit-animation-duration: 0.3s
        animation-fill-mode: both
        -webkit-animation-fill-mode: both

@keyframes slideIn
    0%
        transform: translateY(1rem)
        opacity: 0
    100%
        transform: translateY(0rem)
        opacity: 1
    0%
        transform: translateY(1rem)
        opacity: 0
@-webkit-keyframes slideIn
    0%
        -webkit-transform: transform
        -webkit-opacity: 0
    100%
        -webkit-transform: translateY(0)
        -webkit-opacity: 1
    0%
        -webkit-transform: translateY(1rem)
        -webkit-opacity: 0

.slideIn
    -webkit-animation-name: slideIn
    animation-name: slideIn



header.customHeader.customSection.component-header-landing nav.navbar .section-row ul
    @include responsivo(telefonoTable)
        margin-left: 0!important
        display: flex
        flex-direction: row

    @include responsivo(pcMedio)
        margin-left: 0!important
        display: flex
        flex-direction: row

header.customHeader.withHeaderBand
    display: flex
    flex-direction: column


#blog-single-bootstrap
    .col-md-12
        &.col-lg-10
            font-size: 18px
            font-family: Nunito Sans
            color: #706B6D
            font-weight: Regular
// h2
//     &.h2-blogpost
//         font-size: 35px
//         color: #150D27
//         font-weight: bold
//         font-family: Nunito Sans
//         margin: 30px 0 30px 0
// h3
//     &.h3-blogpost
//         font-size: 25px
//         color: #34768A
//         font-weight: bold
//         font-family: Nunito Sans
//         margin: 30px 0 30px 0
// h4
//     &.h4-blogpost
//         font-size: 20px
//         color: #F34F36
//         font-weight: bold
//         font-family: Nunito Sans
//         margin: 30px 0 30px 0
// img
//     &.aligncenter
//         &.size-full
//             margin: 30px 0 30px 0



.wrap.container.global.typeBootstrap.specialBanner25
    .content
        .sections
            .customSection
                &:nth-child(1)
                    .section-row
                        @include responsivo(telefonoTable)
                            padding-top: 175px!important
                        @include responsivo(pcMedio)
                            padding-top: 100px!important
                        @include responsivo(general)
                            padding-top: 50px!important
                        @include responsivo(resto)
                            padding-top: 50px!important

.wrap.container.global.typeBootstrap.specialBanner50
    .content
        .sections
            .customSection
                &:nth-child(1)
                    .section-row
                        @include responsivo(telefonoTable)
                            padding-top: 175px!important
                        @include responsivo(pcMedio)
                            padding-top: 100px!important
                        @include responsivo(general)
                            padding-top: 50px!important
                        @include responsivo(resto)
                            padding-top: 50px!important

.wrap.container.global.typeBootstrap.specialBanner100
    .content
        .sections
            .customSection
                &:nth-child(1)
                    .section-row
                        @include responsivo(telefonoTable)
                            padding-top: 175px!important
                        @include responsivo(pcMedio)
                            padding-top: 100px!important
                        @include responsivo(general)
                            padding-top: 75px!important
                        @include responsivo(resto)
                            padding-top: 75px!important



