

@import common/generalStyles


@import layouts/layoutsMain
@import components/componentsMain

// ---------------------
// @import pages/home
// @import pages/escalaFex
// @import pages/zoom/zoomMain
// @import pages/webinar/webinarMain
// @import pages/landingPages/landingPagesMain
// @import pages/func/funcMain
// @import pages/blog/blogMain


// estilos para contenidos de articulos
h3.h3-titlepost
    font-size: 22px
    font-weight: bold
    color: #36768A
    margin-bottom: 30px

h4.h4-titlepost
    font-size: 22px
    font-weight: bold
    color: #322C2E
    margin-bottom: 30px
    line-heigt: 1.5

p.textpost
    font-size: 18px
    font-weight: 400
    color: #797979
    margin-bottom: 30px

