



.component-info-multiple-cards-T1.customSection.sectionParent
    padding: 70px 0
    .section-row
        @include responsivo(telefonoTable)
                width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px
        @include responsivo(resto)
            width: 100%!important
            max-width: 1200px
        .innerSectionElement.sct1
            margin-bottom: 50px
            .containElements
                // padding: 0 100px
                .primaryTitle
                    line-height: 1
                    text-align: center
                    font-size: 42px
                .primaryText
                    text-align: center
                    font-size: 25px
                    font-weight: 500
                    line-height: 26px
                @include responsivo(telefonoTable)
                    // display: none
                    .primaryTitle
                        font-size: 40px
                    .primaryText
                        font-size: 23px
                        br
                            display: none
                @include responsivo(pcMedio)
                    // display: none
                    .primaryTitle
                        font-size: 40px
                    .primaryText
                        font-size: 23px
                        br
                            display: none

        .innerSectionElement.sct2
            display: flex
            // flex-flow: wrap
            justify-content: center
            flex-direction: row
            .groupElements
                padding: 50px 2.5%
                margin-left: 10px
                margin-right: 10px
                background-color: $colorGreyLight
                // min-width: 625px
                // max-width: 550px
                width: 100%
                @include responsivo(telefonoTable)
                    padding-left: 5%!important
                    padding-right: 5%!important
                    margin-left: 0
                    margin-right: 0
                @include responsivo(pcMedio)
                    padding-left: 5%!important
                    padding-right: 5%!important
                    margin-left: 0
                    margin-right: 0
                .image
                    .containerImage
                        img
                            height: 160px
                .info
                    display: flex
                    flex-direction: column
                    .secondaryTitle
                        font-weight: 800
                        font-family: Nunito
                        margin: 0
                        font-size: 28px
                        line-height: 35px
                        margin-bottom: 25px
                        text-align: center
                    p.text
                        color: $colorGrey
                        font-weight: 500
                        font-size: 18px!important
                        line-height: 1.3em
                        font-family: Nunito
                        margin-bottom: 25px
                        text-align: center
                        // padding: 2.5%
                        br
                            display: none
                    // span
                        // display: none!important
                        // text-align: center
                    a
                        margin: 0 auto
            @include responsivo(telefonoTable)
                flex-direction: column
                .groupElements
                    margin-bottom: 50px
                    .image
                        img
                            height: 200px!important
                    .secondaryTitle
                        font-size: 28px!important
            @include responsivo(pcMedio)
                flex-direction: column
                .groupElements
                    margin-bottom: 50px
                    .image
                        img
                            height: 200px!important
                            // display: none
                    .secondaryTitle
                        font-size: 28px!important



.component-info-multiple-cards-T2.customSection.sectionParent
    padding: 70px 0
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px
        @include responsivo(resto)
            width: 100%!important
            max-width: 1200px
        .innerSectionElement.sct1
            margin-bottom: 50px
            .containElements
                // padding: 0 100px
                .primaryTitle
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    font-size: 32px
                    line-height: 30px
                    text-align: center
                    letter-spacing: -2px
                .primaryText
                    text-align: center
                    font-size: 25px
                    font-weight: 500
                    line-height: 26px


        .innerSectionElement.sct2
            display: flex
            // flex-flow: wrap
            justify-content: center
            flex-direction: row
            @include responsivo(telefonoTable)
                width: 90%
                margin: 0 auto
            @include responsivo(pcMedio)
                width: 75%
                margin: 0 auto
            .groupElements
                padding: 25px 0
                margin-left: 10px
                margin-right: 10px
                padding-top: 35px
                background-color: $colorGreyLight5
                // min-width: 625px
                // max-width: 550px
                width: 100%
                @include responsivo(telefonoTable)
                    padding-bottom: 50px
                    padding-left: 5%!important
                    padding-right: 5%!important
                    margin-left: 0
                    margin-right: 0
                @include responsivo(pcMedio)
                    padding-bottom: 50px
                    padding-left: 5%!important
                    padding-right: 5%!important
                    margin-left: 0
                    margin-right: 0
                .image
                    .containerImage
                        img
                            height: 75px
                .info
                    display: flex
                    flex-direction: column
                    padding-left: 0
                    padding-right: 0
                    .secondaryTitle
                        font-family: Nunito
                        font-style: normal
                        font-weight: bold
                        font-size: 20px
                        line-height: 27px
                        text-align: center
                    p.text
                        color: $colorGrey
                        font-family: Nunito
                        font-style: normal
                        font-weight: 600
                        font-size: 15.5px
                        line-height: 22px
                        text-align: center
                        padding-bottom: 10px
                        br
                            display: none
                    // span
                        // display: none!important
                        // text-align: center
                    a
                        margin: 0 auto
            @include responsivo(telefonoTable)
                flex-direction: column
                .groupElements
                    margin-bottom: 50px
                    .image
                        img
                            height: 200px!important
            @include responsivo(pcMedio)
                flex-direction: column
                .groupElements
                    margin-bottom: 50px
                    .image
                        img
                            height: 200px!important
                            // display: none








.component-info-multiple-cards-carousel-T3.customSection.sectionParent
    padding: 70px 0!important
    height: 100%
    .section-row
        // @include responsivo(telefonoTable)
            // width: 95%
        // @include responsivo(pcMedio)
            // width: 90%
        // @include responsivo(general)
            // width: 100%!important
            // max-width: 1140px
        // @include responsivo(resto)
            // width: 100%!important
            // max-width: 1200px
        .innerSectionElement.sct1
            margin-bottom: 50px
            .containElements
                // padding: 0 100px
                .primaryTitle
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    font-size: 32px
                    line-height: 30px
                    text-align: center
                    letter-spacing: -2px
                .primaryText
                    text-align: center
                    font-size: 25px
                    font-weight: 500
                    line-height: 26px
                @include responsivo(telefonoTable)
                    br
                        display: none
                @include responsivo(pcMedio)
                    br
                        display: none

        .innerSectionElement.sct2
            width: 100%

            .carousel
                display: block
                width: auto
                margin: 0 auto
                height: 500px
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: row
                    height: 550px
                @include responsivo(pcMedio)
                    display: flex
                    flex-direction: row
                    height: 550px
                // overflow: hidden
                .carousel-item-next,
                .carousel-item-prev
                    display: none
                // .carousel-item-start
            .carousel-item
                height: 475px
                // overflow: hidden
                @include responsivo(telefonoTable)
                    width: 90%
                    margin: 0 auto
                @include responsivo(pcMedio)
                    width: 75%
                    margin: 0 auto
                .col-md-12.col-lg-4
                    @include responsivo(telefonoTable)
                        margin-bottom: 50px
                    @include responsivo(pcMedio)
                        margin-bottom: 50px
                .row
                    display: flex
                    justify-content: center
                    align-content: center
            .controlsSlideshow
                width: 100%
                height: 100%
                display: block
                margin: auto
                position: absolute
                left: 0
                right: 0
                bottom: 0
                top: 0
                // z-index: -1
                display: flex
                justify-content: space-between
                align-content: center
                height: fit-content
                @include responsivo(telefonoTable)
                    align-content: flex-end
                    margin-top: auto
                    margin-bottom: 0
                    justify-content: center
                    top: 0
                    bottom: -25px
                @include responsivo(pcMedio)
                    align-content: flex-end
                    margin-top: auto
                    margin-bottom: 0
                    justify-content: center
                    top: 0
                    bottom: -25px

                .carousel-control-prev
                    transition: unset!important
                    opacity: 1
                    border-radius: 360px
                    width: fit-content
                    height: fit-content
                    // padding: 30px
                    width: 40px
                    height: 40px
                    position: relative
                    background-color: transparent
                    display: flex
                    margin: auto 0
                    position: relative
                    left: -75px
                    border: 1px solid #36768A
                    @include responsivo(telefonoTable)
                        left: -12.5px
                    @include responsivo(pcMedio)
                        left: -12.5px
                    // justify-content: center
                    // align-content: center
                    i
                        position: absolute
                        // left: 0
                        // right: 0
                        // bottom: 0
                        // top: 0
                        // margin: auto
                        color: #36768A
                        font-size: 20px
                        display: flex
                        justify-content: center
                        align-content: center
                .carousel-control-next
                    transition: unset!important
                    opacity: 1
                    border-radius: 360px
                    width: fit-content
                    height: fit-content
                    // padding: 30px
                    width: 40px
                    height: 40px
                    position: relative
                    background-color: transparent
                    display: flex
                    margin: auto 0
                    position: relative
                    right: -75px
                    border: 1px solid #36768A
                    // justify-content: center
                    // align-content: center
                    @include responsivo(telefonoTable)
                        right: -12.5px
                    @include responsivo(pcMedio)
                        right: -12.5px
                    i
                        position: absolute
                        // left: 0
                        // right: 0
                        // bottom: 0
                        // top: 0
                        // margin: auto
                        color: #36768A
                        font-size: 20px
                        display: flex
                        justify-content: center
                        align-content: center
                .carousel-control-prev,
                .carousel-control-next
                    @include responsivo(telefonoTable)
                        width: 35px
                        height: 35px
                        i
                            font-size: 18px
                    @include responsivo(pcMedio)
                        width: 35px
                        height: 35px
                        i
                            font-size: 18px




            .groupElements
                padding: 25px 2.5%
                padding-bottom: 50px
                margin-left: 0
                margin-right: 0
                background-color: white
                box-shadow: 0px 6px 20px 3px rgba(0, 0, 0, 0.04)
                border-radius: 12px
                width: 100%
                height: 100%
                margin: 0 auto
                @include responsivo(telefonoTable)
                    padding-left: 5%!important
                    padding-right: 5%!important
                    margin-left: 0
                    margin-right: 0
                @include responsivo(pcMedio)
                    padding-left: 5%!important
                    padding-right: 5%!important
                    margin-left: 0
                    margin-right: 0
                .image
                    .containerImage
                        img
                            height: 160px
                .info
                    display: flex
                    flex-direction: column
                    .secondaryTitle
                        font-family: Nunito
                        font-style: normal
                        font-weight: bold
                        font-size: 22px
                        line-height: 26px
                        text-align: center
                        letter-spacing: -1px
                        margin-bottom: 25px
                        @include responsivo(general)
                            height: 50px

                        @include responsivo(resto)
                            height: 50px

                    p.text
                        font-family: Nunito
                        font-style: normal
                        font-weight: bold
                        font-size: 14px
                        line-height: 22px
                        text-align: center
                        letter-spacing: -0.03em
                        color: #606267
                        margin-bottom: 0
                        padding: 0 50px
                    a
                        margin: 0 auto
            @include responsivo(telefonoTable)
                flex-direction: column
                .groupElements
                    margin-bottom: 0
                    .image
                        margin-bottom: 25px
                        img
                            height: 175px
                    .secondaryTitle
                        font-size: 28px!important
            @include responsivo(pcMedio)
                flex-direction: column
                .groupElements
                    margin-bottom: 0
                    .image
                        margin-bottom: 25px
                        img
                            height: 175px
                            // display: none
                    .secondaryTitle
                        font-size: 28px!important

.component-info-5-cards-carousel-T1.customSection.sectionParent
    padding: 75px 0
    width: 100%
    .section-row
        .innerSectionElement.sct1
            margin-bottom: 50px
            .containElements
                // padding: 0 100px
                .primaryTitle
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    font-size: 32px
                    line-height: 30px
                    text-align: center
                    letter-spacing: -2px
                .primaryText
                    text-align: center
                    font-size: 25px
                    font-weight: 500
                    line-height: 26px
                @include responsivo(telefonoTable)
                    br
                        display: none
                @include responsivo(pcMedio)
                    br
                        display: none

        .innerSectionElement.sct2
            width: 100%
            .row
                display: flex
                flex-direction: row
                justify-content: center
                align-content: center
            .item
                padding: 25px
                @include responsivo(telefonoTable)
                    width: 90%
                    margin: 0 auto
                @include responsivo(pcMedio)
                    width: 75%
                    margin: 0 auto
                @include responsivo(general)
                    padding: 10px


            .groupElements
                padding: 25px 2.5%
                padding-bottom: 35px
                margin-left: 0
                margin-right: 0
                background-color: white
                box-shadow: 0px 6px 20px 3px rgba(0, 0, 0, 0.04)
                border-radius: 12px
                width: 100%
                height: 100%
                margin: 0 auto
                @include responsivo(telefonoTable)
                    padding-left: 5%!important
                    padding-right: 5%!important
                    margin-left: 0
                    margin-right: 0
                    padding-bottom: 50px
                @include responsivo(pcMedio)
                    padding-left: 10%!important
                    padding-right: 10%!important
                    margin-left: 0
                    margin-right: 0
                    padding-bottom: 50px
                .image
                    .containerImage
                        img
                            height: 125px
                .info
                    display: flex
                    flex-direction: column
                    .secondaryTitle
                        font-family: Nunito
                        font-style: normal
                        font-weight: bold
                        font-size: 22px
                        line-height: 26px
                        text-align: center
                        letter-spacing: -1px
                        margin-bottom: 25px
                        // @include responsivo(general)
                        //     height: 50px

                        // @include responsivo(resto)
                        //     height: 50px

                    p.text
                        font-family: Nunito
                        font-style: normal
                        font-weight: bold
                        font-size: 14px
                        line-height: 22px
                        text-align: center
                        letter-spacing: -0.03em
                        color: #606267
                        margin-bottom: 0
                        padding: 0 50px
                    a
                        margin: 0 auto
            @include responsivo(telefonoTable)
                flex-direction: column
                .groupElements
                    margin-bottom: 0
                    .image
                        margin-bottom: 25px
                        img
                            height: 125px
                    .secondaryTitle
                        font-size: 28px!important
            @include responsivo(pcMedio)
                flex-direction: column
                .groupElements
                    margin-bottom: 0
                    .image
                        margin-bottom: 25px
                        img
                            height: 125px
                            // display: none
                    .secondaryTitle
                        font-size: 28px!important