
@import ../../../common/global
#casoExito_Cambridge
    background-color: #FAFBFD
    

#casoExito_Cambridge .casoExito_Cambridge_0
    z-index: 2
    position: relative    
    .section-row
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        height: 766px
        @include responsivo(telefonoTable)
            width: 95%
            height: auto!important
            flex-direction: column
        @include responsivo(pcMedio)
            width: 80%
            height: auto!important
            flex-direction: column
        @include responsivo(general)
            width: 100%!important
            max-width: 1230px!important
        @include responsivo(smallPcTablet)
            max-width: 1000px!important
            height: 850px
            justify-content: center
            gap: 20px
        @include responsivo(resto)
            width: 100%!important
            max-width: 1305px!important
            
    .backgroundFull
        padding: 0
        padding-top: 0
        position: relative
        background-size: cover
        background-repeat: no-repeat
        background-position: bottom right
        @include responsivo(telefonoTable)
            padding-top: 100px!important
            padding-bottom: 0!important
            height: auto
            border-radius: 0px 0px 30px 30px
            background-position: center
        @include responsivo(pcMedio)
            padding-top: 100px!important
            padding-bottom: 0!important
            height: auto
            border-radius: 0px 0px 30px 30px
            background-position: center

        @include responsivo(resto)
            height: 766px

        .innerSectionElement.sct1
            position: relative
            top: 50px
            @include responsivo(telefonoTable)
               top: 0 
            @include responsivo(pcMedio)
               top: 0 
            @include responsivo(smallPcTablet)
                // margin-top: auto
                position: relative
                top: 90px
                padding: 0
                overflow: hidden
                width: 65%
            @include responsivoSpecial(1800px,1850px  )
                top: 40px
            .sectionText
                .imgTop
                    display: flex
                    flex-direction: column
                    gap: 30px
                    @include responsivo(telefonoTable)
                        justify-content: center
                        align-items: center
                    @include responsivo(pcMedio)
                        justify-content: center
                        align-items: center
                    img
                        height: 41px
                        margin: 0
                        width: 148px

                    span
                        font-size: 20px
                        font-family: 'Mulish', sans-serif
                        font-weight: 500
                        line-height: 1
                        color: #83E3D0

                .principalBigTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 800
                    text-align: left
                    line-height: 1
                    color: #fff
                    font-family: 'Mulish', sans-serif
                    margin: 0
                    padding-top: 30px
                    width: 500px
                    @include responsivo(telefonoTable)
                        padding-bottom: 30px
                        text-align: center
                        width: 100%

                    @include responsivo(pcMedio)
                        text-align: center
                        width: 100%
                        br
                            display: none!important

                        font-size: 40px
                        padding-bottom: 30px
                    @include responsivo(general)
                        margin-top: 0
                        font-size: 45px
                        width: 499px
                    @include responsivo(smallPcTablet)
                        font-size: 45px
                        width: auto
                    @include responsivo(resto)
                        margin-top: 0
                        font-size: 45px

            .containerImage    
                display: none
                margin-top: 20px
                @include responsivo(smallPcTablet)
                    display: block
                    img
                        height: 240px
        .innerSectionElement.sct2
            overflow: hidden
            position: relative
            top: 45px
            @include responsivo(telefonoTable)
                margin-top: 50px
                top: 0
                left: 0
                order: 2
            @include responsivo(pcMedio)
                margin-top: 50px
                top: 0
                left: 0
                order: 2
            @include responsivo(smallPcTablet)
                display: none
            @include responsivo(general)
                width: 390px
                top: 53px

            .containerImage
                margin: 0
                padding: 0
                @include responsivo(telefonoTable)
                    padding-bottom: 50px
                @include responsivo(pcMedio)
                    padding-bottom: 50px
                img
                    position: relative
                    height: 370px   
                    @include responsivo(telefonoTable)
                        height: 270px
                    @include responsivo(pcMedio)
                        height: 323px
                    @include responsivo(general)
                        height: 340px

        .innerSectionElement.sct3
            padding-top: 0
            position: relative
            top: 165px
            @include responsivo(telefonoTable)
                padding-top: 0
                top: 0
            @include responsivo(pcMedio)
                padding-top: 0
                top: 0
            @include responsivo(general)
                padding-top: 0
            @include responsivo(smallPcTablet)
                top: 140px
                width: 35%
            .form7
                
                padding-bottom: 0
                display: flex
                @include responsivo(general)
                    padding-bottom: 50px
                    padding-left: 0
                    margin-left: auto
                @include responsivo(smallPcTablet)
                    padding-left: 0
                    padding-right: 0

                @include responsivo(resto)
                    padding-right: 0
                    padding-left: 0px
                    margin: 0 auto
                .formatForm
                    display: block
                    margin: 0 auto
                    min-height: 630px
                    filter: drop-shadow(0px 4px 30px rgba(0, 127, 150, 0.20))
                    border-radius: 20px
                    padding: 0px 30px 30px
                    @include responsivo(smallPcTablet)
                        padding: 0px 20px 30px
                    h5.titleFormat
                        color: #2C4857!important
                        font-family: "Mulish", sans-serif!important
                        font-size: 24px!important
                        font-weight: 800!important
                        line-height: 1!important
                        padding-bottom: 15px!important
                        @include responsivo(general)
                            font-size: 20px
                        @include responsivo(smallPcTablet)
                            font-size: 18px
                    input[type="button"]
                        font-weight: 900!important
                        font-size: 22px!important
                        border-radius: 10px
                        font-family: "Mulish", sans-serif!important
                        width: 100%
                        text-transform: none!important
                        background: linear-gradient(90deg, #F34F36 0%, #007F96 100%)!important
                        transition: background 0.3s ease
                        &:hover
                            background: linear-gradient(90deg, #ff6b60 0%, #1fdad3 100%)!important
                            color: #fff
                .containElements
                    margin: 0 auto

#casoExito_Cambridge .customSection.sectionParent.casoExito_Cambridge_1
    padding: 180px 0px 90px 0px
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    @include responsivo(telefonoTable)
        padding: 80px 0
    @include responsivo(pcMedio)
        padding: 80px 0
    @include responsivo(smallPcTablet)
        padding-top: 120px
    .section-row
        position: relative
        margin: 0 auto
        max-width: 1200px!important
        @include responsivo(telefonoTable)
            width: 90%
            padding-bottom:0
            position: relative
            padding-top: 0
        @include responsivo(pcMedio)
            width: 90%
            
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px!important
            padding: 0px
        @include responsivo(smallPcTablet)
            max-width: 1000px!important
        @include responsivo(resto)
            width: 100%!important

    .innerSectionElement
        h2.primaryTitle
            font-family: 'Mulish', sans-serif
            font-style: normal
            font-weight: 700
            font-size: 40px
            text-align: center
            margin-bottom: 60px
            color: #2C4857
            @include responsivo(telefonoTable)
                br
                    display: none!important
            @include responsivo(pcMedio)
                br
                    display: none!important
        .containElements
            display: flex
            flex-direction: row
            justify-content: center
            align-content: center
            width: 90% 
            margin: 0 auto
            @include responsivo(telefonoTable)
                flex-direction: column
                align-items: center
                width: 100%
            @include responsivo(pcMedio)
                width: 90%
            .element
                display: flex
                flex-direction: column
                justify-content: flex-start
                gap: 15px
                align-items: center
                padding: 20px 
                width: 100%
                @include responsivo(telefonoTable)
                    margin-bottom: 20px
                    width: 90%
                    flex-direction: column
                    &:last-child
                        margin-bottom: 0
                &:nth-last-child(2)
                    border-right: 1px solid #E9E9E9
                    border-left: 1px solid #E9E9E9
                    @include responsivo(telefonoTable)
                        border-bottom:  1px solid #E9E9E9
                        border-top: 1px solid #E9E9E9
                    @include responsivo(telefonoTable)
                        border-left: none
                        border-right: none
                        padding-left: 0
                        padding-right: 0
                        margin-right: 0
                        position: relative
                        padding-top: 0
                        margin-top: 0
                        padding-bottom: 25px
                        padding-top: 25px
                        margin-bottom: 15px
                    
                @include responsivo(smallPcTablet)
                    padding: 10px
                .numbers
                    display: flex
                    justify-content: center
                    @include responsivo(telefonoTable)
                        margin-left: auto
                        margin-right: auto
                    span
                        display: block
                        margin: auto
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 800
                        font-size: 40px
                        line-height: 1
                        color: #F1685A
                        text-align: center
                    
                p.text
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 400
                    font-size: 24px
                    line-height: 1
                    text-align: center
                    // text-decoration-line: underline
                    color: #2C4857
                    margin-bottom: 0
            

#casoExito_Cambridge .sections .customSection.sectionParent.casoExito_Cambridge_2
    padding: 0px
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px!important
        @include responsivo(smallPcTablet)
            width: 100%!important
            max-width: 900px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1140px!important
        section.innerSectionElement.sct1
            @include responsivo(telefonoTable)
                margin-bottom: 0
            @include responsivo(pcMedio)
                margin-bottom: 0
            .containElements
                h2.primaryTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 700
                    font-size: 40px
                    text-align: center
                    margin-bottom: 60px
                    color: #2C4857
                    @include responsivo(telefonoTable)
                        br
                            display: none!important
                    @include responsivo(pcMedio)
                        br
                            display: none!important

        section.innerSectionElement.sct2
            .video
                position: relative
                .youtubeImageContainer
                    position: relative
                    border-radius: 20px
                    overflow: hidden
                    @include responsivo(telefonoTable)
                        margin: 0 auto
                        margin-bottom: 0
                        width: 100%
                        height: 192px
                        width: 335px
                    @include responsivo(pcMedio)
                        height: 250px
                        width: 440px!important
                        margin: 0 auto
                    @include responsivo(general)
                        margin: auto
                        width: 710px!important
                        height: 400px!important
                    @include responsivo(smallPcTablet)
                        width: 500px!important
                        height: 280px!important
                    @include responsivo(resto)
                        margin: auto
                        width: 710px!important
                        height: 400px!important
                iframe.iframe
                    margin: 0 auto
                    display: block
                    @include responsivo(telefonoTable)
                        width: 100%
                    @include responsivo(pcMedio)
                        width: 90%


#casoExito_Cambridge section.component-info-text-image-T1.customSection.sectionParent.casoExito_Cambridge_3
    padding: 80px 0px 120px 0px
    position: relative

    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1040px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1110px!important
        .innerSectionElement3
            .containElements
                display: flex
                flex-direction: row
                justify-content: center
                align-content: center
                align-items: center
                a
                    margin: 0 auto
        .innerSectionElement1
            margin-bottom: 30px
            h2.primaryTitle
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: 700
                font-size: 34px
                line-height: 1
                text-align: center
                
                color: #2C4857
                @include responsivo(telefonoTable)
                    width: 100%
                    margin-left: auto
                    margin-right: auto
                @include responsivo(pcMedio)
                    width: 80%
                    margin-left: auto
                    margin-right: auto
        .innerSectionElement.sct2
            .groupElements
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column
                @include responsivo(pcMedio)
                    display: flex
                    flex-direction: column
                .info
                    justify-content: flex-start
                    padding: 0
                    @include responsivo(telefonoTable)
                        margin-bottom: 25px
                    @include responsivo(pcMedio)
                        margin-bottom: 25px
                    .secondaryTitle
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 700
                        font-size: 30px
                        line-height: 1
                        color: #212A31
                        text-align: left
                        @include responsivo(telefonoTable)
                            font-size: 22.5px
                            text-align: center
                        @include responsivo(pcMedio)
                            font-size: 25px
                            text-align: center
                        @include responsivo(smallPcTablet)
                            font-size: 34px
                    .text
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 400
                        font-size: 20px
                        line-height: 1
                        color: #2C4857
                        margin-bottom: 0px

                .details
                    .containElements
                        ul.itemsList
                            padding: 0
                            margin-bottom: 0
                            @include responsivo(telefonoTable)
                                margin: 0
                                width: fit-content
                                margin: 0 auto
                                display: flex
                                flex-direction: column
                                gap: 20px
                            @include responsivo(pcMedio)
                                margin: 0
                                width: fit-content
                                margin: 0 auto
                            li
                                display: flex
                                flex-direction: row
                                align-items: center
                                margin-bottom: 30px
                                font-family: 'Mulish', sans-serif
                                font-style: normal
                                font-weight: 600
                                font-size: 24px
                                line-height: 1
                                color: #212A31!important
                                @include responsivo(telefonoTable)
                                    flex-direction: column
                                    align-items: center
                                    justify-content: center
                                    gap: 10px
                                    text-align: center
                                &:last-child
                                    margin-bottom: 0
                                a
                                    color: #212A31!important
                                strong
                                    padding-right: 5px
                                    font-weight: 700!important
                                    color: #007F96!important
                                .iconList
                                    margin-right: 15px
                                    width: 45px
                                    position: relative
                                    @include responsivo(telefonoTable)
                                        width: 35px
                                    @include responsivo(pcMedio)
                                        width: 35px
                                    img
                                        height: 30px
                                        width: auto
                                        display: block
                                        margin: auto
                                      






#casoExito_Cambridge .sections .customSection.sectionParent.casoExito_Cambridge_4
    padding:  0
    background-color: transparent
    position: relative
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1000px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1110px!important

        section.innerSectionElement.sct1
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center

            h2.primaryTitle
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: 700
                font-size: 40px
                line-height: 1
                text-align: center
                margin-bottom: 60px
                color: #2C4857
                @include responsivo(telefonoTable)
                    width: 100%
                @include responsivo(pcMedio)
                    width: 80%

        section.innerSectionElement.sct2
            @include responsivo(telefonoTable)
                padding: 0px 10px
            .containElements
                display: flex
                justify-content: center
                flex-direction: column
                align-items: center
                .itemsList
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-between
                    list-style: none
                    padding: 0
                    margin: 0
                    @include responsivo(telefonoTable)
                        flex-direction: column
                        align-items: center
                        justify-content: center
                    img
                        height: 70px
                        @include responsivo(telefonoTable)
                            height: 50px
                        @include responsivo(pcMedio)
                            height: 50px
                        
                    li
                        width: 45% // Controla el ancho de cada lado
                        margin-bottom: 40px
                        display: flex
                        gap: 20px
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 400
                        font-size: 20px
                        line-height: 1
                        color: #212A31
                        @include responsivo(telefonoTable)
                            width: 100%
                            margin-left: 0
                            &:nth-last-child(2)
                                margin-bottom: 40px!important
                        &:nth-child(odd) // Los elemen  tos impares van al lado izquierdo
                            margin-right: auto
                        &:nth-child(even) // Los elementos pares van al lado derecho
                            margin-left: auto
                        &:last-child,&:nth-last-child(2)
                            margin-bottom: 0
                            
                        span
                            display: flex
                            flex-direction: column
                            gap: 16px
                            span.title
                                font-size: 24px!important
                                color: #2C4857!important
                                font-weight: 700!important

        section.innerSectionElement.sct3
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            padding: 90px 0
            h2.primaryTitle
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: 700
                font-size: 40px
                line-height: 1
                text-align: center
                margin-bottom: 30px
                color: #2C4857
                @include responsivo(telefonoTable)
                    width: 100%
                @include responsivo(pcMedio)
                    width: 80%
            span.subTitle
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 1
                text-align: center
                margin: 0
                color: #007F96
                @include responsivo(telefonoTable)
                    font-size: 24px
                    width: 80%
                    br
                        display: none!important
                @include responsivo(pcMedio)
                    width: 80%
                    br
                        display: none!important
                @include responsivo(smallPcTablet)
                    br
                        display: none!important
            .containElements.left
                border-radius: 20px
                background: #FFF
                margin-top: 50px
                padding: 0px 60px
                display: flex
                justify-content: center
                align-items: center
                gap: 30px
                filter: drop-shadow(0 4px 20px rgba(0, 127, 150, 0.10))
                background-size: cover
                background-position: left bottom
                @include responsivo(telefonoTable)
                    flex-direction: column-reverse
                    padding: 0 20px
                @include responsivo(pcMedio)
                    flex-direction: column-reverse
                .image
                    margin-top: auto
                    .containerImage
                        margin: 0 
                        padding: 0
                        margin-top: auto
                        img
                            height: 382px
                            @include responsivo(telefonoTable)
                                height: 240px

                .info
                    padding: 50px 0
                    @include responsivo(telefonoTable)
                        text-align: center
                    @include responsivo(pcMedio)
                        text-align: center
                    p
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 400
                        font-size: 20px
                        line-height: 1
                        color: #212A31
                        margin: 0
                        &:not(:last-child)
                            margin-bottom: 40px
                        
                        span
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            font-weight: 700
                            font-size: 20px
                            line-height: 1
                            color: #2C4857
                            display: block
                            margin-bottom: 20px


#casoExito_Cambridge .sections .customSection.sectionParent.casoExito_Cambridge_5
    padding: 0px
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1000px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1110px!important

        section.innerSectionElement.sct1
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center

            h2.primaryTitle
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: 700
                font-size: 40px
                line-height: 1
                text-align: center
                margin-bottom: 80px
                color: #2C4857
        section.innerSectionElement.sct2
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            gap: 60px
            @include responsivo(telefonoTable)
                gap: 30px
            @include responsivo(pcMedio)
                gap: 30px
            .containElements.left
                display: flex
                justify-content: center
                align-items: center
                gap: 30px

                @include responsivo(telefonoTable)
                    flex-direction: column-reverse
                    padding-bottom: 10px
                @include responsivo(pcMedio)
                    flex-direction: column-reverse
                    padding: 20px 0

                .image
                    width: 50%
                    @include responsivo(telefonoTable)
                        width: 100%
                    @include responsivo(pcMedio)
                        width: 100%
                    .containerImage
                        padding: 0px 
                        margin: 0px
                        img
                            height: 284px
                            @include responsivo(telefonoTable)
                                height: 200px

                .info
                    width: 50%
                    @include responsivo(telefonoTable)
                        width: 90%
                    @include responsivo(pcMedio)
                        width: 100%
                    .containElements
                        display: flex
                        gap: 20px
                        @include responsivo(telefonoTable)
                            justify-content: center
                        @include responsivo(pcMedio)
                            justify-content: center


                        h3.subTittle
                            font-size: 30px
                            color: #2C4857
                            font-weight: 700
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            line-height: 1
                            margin-bottom: 30px
                            @include responsivo(telefonoTable)
                                text-align: center
                                
                    .containElements_2
                        @include responsivo(telefonoTable)
                            margin: 0
                            display: flex
                            justify-content: center
                            align-items: center
                            flex-direction: column
                        @include responsivo(pcMedio)
                            margin: 0
                            display: flex
                            justify-content: center
                            flex-direction: column
                            align-items: center
                            margin-top: 20px
                        p.text
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            font-weight: 400
                            font-size: 20px
                            line-height: 1
                            color: #212A31
                            margin-bottom: 0px
                            @include responsivo(telefonoTable)
                                text-align: center
                        h3.subTitle
                            font-size: 20px
                            color: #2C4857
                            font-weight: 700
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            line-height: 1
                            margin: 30px 0   
                            @include responsivo(telefonoTable)
                                text-align: center              
                        ul
                            margin: 0
                            @include responsivo(telefonoTable)
                                width: 100%
                            @include responsivo(pcMedio)
                                width: 80%
                        li
                            margin-bottom: 30px
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            font-weight: 400
                            font-size: 20px
                            line-height: 1
                            color: #212A31
                           
                            span
                                color: #36768A
                                font-weight: 700
                            &::marker
                                color: #F1685A 
                            &:last-child
                                margin: 0px!important


            .containElements.right
                display: flex
                justify-content: center
                align-items: center
                flex-direction: row-reverse
                gap: 30px
                @include responsivo(telefonoTable)
                    flex-direction: column-reverse
                    padding-bottom: 10px
                @include responsivo(pcMedio)
                    flex-direction: column-reverse
                    padding: 20px 0
                    
                .image
                    width: 50%
                    @include responsivo(telefonoTable)
                        width: 100%
                    @include responsivo(pcMedio)
                        width: 100%
                    .containerImage
                        padding: 0px 
                        margin: 0px
                        img
                            height: 284px
                            @include responsivo(telefonoTable)
                                height: 200px
                .info
                    width: 50%
                    @include responsivo(telefonoTable)
                        width: 90%
                    @include responsivo(pcMedio)
                        width: 100%
                    .containElements
                        display: flex
                        gap: 20px
                        @include responsivo(telefonoTable)
                            justify-content: center
                        @include responsivo(pcMedio)
                            justify-content: center
                        h3.subTittle
                            font-size: 30px
                            color: #2C4857
                            font-weight: 700
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            line-height: 1
                            margin-bottom: 30px
                            @include responsivo(telefonoTable)
                                text-align: center

                    .containElements_2
                        @include responsivo(telefonoTable)
                            margin: 0
                            display: flex
                            justify-content: center
                            align-items: center
                            flex-direction: column
                        @include responsivo(pcMedio)
                            margin: 0
                            display: flex
                            justify-content: center
                            flex-direction: column
                            align-items: center
                            margin-top: 20px

                        p.text
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            font-weight: 400
                            font-size: 20px
                            line-height: 1
                            color: #212A31
                            margin-bottom: 0px
                            @include responsivo(telefonoTable)
                                text-align: center

                        h3.subTitle
                            font-size: 20px
                            color: #2C4857
                            font-weight: 700
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            line-height: 1
                            margin: 30px 0 
                            @include responsivo(telefonoTable)
                                text-align: center
                        ul
                            margin: 0
                        li
                            margin-bottom: 30px
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            font-weight: 400
                            font-size: 20px
                            line-height: 1
                            color: #212A31
                                    
                            span
                                color: #36768A
                                font-weight: 700
                            &::marker
                                color: #F1685A 
                            &:last-child
                                margin: 0px!important



#casoExito_Cambridge .casoExito_Cambridge_6
    padding: 95px 0px 45px 0px
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center

    .section-row
        padding: 0
        @include responsivo(telefonoTable)
            width: 90%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width:  1150px!important
        @include responsivo(smallPcTablet)
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1110px!important

        .innerSectionElement.sct1
            position: relative
            border-radius: 20px
            background-size: cover
            background-position: left center
            .containElements
                display: flex
                gap: 20px
                padding: 0px 70px
                @include responsivo(telefonoTable)
                    flex-direction: column-reverse
                    padding: 0 20px
                @include responsivo(pcMedio)
                    flex-direction: column-reverse
                @include responsivo(smallPcTablet)
                    padding: 0 30px
                .image
                    width: 30%
                    margin-top: auto
                    @include responsivo(telefonoTable)
                        width: 100%
                        justify-content: center
                        align-items: center
                    @include responsivo(pcMedio)
                        width: 100%
                        justify-content: center
                        align-items: center
                    img
                        margin-top: auto
                        width: auto
                        height: 200px
                        @include responsivo(smallPcTablet)
                            height: 240px

                .info
                    padding: 50px 0
                    width: 70%
                    @include responsivo(telefonoTable)
                        width: 100%
                        justify-content: center
                        align-items: center
                    @include responsivo(pcMedio)
                        width: 100%
                        justify-content: center
                        align-items: center
                    p
                        color: #FFFFFF
                        font-family: 'Mulish', sans-serif
                        font-size: 20px
                        font-style: normal
                        font-weight: 400
                        line-height: 1
                        text-align: center
                        margin-bottom: 0
                        @include responsivo(telefonoTable)
                            br
                                display: none!important
                        @include responsivo(pcMedio)
                            br
                                display: none!important
                        span.white
                            color: #fff
                            font-weight: 700
                            @include responsivo(telefonoTable)
                                display: block
                                margin-top: 20px
                            span
                                font-size: 20px



#casoExito_Cambridge .customSection.sectionParent.casoExito_Cambridge_7
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    background-position: top center
    background-size: cover
    padding: 0
    .section-row
        @include responsivo(telefonoTable)
            width: 100%
            padding: 0px 15px
            padding-bottom: 0
        @include responsivo(pcMedio)
            width: 95%
            padding: 0px 25px
            padding-bottom: 0
        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            padding: 35px 0
            padding-bottom: 40px
        @include responsivo(smallPcTablet)
            max-width: 1140px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1350px!important
            padding: 60px 0
        .innerSectionElement.sct1

            h2.title
                color: #fff
                text-align: center
                font-family: 'Mulish', sans-serif
                font-size: 40px
                font-style: normal
                font-weight: 800
                line-height: 1
                margin: 50px 0px 

        .innerSectionElement.sct2
            .primaryButton 
                font-size: 30px!important
                padding: 25px 80px!important
                font-family: "Mulish", sans-serif!important
                @include responsivo(telefonoTable)
                    padding: 25px 50px!important
                    font-size: 25px!important
                @include responsivo(smallPcTablet)
                    padding: 25px 55px!important
             