





#documentTermsTextBootstrap
    // display: none
    .buttonSpecial
        position: relative
        width: 100%
        display: flex
        margin-bottom: 25px
        br
            display: none!important
        .hiperButtonGreenBlue
            height: fit-content
            margin-left: auto
            display: block
            font-family: Nunito
            font-style: normal
            font-weight: 600
            font-size: 18px
            line-height: 1
            text-decoration-line: underline
            color: #36768A
            transition: $trans
            &:hover
                color: $colorOrange
            @include responsivo(telefonoTable)
                margin-left: auto
                margin-right: auto
                font-size: 16px
            @include responsivo(pcMedio)
                margin-left: auto
                margin-right: auto
                font-size: 16px
            @include responsivo(smallPcTablet)
                font-size: 16px

    .hiperButtonGreenBlue
        font-family: Nunito
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 1
        text-decoration-line: underline
        color: #36768A
        transition: $trans
        &:hover
            color: $colorOrange
        @include responsivo(telefonoTable)
            font-size: 16px
        @include responsivo(pcMedio)
            font-size: 16px
        @include responsivo(smallPcTablet)
            font-size: 16px

    .sections
        .documentTermsTextSection0

            .section-row
                @include responsivo(telefonoTable)
                    width: 95%
                    padding-top: 15px
                    padding-bottom: 15px
                @include responsivo(pcMedio)
                    width: 90%
                    padding-top: 15px
                    padding-bottom: 15px
                @include responsivo(general)
                    width: 80%!important
                    max-width: 1000px!important
                @include responsivo(resto)
                    width: 80%!important
                    max-width: 1000px!important

