





#documentTermsTextBootstrap
    // display: none
    .sections
        .documentTermsTextSection0
            .section-row
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 90%
                @include responsivo(general)
                    width: 80%!important
                    max-width: 1000px!important
                @include responsivo(resto)
                    width: 80%!important
                    max-width: 1000px!important

