


#OLD_LandingPagesIncreibles_am_2_ .customSection.sectionParent.OLD_LandingPagesIncreibles_am_2_0
    padding: 0
    overflow: hidden
    // @include responsivo(telefonoTable)
    //     padding-bottom: 50px
    //     padding-top: 50px
    // @include responsivo(pcMedio)
    //     padding-bottom: 50px
    .backgroundFull
        padding-bottom: 25px
        background-position: center bottom
        @include responsivo(telefonoTable)
            padding-top: 50px!important
            background-position: center bottom
        @include responsivo(pcMedio)
            padding-top: 50px!important
            background-position: center bottom
        @include responsivo(general)
            padding-bottom: 15px
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1100px!important
        @include responsivo(smallPcTablet)
            max-width: 950px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1140px!important
        .containerImage
            margin: 0
            padding: 0
    .backgroundPlanets
        background-position: top center
        position: absolute
        background-repeat: no-repeat
        padding-bottom: 0
        top: 0
        left: 0
        right: 0
        @include responsivo(telefonoTable)
            background-size: 90% auto

        @include responsivo(pcMedio)
            background-size: 90% auto

        @include responsivo(general)
            background-size: 100% auto
        @include responsivo(smallPcTablet)
            top: -25px
            background-size: 90% auto
        @include responsivo(resto)
            background-size: 90% auto

    .innerSectionElement
        .groupElements
            .info
                z-index: 20
                .containElements
                    .principalBigTitle
                        font-family: Nunito
                        font-style: normal
                        font-weight: 700
                        text-align: left
                        margin-bottom: 25px
                        line-height: 1
                        @include responsivo(telefonoTable)
                            font-size: 30px
                            text-align: center
                        @include responsivo(pcMedio)
                            font-size: 35px
                            text-align: center
                        @include responsivo(general)
                            font-size: 45px
                        @include responsivo(smallPcTablet)
                            font-size: 40px
                        @include responsivo(resto)
                            font-size: 50px
                    .containerImage
                        img
                            margin-left: 0
                            @include responsivo(telefonoTable)
                                height: 225px
                                margin: 0 auto
                            @include responsivo(pcMedio)
                                height: 250px
                                margin: 0 auto
                            @include responsivo(general)
                                height: 350px
                            @include responsivo(resto)
                                height: 350px


            .form7
                    margin-bottom: 50px
                    padding: 0 50px
                    display: flex
                    margin: 0 auto
                    @include responsivo(general)
                        padding-bottom: 50px
                        padding-left: 50px
                        padding-right: 25px
                    @include responsivo(smallPcTablet)
                        padding-left: 50px
                        padding-right: 0
                        padding-bottom: 50px
                    @include responsivo(resto)
                        padding-bottom: 50px
                        padding-right: 0
                        padding-left: 100px
                    .formatForm
                        display: block
                        margin: 0 auto
                        background-color: rgba(white, 0.9)
                        h5.titleFormat.blackcolor
                            @include responsivo(general)
                                font-size: 20px
                            @include responsivo(smallPcTablet)
                                font-size: 18px
                    .containElements
                        margin: 0 auto


#OLD_LandingPagesIncreibles_am_2_ .customSection.sectionParent.OLD_LandingPagesIncreibles_am_2_1

    padding: 50px 0
    background-color: white
    @include responsivo(telefonoTable)
        padding: 25px
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1125px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1250px!important

        section.innerSectionElement.row.sct1
            @include responsivo(telefonoTable)
                margin-bottom: 25px
            @include responsivo(pcMedio)
                margin-bottom: 25px
            .containElements
                h2.primaryTitle.blackColor
                    font-family: Nunito
                    font-style: normal
                    font-weight: 700
                    font-size: 35px
                    line-height: 1
                    text-align: center
                    letter-spacing: -1px
                    @include responsivo(telefonoTable)
                        font-size: 25px
                    @include responsivo(pcMedio)
                        font-size: 25px

        section.innerSectionElement.row.sct2
            .containElements
                .elements
                    .cardElements
                        padding-bottom: 35px
                        // .loader
                            // .containerImage
                                // img
                        h3.title.orangeColor
                            font-weight: normal
                            font-size: 20px
                            line-height: 0.9
                            margin-bottom: 15px
                            font-weight: 700
                            color: #36768A!important
                            @include responsivo(telefonoTable)
                                font-size: 16px
                            @include responsivo(pcMedio)
                                font-size: 18px
                            @include responsivo(smallPcTablet)
                                font-size: 17px
                        p.infoText
                            text-align: center
                            font-family: Nunito
                            font-style: normal
                            font-weight: 400
                            font-size: 16px
                            line-height: 1.25
                            letter-spacing: -0.02em
                            color: #606267
                            padding-bottom: 0
                            margin-bottom: 0
                            @include responsivo(telefonoTable)
                                font-size: 13px
                                text-align: center
                            @include responsivo(pcMedio)
                                font-size: 14px
                                text-align: center
                            @include responsivo(general)
                                font-size: 15px
                            @include responsivo(smallPcTablet)
                                font-size: 13px


#OLD_LandingPagesIncreibles_am_2_ .customSection.sectionParent.OLD_LandingPagesIncreibles_am_2_2
    padding-bottom: 60px
    @include responsivo(telefonoTable)
        margin-bottom: 0
    @include responsivo(pcMedio)
        margin-bottom: 0
    .backgroundFull.sct1
        background-position: center
        background-size: cover
        height: fit-content
        position: relative
        display: flex
        padding: 75px 0
        @include responsivo(telefonoTable)
            padding: 40px 0!important
        @include responsivo(pcMedio)
            padding: 50px 0!important
        .imageBackground
            position: absolute
            left: -10%
            right: 0
            bottom: 0
            top: 22%
            margin: auto
            width: 80%
            display: block
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            // margin: 0
            @include responsivo(telefonoTable)
                background-position: 0 100%!important
                top: 0
                left: 0
            @include responsivo(pcMedio)
                background-position: 0 100%!important
                top: 0
                left: 0
        .section-row
            margin: 0 auto
            .containElements
                .primaryTitle
                    font-family: Nunito
                    font-style: normal
                    font-weight: 700
                    font-size: 35px
                    line-height: 1
                    text-align: center
                    letter-spacing: -1px
                    color: white
                    @include responsivo(telefonoTable)
                        font-size: 25px
                    @include responsivo(pcMedio)
                        font-size: 25px
                a.primaryButton
                    // margin: 0 auto
                    margin-left: auto
                    margin-right: auto
                    display: block
                    width: fit-content

#OLD_LandingPagesIncreibles_am_2_ .customSection.sectionParent.OLD_LandingPagesIncreibles_am_2_3
    padding: 50px 0
    background: linear-gradient(360deg, rgba(222, 243, 245, 0.72) 59.88%, rgba(246, 252, 255, 0) 94.39%)
    @include responsivo(telefonoTable)
        padding: 25px 0
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1250px!important
    .innerSectionElement.sct1
        margin-bottom: 50px
        @include responsivo(telefonoTable)
            margin-bottom: 25px
        @include responsivo(pcMedio)
            margin-bottom: 25px
        .containElements
            display: flex
            flex-direction: column
            h2.primaryTitle.blackColor
                font-family: Nunito
                font-style: normal
                font-weight: 700
                font-size: 35px
                line-height: 1
                text-align: center
                letter-spacing: -1px
                @include responsivo(telefonoTable)
                    font-size: 25px
                    margin-bottom: 0
                @include responsivo(pcMedio)
                    font-size: 25px
                    margin-bottom: 0
    .innerSectionElement.sct2
        .groupElements.row
            .infoGroup
                padding: 0
                padding-bottom: 15px
                .containerImage
                    display: flex
                    margin-bottom: 10px
                    padding-bottom: 0
                    img
                        height: 150px
                        display: block
                        margin: 0 auto
                        @include responsivo(telefonoTable)
                            height: 125px
                        @include responsivo(pcMedio)
                            height: 125px
                .containerElements
                    padding-left: 15px
                    padding-right: 15px
                    h2.commonTitle
                        font-weight: normal
                        font-size: 20px
                        line-height: 0.9
                        margin-bottom: 15px
                        font-weight: 700
                        color: #343032!important
                        @include responsivo(telefonoTable)
                            font-size: 16px
                        @include responsivo(pcMedio)
                            font-size: 18px
                        @include responsivo(smallPcTablet)
                            font-size: 17px
                    p.commonText
                        text-align: center
                        font-family: Nunito
                        font-style: normal
                        font-weight: 400
                        font-size: 16px
                        line-height: 1.25
                        letter-spacing: -0.02em
                        color: #606267
                        padding-bottom: 0
                        margin-bottom: 0
                        @include responsivo(telefonoTable)
                            font-size: 13px
                            text-align: center
                        @include responsivo(pcMedio)
                            font-size: 14px
                            text-align: center
                        @include responsivo(general)
                            font-size: 15px
                        @include responsivo(smallPcTablet)
                            font-size: 13px

        .groupElements.row
            &:nth-of-type(1)
                // display: none
                @include responsivo(telefonoTable)
                @include responsivo(pcMedio)
                    .infoGroup
                        &:nth-of-type(2)
                            flex-direction: row-reverse!important
        .groupElements.row
            &:nth-of-type(2)
                // display: none
                @include responsivo(telefonoTable)
                @include responsivo(pcMedio)
                    .infoGroup
                        &:nth-of-type(1)
                            flex-direction: row-reverse!important

#OLD_LandingPagesIncreibles_am_2_ .customSection.sectionParent.OLD_LandingPagesIncreibles_am_2_4
    padding-bottom: 60px
    @include responsivo(telefonoTable)
        margin-bottom: 0
    @include responsivo(pcMedio)
        margin-bottom: 0
    .backgroundFull.sct1
        background-position: center
        background-size: cover
        height: 300px
        position: relative
        display: flex
        @include responsivo(telefonoTable)
            height: 200px!important
        @include responsivo(pcMedio)
            height: 200px!important
        .imageBackground
            position: absolute
            left: 5%
            right: 0
            bottom: 0
            top: 30%
            margin: auto
            width: 50%
            display: block
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            // margin: 0
            @include responsivo(telefonoTable)
                background-position: 0 100%!important
                top: 0
                left: 10%
                height: 160px
                width: 75%
            @include responsivo(pcMedio)
                background-position: 0 100%!important
                top: 0
                left: 10%
                height: 160px
                width: 75%
            @include responsivo(general)
                left: 5%
        .section-row
            margin: auto
            margin-bottom: 50px
            @include responsivo(telefonoTable)
                margin-bottom: auto
                margin-top: auto
            @include responsivo(pcMedio)
                margin-bottom: auto
                margin-top: auto
            .containElements
                .primaryTitle
                    color: white
                    font-family: Nunito
                    font-style: normal
                    font-weight: 700
                    font-size: 35px
                    line-height: 1
                    text-align: center
                    letter-spacing: -1px
                    @include responsivo(telefonoTable)
                        font-size: 25px
                    @include responsivo(pcMedio)
                        font-size: 25px
                a.primaryButton
                    // margin: 0 auto
                    margin-left: auto
                    margin-right: auto
                    display: block
                    width: fit-content

#OLD_LandingPagesIncreibles_am_2_ .customSection.sectionParent.OLD_LandingPagesIncreibles_am_2_5
    background-color: #DEF3F5
    padding-bottom: 0
    @include responsivo(telefonoTable)
        padding: 25px 0
        padding-bottom: 50px
    @include responsivo(pcMedio)
        padding: 50px 0
    h2.principalBigTitle
        font-family: Nunito
        font-style: normal
        font-weight: 700
        font-size: 35px
        line-height: 1
        text-align: center
        letter-spacing: -1px
        @include responsivo(telefonoTable)
            font-size: 25px
            text-align: center
        @include responsivo(pcMedio)
            font-size: 25px
            text-align: center
    .section-row
        padding: 10px
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1240px!important
    .groupElements
        .form7
            padding-right: 75px
            padding-bottom: 75px
            margin-top: 0
            @include responsivo(telefonoTable)
                padding-right: 25px
                padding-left: 25px
                padding-bottom: 0
            @include responsivo(pcMedio)
                padding-right: 50px
                padding-left: 50px
                padding-bottom: 0
            h5.titleFormat
                font-weight: bold
                font-size: 26px
                line-height: 35px
                @include responsivo(telefonoTable)
                    font-size: 18px
                @include responsivo(pcMedio)
                    font-size: 18px
        .info
            padding-left: 0
            @include responsivo(telefonoTable)
                padding: 0
            @include responsivo(pcMedio)
                padding: 0
            .containElements
                padding-left: 0
            .containerImage
                margin-bottom: 0
                position: relative
                display: flex
                justify-content: flex-end
                padding: 0
                img
                    display: block
                    height: 400px
                    margin-top: auto
                @include responsivo(telefonoTable)
                    margin-bottom: 15px
                    img
                        position: unset
                        margin: 0 auto
                        height: 225px
                @include responsivo(pcMedio)
                    margin-bottom: 15px
                    img
                        position: unset
                        margin: 0 auto
                        height: 250px
        @include responsivo(telefonoTable)
            display: flex
            flex-direction: column-reverse