


@import ../../common/global

html
    margin: 0!important

#subPage_omnicanal_2025
    background-color: #FAFBFD
    
    .customSection.sectionParent

        .primaryTitle
            font-family: 'Mulish', sans-serif
            font-style: normal
            font-weight: 700
            font-size: 48px
            line-height: 1
            text-align: center
            @include responsivo(telefonoTable)
                font-size: 25px
            @include responsivo(pcMedio)
                font-size: 30px


        .innerSectionElement.sct1
            .primaryText
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: normal
                font-size: 18px
                line-height: 1
                text-align: center
                @include responsivo(telefonoTable)
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: normal
                    font-size: 15px



        .primaryText,
        a.hiperButtonGreenBlue
            font-family: 'Mulish', sans-serif
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 1
            @include responsivo(telefonoTable)
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: normal
                font-size: 12px
                text-align: center

        .secondaryTitle
            font-family: 'Mulish', sans-serif
            font-style: normal
            font-weight: 700
            font-size: 25px
            line-height: 1
            @include responsivo(telefonoTable)
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: 700
                font-size: 16px
                line-height: 1

#subPage_omnicanal_2025 .hero2025.subPage_omnicanal_2025_0_1

    .section-row
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        height: 650px!important
        @include responsivo(telefonoTable)
            width: 95%
            height: auto!important
            flex-direction: column
        @include responsivo(pcMedio)
            width: 80%
            height: auto!important
            flex-direction: column
        @include responsivo(general)
            width: 100%!important
            max-width: 1210px!important
        @include responsivo(smallPcTablet)
            max-width: 950px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1305px!important


    .backgroundFull
        padding: 0
        padding-top: 100px
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        @include responsivo(telefonoTable)
            padding-top: 100px!important
            padding-bottom: 0!important
            background-image: url('/wp-content/themes/oceanwp-child/resources/assets/images/banners/bg-escala-omnicanal-1-mb.png')!important
        @include responsivo(pcMedio)
            padding-top: 100px!important
            padding-bottom: 0!important
            background-image: url('/wp-content/themes/oceanwp-child/resources/assets/images/banners/bg-escala-omnicanal-1-mb.png')!important
        @include responsivo(smallPcTablet)
            background-position: 77% 
        .innerSectionElement.sct1
            @include responsivo(smallPcTablet)
                margin-top: auto

                padding: 0
                overflow: hidden
            .sectionText
                .principalBigTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 800
                    text-align: left
                    margin-bottom: 20px
                    line-height: 1
                    color: #fff
                    font-family: 'Mulish', sans-serif
                    font-weight: 800
                    @include responsivo(telefonoTable)
                        text-align: center
                        line-height: 1
                        font-size: 40px
                        br
                            display: none!important
                    @include responsivo(pcMedio)
                        text-align: center
                        br
                            display: none!important

                        line-height: 1
                        font-size: 40px
                    @include responsivo(general)
                        margin-top: 0
                        font-size: 55px
                    @include responsivo(smallPcTablet)
                        font-size: 50px
                    @include responsivo(resto)
                        margin-top: 0
                        font-size: 60px
                    span
                        background: linear-gradient(91deg, #D5FFC5 1.85%, #92BDFA 48.54%, #B587FA 92.61%)
                        background-clip: text
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                        font-feature-settings: 'liga' off, 'clig' off
                    small
                        display: block
                        margin-top: 20px
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 700
                        line-height: 1
                        color: #fff
                        @include responsivo(telefonoTable)
                            font-size: 35px
                            margin-top: 5px
                            font-weight: 800
                        @include responsivo(pcMedio)
                            font-size: 35px
                            margin-top: 5px
                            font-weight: 800
                        @include responsivo(general)
                            font-size: 40px
                        @include responsivo(smallPcTablet)
                            font-size: 28px
                        @include responsivo(resto)
                            font-size: 4
                .principalBigText
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 500
                    text-align: left
                    margin-bottom: 0
                    line-height: 1
                    color: #fff
                    @include responsivo(telefonoTable)
                        font-size: 30px
                        text-align: center
                        margin-bottom: 40px
                    
                        br
                            display: none!important
                    @include responsivo(pcMedio)
                        font-size: 30px
                        text-align: center
                        margin-bottom: 40px
                        

                    @include responsivo(general)
                        font-size: 30px
                    @include responsivo(smallPcTablet)
                        font-size: 21px
                        margin-bottom: 20px
                    @include responsivo(resto)
                        font-size: 30px
                .containerImage
                    display: none
                    margin: 0
                    padding: 0
                    @include responsivo(smallPcTablet)
                        display: block!important
                    img
                        height: 332px
        .innerSectionElement.sct2
            overflow: hidden
            margin-top: auto
            @include responsivo(telefonoTable)
                margin-top: 50px
                order: 2
            @include responsivo(pcMedio)
                margin-top: 50px
                order: 2
            @include responsivo(smallPcTablet)
                display: none
            .containerImage
                margin: 0
                margin-bottom: -10px
                padding: 0
                img
                    position: relative
                    height: 515px
                    @include responsivo(telefonoTable)
                        height: 353px
                    @include responsivo(pcMedio)
                        height: 323px
                    @include responsivo(general)
                        height: 475px
                        left: -10px
        .innerSectionElement.sct3
            padding-top: 220px
            @include responsivo(telefonoTable)
                padding-top: 0
            @include responsivo(pcMedio)
                padding-top: 0
            @include responsivo(smallPcTablet)
                width: 315px
            @include responsivo(general)
                padding-top: 265px
            .form7
                padding-bottom: 0
                display: flex
                @include responsivo(general)
                    padding-bottom: 50px
                    padding-left: 0
                    margin-left: auto
                @include responsivo(smallPcTablet)
                    padding-left: 0
                    padding-right: 0

                @include responsivo(resto)
                    padding-right: 0
                    padding-left: 0px
                    margin: 0 auto
                .formatForm
                    display: block
                    margin: 0 auto
                
                    filter: drop-shadow(0px 4px 30px rgba(0, 127, 150, 0.20))
                    border-radius: 20px
                    padding: 0px 30px 30px
                    @include responsivo(smallPcTablet)
                        padding: 0px 20px 30px
                    h5.titleFormat
                        color: #2C4857!important
                        font-family: "Mulish", sans-serif!important
                        font-size: 24px!important
                        font-weight: 800!important
                        line-height: 1!important
                        padding-bottom: 15px!important
                        @include responsivo(general)
                            font-size: 20px
                        @include responsivo(smallPcTablet)
                            font-size: 18px
                    input[type="button"]
                        font-weight: 900!important
                        font-size: 22px!important
                        border-radius: 10px
                        font-family: "Mulish", sans-serif!important
                        width: 100%
                        text-transform: none!important
                        background: linear-gradient(90deg, #F34F36 0%, #007F96 100%)!important
                        transition: background 0.3s ease
                        &:hover
                            background: linear-gradient(90deg, #ff6b60 0%, #1fdad3 100%)!important
                            color: #fff
                .containElements
                    margin: 0 auto
            .info2
                display: none


#subPage_omnicanal_2025 .customSection.sectionParent.subPage_omnicanal_2025_1
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    text-align: center
    margin-top: 60px    
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 95%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1250px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1000px!important

        @include responsivo(resto)
            width: 100%!important
            max-width:1340px!important
            
        .innerSectionElement.sct1
            margin-bottom: 100px!important
            .groupElements
                height: fit-content
                position: relative
                display: flex
                justify-content: center
                align-items: flex-start
                flex-direction: column-reverse
                .info
                    display: flex
                    flex-direction: column
                    padding: 0px
                    @include responsivo(telefonoTable)
                        margin-bottom: 0
                    @include responsivo(pcMedio)
                        margin-bottom: 0
                        width: 100%!important
                    .containerImage
                        margin: 0
                        margin-top: -20px
                        margin-bottom: 60px
                        padding: 0
                        @include responsivo(telefonoTable)
                            display: none
                        @include responsivo(pcMedio)
                            display: none
                        img
                            width: 100%
                            max-width: auto!important
                            @include responsivo(general)
                                padding-left: 40px
                            @include responsivo(smallPcTablet)
                                padding-left: 0px                                       
                    
                    .containElements
                        @include responsivo(general)
                            position: relative
                            left: 9px
                        .ele.reviews
                            display: flex
                            justify-content: center

                            @include responsivo(telefonoTable)
                                margin-top: 0px
                            @include responsivoSpecial(350px, 450px )
                                margin-top: 0px
                            .elements
                                width: fit-content
                                display: flex
                                flex-direction: row
                                gap: 55px
                                @include responsivo(telefonoTable)
                                    justify-content: center
                                    align-content: center
                                    align-items: center
                                    width: auto
                                    display: flex
                                    flex-direction: column
                                    gap: 20px
                                @include responsivo(pcMedio)
                                    justify-content: center
                                    align-content: center
                                    align-items: center
                                    width: auto
                                    display: flex
                                    flex-direction: column
                                    gap: 20px
                                @include responsivo(general)
                                    gap: 30px
                                @include responsivo(smallPcTablet)
                                    gap: 20px
                                    position: relative
                                    left: -10px
                                .refersElement
                                    padding: 0
                                    display: flex
                                    flex-direction: row
                                    width: auto
                                    @include responsivo(telefonoTable)
                                        margin-bottom: 10px
                                        justify-self: center
                                        align-content: center
                                        align-items: center
                                    @include responsivo(pcMedio)
                                        margin-bottom: 0
                                        justify-self: center
                                        align-content: center
                                        align-items: center
                                    &:last-child
                                        margin-bottom: 0
                                    .infoInner
                                        display: flex
                                        flex-direction: column
                                        @include responsivo(telefonoTable)
                                            margin: 0 auto
                                            width: 240px
                                        @include responsivo(pcMedio)
                                            margin: 0 auto
                                            width: auto
                                        .tag
                                            margin-bottom: 10px
                                            display: flex
                                            flex-direction: row
                                            align-content: flex-end
                                            position: relative
                                            .containerImage
                                                padding: 0
                                                margin: 0!important
                                                display: block
                                                img
                                                    margin-left: 0!important
                                                    @include responsivo(telefonoTable)
                                                        height: 30px!important
                                                    @include responsivo(pcMedio)
                                                        height: 30px
                                                    @include responsivo(general)
                                                        height: 21px
                                                        padding-left: 0
                                                    @include responsivo(smallPcTablet)
                                                        height: auto
                                                    @include responsivo(resto)
                                                        height: 21px
                                                    
                                            span.points
                                                font-family: "Mulish", sans-serif
                                                font-style: normal
                                                font-weight: 700
                                                font-size: 24px
                                                line-height: 1
                                                display: flex
                                                align-items: center
                                                color: #007F96
                                                display: flex
                                                align-self: flex-end
                                                justify-self: center
                                                margin-left: 10px
                                                position: relative

                                                @include responsivo(pcMedio)                                        
                                                    top: -2.5px
                                                @include responsivo(smallPcTablet)
                                                    width: 150px!important
                                                    font-size: 20px
                                        .text
                                            font-family: "Mulish", sans-serif
                                            font-style: normal
                                            font-weight: 600
                                            font-size: 16px
                                            line-height: 1
                                            display: flex
                                            align-items: center
                                            color: #A6A6A6
                                            margin-bottom: 10px
                                            @include responsivo(telefonoTable)
                                                font-size: 16px
                                            @include responsivo(pcMedio)
                                                font-size: 16px
                                            @include responsivo(general)
                                                font-size: 16px
                                            @include responsivo(smallPcTablet)
                                                font-size: 14px
                                                height: 20px
                                        .stars
                                            margin-bottom: 10px
                                            .containerImage
                                                padding: 0
                                                margin: 0!important
                                                display: block
                                                img
                                                    width: auto
                                                    margin-left: 0!important
                                                    @include responsivo(telefonoTable)
                                                        height: 20px!important
                                                    @include responsivo(pcMedio)
                                                        height: 20px
                                                    @include responsivo(general)
                                                        height: 20px
                                                        padding-left: 0px
                                                    @include responsivo(resto)
                                                        height: 20px           
                                    

                                .iconApp
                                    position: relative
                                    top: -10px
                                    @include responsivo(telefonoTable)
                                        top: -10px
                                    img
                                        height: 85px!important

#subPage_omnicanal_2025 .customSection.sectionParent.subPage_omnicanal_2025_1_0
    padding: 0
    background-color: transparent
    text-align: center

    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(smallPcTablet)
            width: 95%!important
        .innerSectionElement.sct1
            p                        
                font-size: 30px
                line-height: 1
                font-weight: 500
                color: #2C4857
                font-family: 'Mulish', sans-serif
                margin: 0
                padding-bottom: 60px
                @include responsivo(telefonoTable)
                    br
                        display: none!important
                @include responsivo(pcMedio)
                    br
                        display: none!important
                @include responsivo(smallPcTablet)
                    font-size: 27px       
        .innerSectionElement.sct2
            .section_contain
                gap: 0
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 90%
                margin: 0 auto
                background: #fff
                border-radius: 20px
                padding: 50px
                @include responsivo(telefonoTable)
                    width: 100%
                    gap: 0px

                    padding: 20px
                   
                @include responsivo(pcMedio)
                    width:  100%     
                    padding: 30px   
                @include responsivo(general)
                    width: 100%!important
                    max-width: 1100px!important
                @include responsivo(smallPcTablet)
                    max-width: 1100px!important
                    gap: 0
                @include responsivo(resto)
                    width: 90%!important
                    max-width: 1100px!important
            .dualSection 
                display: flex
                width: 100%
                margin-bottom: 0px
                @include responsivo(telefonoTable)
                    flex-direction: row
                    gap: 0px
              
                &:not(:last-child)
                    border-bottom: 1px solid #E9E9E9
                p
                    padding: 20px
                .textContainer
                    width: 48%
                    @include responsivo(telefonoTable)
                        text-align: center
                    @include responsivo(pcMedio)
                        text-align: center
                h3,strong
                    font-size: 30px
                    padding: 0px 30px 30px
                    font-weight: 800
                    font-family: "Mulish", sans-serif
                    
                    @include responsivo(telefonoTable)
                        font-size: 30px
                        padding: 0
                        padding-bottom: 20px
                    @include responsivo(pcMedio)
                        font-size: 25px
                        padding: 0
                        padding-bottom: 30px
                .textLeft
                    border-right: 1px solid #E9E9E9
                    p
                        padding: 30px
                        @include responsivo(telefonoTable)
                            padding: 10px
                    *
                        line-height: 1
                    p, span
                        &:last-child
                            margin-bottom: 0
                        text-align: left
                        color: #2C4857
                        font-size: 22px!important
                        line-height: 1
                        font-weight: 400
                        font-family: "Mulish", sans-serif
                        @include responsivo(telefonoTable)
                            font-size: 18px
                        @include responsivo(pcMedio)
                            font-size: 18px
                        @include responsivo(general)
                            font-size: 22px
                        @include responsivo(smallPcTablet)
                            font-size: 22px!important   
                .textRight
                    p
                        padding: 30px
                        @include responsivo(telefonoTable)
                            padding: 10px
                    *
                        line-height: 1
                    p, span
                        &:last-child
                            margin-bottom: 0
                        text-align: left
                        color: #2C4857
                        font-size: 22px!important
                        line-height: 1
                        font-weight: 400
                        font-family: "Mulish", sans-serif
                        @include responsivo(telefonoTable)
                            font-size: 18px
                        @include responsivo(pcMedio)
                            font-size: 18px
                        @include responsivo(general)
                            font-size: 22px
                        @include responsivo(smallPcTablet)
                            font-size: 22px!important   




#subPage_omnicanal_2025 .customSection.sectionParent.subPage_omnicanal_2025_1
    padding: 0
    background-color: transparent
    position: relative
    display: flex
    flex-direction: center
    justify-content: center
    justify-items: center
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 95%
        @include responsivo(general)
            width: 100%!important
            max-width: 1210px!important
        @include responsivo(smallPcTablet)
            max-width: 950px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1350px!important
        
        section.innerSectionElement.sct1
            margin-bottom: 60px
            position: unset
            z-index: 5
            @include responsivo(telefonoTable)
                margin-bottom: 40px
            @include responsivo(pcMedio)
                margin-bottom: 40px
            .containElements
                .primaryTitle
                    color: #2C4857
                    text-align: center
                    font-family: 'Mulish', sans-serif
                    font-size: 48px
                    font-style: normal
                    font-weight: 700
                    line-height: 1 
                    @include responsivo(telefonoTable)
                        font-size: 40px
                    @include responsivo(pcMedio)
                        font-size: 40px
                    @include responsivo(general)
                        font-size: 48px
                    @include responsivo(smallPcTablet)
                        font-size: 45px
                    @include responsivo(resto)
                        font-size: 48px
            
        section.innerSectionElement.sct2
            .row-container
                display: flex
                justify-content: center
                align-items: center
                gap: 10px
                @include responsivo(telefonoTable)
                    flex-wrap: wrap
                    gap: 25px
                @include responsivo(pcMedio)
                    flex-wrap: wrap
                .content-container
                    background-size: contain
                    background-repeat: no-repeat
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    height: 290px
                    width: 290px
                    padding: 20px 
                    padding-bottom: 0px
                    text-align: center
                    font-family: 'Mulish', sans-serif
                    @include responsivo(telefonoTable)
                        width: 279px
                        
                    @include responsivo(pcMedio)
                        width: 279px
                        
                    @include responsivo(general)
                        padding-right: 25px
                        
                    @include responsivo(smallPcTablet)
                        height: 255px
                        width: 240px
                    h3
                        color: #D5FFC5
                        font-size: 70px
                        font-weight: 800
                        line-height: 1
                        margin-bottom: 5px
                        @include responsivo(smallPcTablet)
                            font-size: 60px
                    span
                        font-size: 30px
                        font-weight: 500
                        line-height: 1
                        color: #fff
                        margin-bottom: 15px
                        @include responsivo(smallPcTablet)
                            font-size: 27px
                    p
                        font-size: 24px
                        font-weight: 500
                        line-height: 1
                        color: #fff
                        @include responsivo(smallPcTablet)
                            font-size: 20px


#subPage_omnicanal_2025 .customSection.sectionParent.subPage_omnicanal_2025_1_1
    padding: 140px 0px 
    background-color: transparent
    text-align: center
    @include responsivo(telefonoTable)
        padding: 100px 0px 
    @include responsivo(pcMedio)
        padding: 100px 0px 
    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 95%
        @include responsivo(general)
            width: 100%!important
            max-width: 1100px!important
            
        @include responsivo(smallPcTablet)
            max-width: 950px!important
        @include responsivo(resto)
            max-width: 1100px!important

        
        .slider-container 
            position: relative
            width: 100%
            overflow: hidden
            @include responsivo(telefonoTable)
                display: none
        .slider 
            display: flex
            transition: transform 0.5s ease-in-out
            width: 100%
        .slide 
            min-width: 100%
            box-sizing: border-box
            img 
                width: 100%
                height: auto
                display: block
        .dots-container 
            display: flex
            justify-content: center
            align-items: center
            padding: 40px 0 0
        .dot 
            cursor: pointer
            height: 12px
            width: 12px
            margin: 0 5px
            background-color: #bbb
            border-radius: 50%
            display: inline-block
            transition: background-color 0.3s ease
            &.active 
                background-color: #007F96
                width: 14px
                height: 14px
            &:hover 
                background-color: #E9E9E9
        .mobile-contain-slider
            display: none
            @include responsivo(telefonoTable)
                display: flex!important
                flex-direction: column

            .mobile-img
                width: auto
                height: auto



#subPage_omnicanal_2025 .sections .customSection.sectionParent.subPage_omnicanal_2025_2,
#subPage_omnicanal_2025 .sections .customSection.sectionParent.subPage_omnicanal_2025_3,
#subPage_omnicanal_2025 .sections .customSection.sectionParent.subPage_omnicanal_2025_4,
#subPage_omnicanal_2025 .sections .customSection.sectionParent.subPage_omnicanal_2025_5
    padding: 25px 0
    @include responsivo(telefonoTable)
        padding: 0px
        padding-bottom: 0
    .section-row
        // background-color: #fff
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 95%
        @include responsivo(general)
            width: 100%!important
            max-width: 1210px!important
        @include responsivo(smallPcTablet)
            max-width: 950px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1240px!important
        section.innerSectionElement.sct1
            @include responsivo(telefonoTable)
                margin-bottom: 25px
            @include responsivo(pcMedio)
                margin-bottom: 25px
            .containElements
                h2.primaryTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 700
                    font-size: 48px
                    line-height: 1
                    text-align: center
                    margin-bottom: 25px
                    @include responsivo(telefonoTable)
                        font-size: 40px
                    @include responsivo(pcMedio)
                        font-size: 40px
                    @include responsivo(smallPcTablet)
                        font-size: 45px

        section.innerSectionElement.sct2
            .groupElements.row
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column-reverse
                    margin-bottom: 70px
                    padding: 0
                @include responsivo(pcMedio)
                    display: flex
                    flex-direction: column-reverse
                    margin-bottom: 25px
                .info
                    padding: 0
                    h3.secondaryTitle
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 700
                        line-height: 1
                       
                        color: #2C4857
                        margin-bottom: 40px
                        @include responsivo(telefonoTable)
                            font-size: 35px
                            margin-bottom: 30px

                        @include responsivo(pcMedio)
                            font-size: 35px
                            margin-bottom: 30px
                        @include responsivo(general)
                            font-size: 37px
                        @include responsivo(smallPcTablet)
                            font-size: 35px
                        @include responsivo(resto)
                            font-size: 40px
                        span
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            position: relative
                            display: block
                            color: #007F96
                            margin-bottom: 15px
                            @include responsivo(telefonoTable)
                                font-size: 30px
                                margin-bottom: 10px
                            @include responsivo(pcMedio)
                                font-size: 30px
                                margin-bottom: 10px
                            @include responsivo(general)
                                font-size: 30px
                            @include responsivo(resto)
                                font-size: 30px

                    .text
                        margin-bottom: 0
                    ul.text
                        padding: 0
                        margin: 0

                        li::marker
                            color: #F1685A       

                    li
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        line-height: 1
                        color: #212A31
                        font-weight: 500
                        width: 100%!important
                        margin-bottom: 0
                        
                        margin-bottom: 0
                        @include responsivo(telefonoTable)
                            font-size: 24px
                        @include responsivo(pcMedio)
                            font-size: 24px
                        @include responsivo(general)
                            font-size: 24px
                        @include responsivo(smallPcTablet)
                            font-size: 22px
                        @include responsivo(resto)
                            font-size: 24px


                    ul.text
                        padding-left: 20px
                        @include responsivo(telefonoTable)
                            padding: 0
                            padding-left: 20px
                            width: fit-content
                            margin: 0 auto
                        @include responsivo(pcMedio)
                            padding: 0
                            width: 486px
                            margin: 0 auto
                        li
                            position: relative
                            margin-bottom: 10px
                            line-height: 1
                            @include responsivo(telefonoTable)
                                width: fit-content
                                text-align: left

                            @include responsivo(pcMedio)
                                width: fit-content
                                text-align: left

                            span
                                position: absolute
                                left: -20px
                                top: 0
                                bottom: 0
                                display: block
                                margin: auto

                .image
                    padding: 0
                    display: flex
                    justify-content: center
                    align-items: center
                    @include responsivo(telefonoTable)
                        margin-top: 50px
                    @include responsivo(pcMedio)
                        margin-top: 50px
                    .containerImage
                        margin: 0!important
                        padding: 0
                        img
                            display: block
                            margin: auto
                            @include responsivo(telefonoTable)
                                height: 200px
                                margin-bottom: 0
                            @include responsivo(pcMedio)
                                height: 275px
                                margin-bottom: 0
                            @include responsivo(general)
                                height: 300px
                            @include responsivo(smallPcTablet)
                                height: 275px
                            @include responsivo(resto)
                                height: 325px

        section.innerSectionElement.sct2.right
            .groupElements.row
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column
                @include responsivo(pcMedio)
                    display: flex
                    flex-direction: column
                .info
                    @include responsivo(general)
                        padding-left: 20px
                        padding-right: 35px
                    @include responsivo(resto)
                        padding-left: 20px
                        padding-right: 35px
                    p.text
                        @include responsivo(general)
                            text-align: right
                        @include responsivo(resto)
                            text-align: right

        section.innerSectionElement.sct2.left
            .groupElements.row
                .info
                    @include responsivo(general)
                        padding-left: 35px
                    @include responsivo(resto)
                        padding-left: 35px

#subPage_omnicanal_2025 .sections .customSection.sectionParent.subPage_omnicanal_2025_2
    padding-top: 0

    .section-row
        section.innerSectionElement.sct1
            .containElements
                h2.primaryTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 700
                    line-height: 1
                    text-align: center
                    margin-bottom: 100px
                    color: #2C4857
                    @include responsivo(telefonoTable)
                        font-size: 40px
                        margin-bottom: 60px
                    @include responsivo(pcMedio)
                        font-size: 40px
                        margin-bottom: 60px
                    @include responsivo(general)
                        font-size: 48px
                    @include responsivo(smallPcTablet)
                        font-size: 45px
                    @include responsivo(resto)
                        font-size: 48px
                    span
                        font-weight: 600
                        color: #007F96
                        @include responsivo(telefonoTable)
                            font-size: 35px
                            margin-top: 10px
                            display: block
                            br
                                display: none !important
                        @include responsivo(pcMedio)
                            font-size: 35px
                            margin-top: 10px
                            display: block
                        @include responsivo(smallPcTablet)
                            font-size: 30px
                        @include responsivo(general)
                            font-size: 40px
                        @include responsivo(resto)
                            font-size: 40px

#subPage_omnicanal_2025 .sections .customSection.sectionParent.subPage_omnicanal_2025_6
    padding-top: 70px
    padding-bottom: 140px

    @include responsivo(telefonoTable)
        padding-top: 0
        padding-bottom: 100px
    @include responsivo(pcMedio)
        padding-bottom: 100px
        padding-top: 25px

    .section-row
        @include responsivo(telefonoTable)
            max-width: 95%
        @include responsivo(pcMedio)
            max-width: 95%
        @include responsivo(smallPcTablet)
            max-width: 950px!important
        .innerSectionElement.sct1
            .btnCenter
                text-align: center
                margin-top: 0px
                margin-bottom: 0

                .primaryButton 
                    font-size: 30px!important
                    padding: 25px 80px!important
                    background: linear-gradient(90deg, #F34F36 0%, #007F96 100%)!important
                    transition: background 0.3s ease
                    font-family: "Mulish", sans-serif!important
                    @include responsivo(telefonoTable)
                        padding: 25px 20px!important
                        font-size: 25px!important
                    @include responsivo(smallPcTablet)
                        padding: 25px 55px!important
                    &:hover
                        background: linear-gradient(90deg, #ff6b60 0%, #1fdad3 100%)!important
                        color: #fff  




#subPage_omnicanal_2025 .customSection.sectionParent.subPage_omnicanal_2025_7
    padding-bottom: 140px!important
    background-color: transparent!important
    @include responsivo(telefonoTable)
        padding-bottom: 100px!important
    .section-row
        background-color: transparent!important
        @include responsivo(telefonoTable)
            max-width: 95%!important
        @include responsivo(pcMedio)
            max-width: 95%!important
        @include responsivo(general)
            width: 100%!important
            max-width: 1240px!important
        @include responsivo(smallPcTablet)
            max-width: 1000px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1340px!important
            

        section.innerSectionElement1
            @include responsivo(telefonoTable)
                margin-bottom: 25px
            @include responsivo(pcMedio)
                margin-bottom: 25px

            .primaryTitle
                color: #2C4857
                margin-bottom: 80px
                @include responsivo(telefonoTable)
                    font-size: 40px
                @include responsivo(pcMedio)
                    font-size: 40px
                @include responsivo(smallPcTablet)
                    font-size: 45px

        section.innerSectionElement2
            display: flex
            justify-content: center
            align-items: center
            gap: 30px
            @include responsivo(telefonoTable)
                flex-direction: column
                gap: 30px
            @include responsivo(pcMedio)
                flex-direction: column
                gap: 30px
            .img-center
                height:400px!important 

                @include responsivo(smallPcTablet)
                    height: 310px!important
            img
                box-shadow: 15px 15px 25px 0px rgba(0, 127, 150, 0.15)
                border-radius: 20px
                height: 290px
                @include responsivo(telefonoTable)
                    height: 240px
                @include responsivo(general)
                    height: 255px
                @include responsivo(smallPcTablet)
                    height: 220px

#subPage_omnicanal_2025 .customSection.sectionParent.subPage_omnicanal_2025_8
    padding: 0
    background-color: transparent
    background-size: cover
    background-repeat: no-repeat
    background-position: top
    @include responsivo(telefonoTable)
        background-image: url('/wp-content/themes/oceanwp-child/resources/assets/images/banners/bg-escala-omnicanal-8-mb.png')!important
    .section-row
        margin: 0 auto
        @include responsivo(telefonoTable)
            width: 100%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1110px!important
            
        @include responsivo(smallPcTablet)
            max-width: 95%!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1250px!important
            
        .containElements
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            gap: 20px
            
            @include responsivo(telefonoTable)
                flex-direction: column-reverse
            @include responsivo(pcMedio)
                padding-top: 50px
                flex-direction: column-reverse
            .innerSectionElement.sct1
                margin-top: auto  

                    
                .containElement      
                    img
                        width: auto
                        padding: 0px
                        margin: 0px
                        height: 430px
                        @include responsivo(telefonoTable)
                            height: 265px
                        @include responsivo(pcMedio)
                            height: 265px
                        @include responsivo(general)
                            height: 430px
                        @include responsivo(resto)
                            height: 430px
                        @include responsivo(smallPcTablet)
                            height: 390px

            .innerSectionElement.sct2
                margin: 0!important
                padding: 100px 0 75px  0
                @include responsivo(telefonoTable)
                    padding-top: 75px
                @include responsivo(pcMedio)
                    padding-top: 20px
                @include responsivo(smallPcTablet)
                    width: 50%
                .containElement
                    margin: 0
                    @include responsivo(telefonoTable)
                        display: flex
                        justify-content: center
                        align-items: center
                        flex-direction: column

                    @include responsivo(pcMedio)
                        display: flex
                        flex-direction: column
                        align-items: center

                    .title
                        color: #fff
                        font-family: "Mulish", sans-serif
                        font-size: 50px
                        font-weight: 800
                        line-height: 1
                        text-align: left
                        margin-bottom: 50px
                        @include responsivo(telefonoTable)
                            font-size: 40px
                            text-align: center
                        @include responsivo(pcMedio)
                            font-size: 40px
                            text-align: center  
                        @include responsivo(smallPcTablet)
                            font-size: 42px
                        span
                            color: #D5FFC5
                    .primaryButton
                        font-size: 30px!important
                        padding: 25px 80px!important
                        @include responsivo(telefonoTable)
                            padding: 25px 20px!important
                            font-size: 25px!important
                            text-align: center
                        @include responsivo(smallPcTablet)
                            padding: 25px 60px!important







body.template-open-webinar-escala-meeting header .elementor-container.elementor-column-gap-default
    @include responsivo(telefonoTable)
        width: 100%
    @include responsivo(pcMedio)
        width: 100%