@import ../../common/global

#subPage_zoom_meeting_2023 .customSection.sectionParent.subPage_zoom_meeting_2023_0
    padding: 0
    .backgroundFull
        padding-top: 150px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        @include responsivo(general)
            background-position: center -75px
        @include responsivo(resto)
            background-position: center -75px
            background-size: 5000px


    .section-row
        // background-color: #FFFFFF
        // border-radius: 18px
        justify-content: center
        max-width: 900px
        @include responsivo(telefonoTable)
            width: 95%
            padding: 0
        @include responsivo(pcMedio)
            width: 90%
            padding: 0
        @include responsivo(general)
            width: 100%!important
            max-width: 1140px!important
            padding: 0
        @include responsivo(smallPcTablet)
            // width: 100%!important
            max-width: 900px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1240px!important
            padding: 0

        section.innerSectionElement.sct3
            margin-top: 35px

            .groupElements
                display: flex
                justify-content: center
                justify-items: center
                align-content: center
                align-items: center
                a
                    display: flex
                    flex-direction: row
                    justify-items: center
                    justify-content: center
                    align-content: center

                    text-decoration: none

                    color: #36768A
                    font-family: Nunito
                    font-size: 18px
                    font-style: normal
                    font-weight: 600
                    line-height: 1
                    letter-spacing: -1px
                    @include responsivo(telefonoTable)
                        font-size: 12px
                    @include responsivo(pcMedio)
                        font-size: 14px
                    @include responsivo(general)
                        font-size: 16px
                    @include responsivo(smallPcTablet)
                        font-size: 14px

                    img
                        margin-right: 10px
                        height: 20px
                        width: 20px
                    &:hover
                        transform: scale(1.1)


        section.innerSectionElement.sct1
            margin-bottom: 50px
            @include responsivo(telefonoTable)
                margin-bottom: 25px

            .containElements
                h1.primaryTitle
                    text-align: center
                    color: #322C2E
                    font-family: Nunito
                    font-size: 42.5px
                    font-style: normal
                    font-weight: 700
                    line-height: 1
                    letter-spacing: -1.5px
                    span
                        color: #36768A
                    @include responsivo(telefonoTable)
                        font-size: 25px
                    @include responsivo(pcMedio)
                        font-size: 30px
                    @include responsivo(general)
                        font-size: 40px
                    @include responsivo(smallPcTablet)
                        font-size: 37.5px

        section.innerSectionElement.sct2
            .groupElements
                .image
                    .containElements
                        .containerImage
                            img
                                @include responsivo(telefonoTable)
                                    height: 250px
                                @include responsivo(pcMedio)
                                    height: 350px
                                @include responsivo(general)
                                    height: 475px
                                @include responsivo(smallPcTablet)
                                    height: 450px
                                @include responsivo(resto)
                                    height: 500px
                .cardsContainer
                    .containElements
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-content: center
                        align-items: center
                        gap: 35px
                        .card
                            width: 100%
                            display: flex
                            flex-direction: row
                            padding: 25px
                            border-radius: 20px
                            background: #FFF
                            box-shadow: 0px 6px 30px 0px rgba(54, 118, 138, 0.10)
                            .info
                                @include responsivo(general)
                                    padding-left: 20px
                                @include responsivo(resto)
                                    padding-left: 20px
                                h4
                                    color: #36768A
                                    font-family: Nunito
                                    font-size: 18px
                                    font-style: normal
                                    font-weight: 600
                                    line-height: 1
                                    letter-spacing: -1px
                                    margin-bottom: 20px
                                    @include responsivo(telefonoTable)
                                        font-size: 12px
                                    @include responsivo(pcMedio)
                                        font-size: 14px
                                    @include responsivo(general)
                                        font-size: 16px
                                    @include responsivo(smallPcTablet)
                                        font-size: 14px

                                h3
                                    color: #36768A
                                    font-family: Nunito
                                    font-size: 22px
                                    font-style: normal
                                    font-weight: 700
                                    line-height: 1
                                    letter-spacing: -0.66px
                                    margin-bottom: 10px
                                    @include responsivo(telefonoTable)
                                        font-size: 14px
                                    @include responsivo(pcMedio)
                                        font-size: 16px
                                    @include responsivo(general)
                                        font-size: 20px
                                    @include responsivo(smallPcTablet)
                                        font-size: 18px

                                p.text
                                    color: #322C2E
                                    font-family: Nunito
                                    font-size: 16px
                                    font-style: normal
                                    font-weight: 500
                                    line-height: 1.25
                                    letter-spacing: -0.48px
                                    @include responsivo(telefonoTable)
                                        font-size: 12px
                                    @include responsivo(pcMedio)
                                        font-size: 14px
                                    @include responsivo(general)
                                        font-size: 14px
                                    @include responsivo(smallPcTablet)
                                        font-size: 12px

                                hr
                                    background-color: #36768A

                            .action
                                display: flex
                                flex-direction: column
                                justify-content: center
                                align-content: center
                                align-items: center
                                .containerImage
                                    padding: 0
                                    margin: 0
                                    margin-bottom: 15px
                                    img
                                        @include responsivo(telefonoTable)
                                            height: 35px
                                        @include responsivo(pcMedio)
                                            height: 50px
                                        @include responsivo(general)
                                            height: 75px
                                        @include responsivo(resto)
                                            height: 100px
                                a
                                    @include responsivo(general)
                                        font-size: 18px!important
                                    @include responsivo(resto)
                                        font-size: 18px!important

                                small
                                    color: #797979
                                    text-align: center
                                    font-family: Nunito
                                    font-size: 12px
                                    font-style: normal
                                    font-weight: 500
                                    line-height: 1
                                    letter-spacing: -0.36px
                                    margin-top: 5px
                                    @include responsivo(telefonoTable)
                                        font-size: 6px
                                    @include responsivo(pcMedio)
                                        font-size: 8px
                                    @include responsivo(general)
                                        font-size: 10px
                                    @include responsivo(smallPcTablet)
                                        font-size: 8px



#subPage_zoom_meeting_2023 .customSection.sectionParent.subPage_zoom_meeting_2023_1
    .section-row
        // background-color: #FFFFFF
        // border-radius: 18px
        @include responsivo(telefonoTable)
            width: 95%
            padding: 0
        @include responsivo(pcMedio)
            width: 90%
            padding: 0

        @include responsivo(general)
            width: 100%!important
            max-width: 1000px!important
            padding: 0
        @include responsivo(smallPcTablet)
            max-width: 920px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1140px!important
            padding: 0
