




#escalaVentas-ventas-bootstrap
    .sections

        .customSection.sectionParent.eVentas0
            background: linear-gradient(180deg, #DCEAF4 0%, rgba(220, 234, 244, 0) 100%)
            padding-bottom: 65px
            overflow: hidden
            .section-row
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 90%
                // @include responsivo(general)
                    // width: 100%!important
                    // max-width: 1050px!important
                // @include responsivo(resto)
                    // width: 100%!important
                    // max-width: 1175px!important
                .innerSectionElement.sct1
                    .groupElements
                        .info
                            @include responsivo(telefonoTable)
                                margin-bottom: 50px
                            @include responsivo(pcMedio)
                                margin-bottom: 50px
                            @include responsivo(general)
                                padding-left: 75px
                            @include responsivo(resto)
                                padding-left: 75px
                            .containElements
                                .principalBigTitle
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: bold
                                    font-size: 35px
                                    line-height: 45px
                                    letter-spacing: -3px
                                    position: relative
                                    @include responsivo(telefonoTable)
                                        margin-bottom: 25px
                                    @include responsivo(pcMedio)
                                        margin-bottom: 25px
                                    @include responsivo(general)
                                        padding-left: 7.5%
                                        top: 40px

                                    @include responsivo(resto)
                                        padding-left: 7.5%
                                        top: 40px

                                .containerImage
                                    margin: 0
                                    padding: 0
                                    position: relative
                                    img
                                        height: 275px
                                        @include responsivo(general)
                                            top: 75px
                                            height: auto
                                            width: 175%
                                            position: absolute

                                        @include responsivo(resto)
                                            top: 75px
                                            height: auto
                                            width: 175%
                                            position: absolute


                        .form7
                            @include responsivo(general)
                                padding: 0

                            @include responsivo(resto)
                                padding: 0

                            .formatForm
                                @include responsivo(general)
                                    margin: 0
                                    margin-left: auto

                                @include responsivo(resto)
                                    margin: 0
                                    margin-left: auto



        .customSection.sectionParent.eVentas1
            padding-top: 0
            padding-bottom: 25px
            .section-row
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 90%
                // @include responsivo(general)
                    // width: 100%!important
                    // max-width: 1050px!important
                // @include responsivo(resto)
                    // width: 100%!important
                    // max-width: 1175px!important
                .innerSectionElement.sct1
                    .groupElements
                        padding: 25px
                        padding-left: 100px
                        padding-right: 100px
                        background-color: #F0F8FE
                        box-shadow: 0
                        .info
                            .containElements
                                width: 100%
                                .primaryText
                                    padding-top: 50px
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: 600
                                    font-size: 20px
                                    line-height: 26px
                                    letter-spacing: -1px
                                    width: 100%!important
                                    @include responsivo(telefonoTable)
                                        text-align: center
                                    @include responsivo(pcMedio)
                                        text-align: center
                        .image
                            .containerImage
                                margin: 0
                                img
                                    height: 250px
                                    @include responsivo(telefonoTable)
                                        height: 225px
                                    @include responsivo(pcMedio)
                                        height: 225px

        .customSection.sectionParent.eVentas2
            padding-top: 50px
            padding-bottom: 50px
            // background-color: $colorBlueLight7
            .section-row
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 90%
                @include responsivo(general)
                    width: 100%!important
                    max-width: 1125px!important
                @include responsivo(resto)
                    width: 100%!important
                    max-width: 1250px!important

        .customSection.sectionParent.eVentas3
            padding-top: 50px
            padding-bottom: 50px
            background-color: $colorBlueLight7
            position: relative
            z-index: 1
            .section-row
                z-index: 10!important
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 90%
                @include responsivo(general)
                    width: 100%!important
                    max-width: 1125px!important
                @include responsivo(resto)
                    width: 100%!important
                    max-width: 1250px!important

            .backgroundPlanets
                width: 100%
                height: 77.5%
                left: 0
                right: 0
                bottom: 0
                margin: 0 auto
                position: absolute
                z-index: -1!important
                background-repeat: no-repeat
                background-position: center top
                // background-size: cover

        .customSection.sectionParent.eVentas4
            @include responsivo(telefonoTable)
                padding: 50px 0
            @include responsivo(pcMedio)
                padding: 50px 0
            .section-row
                @include responsivo(telefonoTable)
                    width: 90%
                @include responsivo(pcMedio)
                    width: 90%
                @include responsivo(general)
                    width: 80%!important
                @include responsivo(resto)
                    width: 100%!important
                    max-width: 1250px!important
                .innerSectionElement.sct1
                    .containElements
                        .containerImage
                            img
                                height: 50px
                        .primaryText
                            font-family: Nunito
                            font-style: normal
                            font-weight: 300
                            font-size: 18px
                            line-height: 25px
                            text-align: center
                            letter-spacing: -1px
                            margin-bottom: 20px

                        .testim
                            display: flex
                            flex-direction: row
                            justify-content: center
                            align-content: center
                            .containerImage
                                margin: 0
                                img
                                    border-radius: 100px
                                    height: 100px
                            .info
                                margin: auto 0
                                margin-left: 15px
                                h3
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: bold
                                    font-size: 18px
                                    line-height: 20px
                                    margin-bottom: 10px
                                p
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: normal
                                    font-size: 14px
                                    line-height: 20px
                                    margin: 0
