




#escalaVentas-ventas-bootstrap
    .sections

        .customSection.sectionParent.eVentas0
            background: linear-gradient(180deg, #DCEAF4 0%, rgba(220, 234, 244, 0) 100%)
            padding-bottom: 65px
            .section-row
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 90%
                @include responsivo(general)
                    width: 100%!important
                    max-width: 1050px!important
                @include responsivo(resto)
                    width: 100%!important
                    max-width: 1175px!important
                .innerSectionElement.sct1
                    .groupElements
                        .info
                            @include responsivo(general)
                                padding-left: 2.5%
                            @include responsivo(resto)
                                padding-left: 2.5%
                            .containElements
                                .principalBigTitle
                                    padding-left: 10%
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: bold
                                    font-size: 35px
                                    line-height: 45px
                                    letter-spacing: -3px
                                    position: relative
                                    top: 40px
                                .containerImage
                                    margin: 0
                                    padding: 0
                                    position: relative
                                    img
                                        position: absolute
                                        width: 175%
                                        height: auto
                                        top: 75px

                        .form7
                            padding: 0
                            .formatForm
                                margin: 0
                                margin-left: auto


        .customSection.sectionParent.eVentas1
            padding-top: 0!important
            .section-row
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 90%
                // @include responsivo(general)
                    // width: 100%!important
                    // max-width: 1050px!important
                // @include responsivo(resto)
                    // width: 100%!important
                    // max-width: 1175px!important
                .innerSectionElement.sct1
                    .groupElements
                        padding: 25px
                        padding-left: 75px
                        padding-right: 75px
                        background-color: #F0F8FE
                        box-shadow: 0
                        .info
                            .containElements
                                .primaryText
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: 600
                                    font-size: 20px
                                    line-height: 26px
                                    letter-spacing: -1px
                                    width: 100%!important
                        .image
                            .containerImage
                                img
                                    height: 250px