



#landing-Partners-bootstrap

    .customSection.sectionParent

        section.innerSectionElement.sct1
            h2.primaryTitle
                font-family: Nunito
                font-style: normal
                font-weight: bold
                font-size: 30px
                line-height: 34px
                text-align: center

        section.innerSectionElement.sct2
            h3.secondaryTitle
                font-family: Nunito
                font-style: normal
                font-weight: bold
                font-size: 22px
                line-height: 26px

            h2.secondaryTitle
                font-family: Nunito
                font-style: normal
                font-weight: bold
                font-size: 30px
                line-height: 32px

    .specialHeader
        background: linear-gradient(180deg, #F1FAFF 0%, rgba(242, 240, 241, 0) 125%)


    .customSection.sectionParent.landingPartners0


        @include responsivo(telefonoTable)
            padding-bottom: 50px!important
            padding-top: 75px
        @include responsivo(pcMedio)
            padding-bottom: 50px!important
            padding-top: 75px
        @include responsivo(general)
            padding-bottom: 35px!important
            padding-top: 60px
        @include responsivo(resto)
            padding-bottom: 35px!important
            padding-top: 60px

        .section-row
            padding: 0
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1040px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1100px!important

            .groupElements
                // display: none!important
                .info
                    display: flex
                    @include responsivo(telefonoTable)
                        margin-bottom: 0
                        padding: 0
                    @include responsivo(pcMedio)
                        margin-bottom: 0
                        padding: 0
                    @include responsivo(general)
                        padding-top: 25px
                    @include responsivo(resto)
                        padding-top: 25px

                    h3.secondaryTitle
                        margin-bottom: 25px
                        font-family: Nunito
                        font-style: normal
                        font-weight: 800
                        font-size: 50px
                        line-height: 50px
                        text-align: left
                        @include responsivo(telefonoTable)
                            text-align: center!important
                            width: 100%
                            margin-bottom: 25px
                            font-size: 37.5px
                        @include responsivo(pcMedio)
                            text-align: center!important
                            width: 100%
                            margin-bottom: 25px
                            font-size: 40px
                        @include responsivo(general)
                            width: 700px!important
                        @include responsivo(resto)
                            width: 700px!important
                    p.text
                        font-family: Nunito
                        font-style: normal
                        font-weight: normal
                        font-size: 22px
                        line-height: 30px

                .image
                    .containerImage
                        padding: 0
                        margin: auto 0
                        margin-top: 0
                        display: block
                        img
                            // height: 325px
                            height: 375px
                            margin-right: auto
                            @include responsivo(telefonoTable)
                                height: 350px
                                margin-bottom: 25px
                            @include responsivo(pcMedio)
                                height: 350px
                                margin-bottom: 25px
                        @include responsivo(telefonoTable)
                            margin: 0 auto!important
                        @include responsivo(pcMedio)
                            margin: 0 auto


                .form7
                    padding-right: 0
                    padding-left: 25px
                    padding-bottom: 75px
                    .formatForm
                        margin-left: auto
                        @include responsivo(telefonoTable)
                            margin: 0 auto
                        @include responsivo(pcMedio)
                            margin: 0 auto



    .customSection.sectionParent.landingPartners1
        // .blueLabelSpecial
        .blueLabelSpecial
            background-color: #7693A2

        .section-row
            padding: 0
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1100px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1240px!important


            .containElements
                padding: 50px 0

                p.primaryText
                    font-family: Nunito
                    font-style: normal
                    font-weight: normal
                    font-size: 22px
                    line-height: 30px
                    text-align: center
                    width: 100%
                    display: block
                    color: black
                    // textaali
                        // center

    .customSection.sectionParent.landingPartners2
        padding-top: 40px
        padding-bottom: 75px
        // background-color: $colorBlueLight7
        .section-row
            background-color: white
            border-radius: 20px
            padding: 50px 25px
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1125px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1250px!important
            section.innerSectionElement.sct1
                margin-bottom: 25px
                h2.primaryTitle

                    text-align: center
                    margin-bottom: 0
            p.primaryText
                font-family: Nunito
                font-style: normal
                font-weight: 600
                font-size: 20px
                line-height: 26px
                text-align: center
                letter-spacing: -1px
            .innerSectionElement.sct2
                .groupElements
                    background-color: transparent
                    padding: 0
                    .image
                        .containerImage
                            img
                                height: 125px
                    .info
                        h3.secondaryTitle
                            color: black

    .customSection.sectionParent.landingPartners3
        padding: 50px 0
        .section-row
            padding: 0
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1100px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1140px!important
            .innerSectionElement.sct1
                .containElements
                    .primaryTitle
                        text-align: center
                        margin-bottom: 50px
            .innerSectionElement.sct2
                margin-bottom: 0
                .containElements
                    .row
                        .item
                            padding: 0
                            &:nth-child(4n - 3)
                                .boxInfoCheck
                                    background-color: #F3FAFE
                            &:nth-child(4n - 2)
                                .boxInfoCheck
                                    background-color: #FAFDFF
                            &:nth-child(4n - 5)
                                .boxInfoCheck
                                    background-color: #FAFDFF
                            &:nth-child(4n - 4)
                                .boxInfoCheck
                                    background-color: #F3FAFE

                            &:nth-child(odd)
                                .boxInfoCheck
                                    @include responsivo(general)
                                        border-radius: 15px 0px 0px 15px

                                    @include responsivo(resto)
                                        border-radius: 15px 0px 0px 15px

                            &:nth-child(even)
                                .boxInfoCheck
                                    @include responsivo(general)
                                        border-radius: 0px 15px 15px 0px

                                    @include responsivo(resto)
                                        border-radius: 0px 15px 15px 0px

                            .boxInfoCheck

                                position: relative
                                @include responsivo(telefonoTable)
                                    border-radius: 15px
                                @include responsivo(pcMedio)
                                    border-radius: 15px

                                .secondaryTitle
                                    display: flex
                                    flex-direction: row
                                    align-content: center
                                    align-items: center
                                    position: relative
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: bold
                                    font-size: 30px
                                    line-height: 32px
                                    img.iconCheck
                                        position: absolute
                                        left: -30px
                                        top: 0
                                        bottom: 0
                                        height: 25px
                                        width: auto
                                        margin-right: auto


                                p.text
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: normal
                                    font-size: 14px
                                    line-height: 18px
                                    color: #73676D
                                    margin-bottom: 35px


    .customSection.sectionParent.landingPartners4
        padding-top: 25px!important
        padding-bottom: 0px!important
        background-color: white
        position: relative
        z-index: 1
        .section-row
            z-index: 10!important
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1225px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1300px!important
            section.innerSectionElement.sct1
                margin-bottom: 25px
                h2.primaryTitle
                    margin-bottom: 0
            section.innerSectionElement.sct2
                margin-bottom: 25px
                .row
                    display: flex
                    justify-content: center
                    align-content: center
                    flex-direction: column
                    width: fit-content
                    margin: 0 auto
                    .item
                        width: 100%!important
                        display: block
                        margin: 50px 0
                        margin-top: 0
                        .groupElements
                            background-color: transparent
                            border: 0
                            box-shadow: none!important
                            padding-top: 0
                            display: flex
                            flex-direction: row
                            margin: 0
                            width: fit-content
                            padding: 0
                            .image
                                @include responsivo(general)
                                    margin-right: 15px
                                @include responsivo(resto)
                                    margin-right: 15px
                                .containerImage
                                    padding: 0
                                    margin: auto
                                    width: 200px
                                    img
                                        height: 150px
                            .info
                                display: flex
                                flex-direction: column
                                justify-content: center
                                .secondaryTitle
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: bold
                                    font-size: 30px
                                    line-height: 34px
                                    text-align: left
                                p.text
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: normal
                                    font-size: 16px
                                    line-height: 18px
                                    text-align: left
                                    padding: 0 5px

            section.innerSectionElement.sct3
                a.goToHash.primaryButton.hoverInEffect
                    margin: 0 auto
                    display: block
                    width: fit-content

    .customSection.sectionParent.extraText4
        padding: 0px 0
        padding-bottom: 100px
        @include responsivo(telefonoTable)
            padding-bottom: 50px
        @include responsivo(pcMedio)
            padding-bottom: 50px
        .section-row
            .innerSectionElement
                .primaryTitle
                    font-family: Nunito
                    font-style: normal
                    font-weight: bold
                    font-size: 25px
                    line-height: 34px
                    text-align: center

    .customSection.sectionParent.landingPartners5
        display: flex
        flex-direction: column
        .backgroundFull
            padding-top: 0
            padding-bottom: 0
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            @include responsivo(telefonoTable)
                padding-bottom: 0!important
            @include responsivo(pcMedio)
                padding-bottom: 0!important

        .backgroundPlanets
            display: block
            width: 50%
            height: 100%
            left: 10%
            top: 0
            bottom: 0
            background-position: center
            background-size: 50%
            background-repeat: no-repeat

        .section-row
            padding: 0
            z-index: 10!important
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1225px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1275px!important

            section.innerSectionElement.sct2
                .groupElements
                    @include responsivo(telefonoTable)
                        display: flex
                        flex-direction: column-reverse
                    @include responsivo(pcMedio)
                        display: flex
                        flex-direction: column-reverse
                    .image
                        position: relative
                        .containerImage
                            position: absolute
                            left: 0
                            right: 0
                            bottom: 0
                            padding: 0
                            margin: 0
                            z-index: 10
                            img
                                height: 400px
                            @include responsivo(telefonoTable)
                                position: unset
                                img
                                    height: 350px
                                    margin-top: auto
                            @include responsivo(pcMedio)
                                position: unset
                                img
                                    height: 350px
                                    margin-top: auto
                    .info
                        padding: 75px 0
                        @include responsivo(telefonoTable)
                            padding-bottom: 25px
                        @include responsivo(pcMedio)
                            padding-bottom: 25px
                        .text
                            font-family: Nunito
                            font-style: normal
                            font-weight: 600
                            font-size: 20px
                            line-height: 25px
                            text-align: right
                            color: white
                            width: auto!important
                        .autor
                            font-family: Nunito
                            font-style: normal
                            font-weight: normal
                            font-size: 14px
                            line-height: 20px
                            text-align: right
                            color: white
                            strong
                                font-family: Nunito
                                font-style: normal
                                font-weight: bold
                                font-size: 16px
                                line-height: 20px
                                text-align: right
                                color: white
                            @include responsivo(telefonoTable)
                                text-align: center
                            @include responsivo(pcMedio)
                                text-align: center





    .customSection.sectionParent.landingPartners6
        padding-top: 75px!important
        padding-bottom: 75px!important
        background: rgba(242, 240, 241, 0.6)
        position: relative
        z-index: 1
        .section-row
            z-index: 10!important
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1225px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1300px!important
            section.innerSectionElement.sct1
                margin-bottom: 50px
                h2.primaryTitle
                    margin-bottom: 25px
                p.primaryText
                    font-family: Nunito
                    font-style: normal
                    font-weight: normal
                    font-size: 16px
                    line-height: 22px
                    text-align: center
                    color: #73676D
            section.innerSectionElement.sct2
                margin-bottom: 0
                .row
                    .item
                        padding-bottom: 0
                        padding-top: 0
                        .groupElements
                            background-color: transparent
                            box-shadow: none
                            padding-top: 0
                            .image
                                .containerImage
                                    img
                                        height: 150px

                            .info
                                .text
                                    padding: 0 5px
                                    margin-bottom: 10px
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: normal
                                    font-size: 16px
                                    line-height: 20px
                                    text-align: center
                                    color: #73676D
                                a
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: bold
                                    font-size: 16px
                                    line-height: 20px




    // .customSection.sectionParent.landingPartners7

    .customSection.sectionParent.landingPartners7
        background-color: #E6F2F8
        @include responsivo(telefonoTable)
            padding-bottom: 0!important
        @include responsivo(pcMedio)
            padding-bottom: 0!important
        @include responsivo(general)
            padding-bottom: 0!important
            padding-top: 60px
        @include responsivo(resto)
            padding-bottom: 0!important
            padding-top: 60px

        .section-row
            padding: 0
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1040px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1100px!important

            .groupElements
                // display: none!important
                .info
                    display: flex
                    @include responsivo(telefonoTable)
                        margin-bottom: 0
                        padding: 0
                    @include responsivo(pcMedio)
                        margin-bottom: 0
                        padding: 0
                    @include responsivo(general)
                        padding-top: 25px
                    @include responsivo(resto)
                        padding-top: 25px

                    h3.secondaryTitle
                        margin-bottom: 25px
                        font-family: Nunito
                        font-style: normal
                        font-weight: 800
                        font-size: 55px
                        line-height: 55px
                        text-align: center
                        @include responsivo(telefonoTable)
                            text-align: center!important
                            width: 100%
                            margin-bottom: 25px
                        @include responsivo(pcMedio)
                            text-align: center!important
                            width: 100%
                            margin-bottom: 25px
                        @include responsivo(general)
                            width: 700px!important
                        @include responsivo(resto)
                            width: 700px!important
                    p.text
                        font-family: Nunito
                        font-style: normal
                        font-weight: 800
                        font-size: 25px
                        line-height: 30px
                        text-align: center

                .image
                    .containerImage
                        padding: 0
                        margin: auto 0
                        margin-top: 0
                        display: block
                        img
                            // height: 325px
                            height: 525px
                            margin-right: auto
                            @include responsivo(telefonoTable)
                                height: 400px
                                margin-bottom: 25px
                            @include responsivo(pcMedio)
                                height: 400px
                                margin-bottom: 25px
                        @include responsivo(telefonoTable)
                            margin: 0 auto!important
                        @include responsivo(pcMedio)
                            margin: 0 auto
