

@import ../../common/global


@mixin body_sectionTitle()
    color: #00506E
    text-align: center
    font-family: Nunito
    font-style: normal
    font-weight: 700
    line-height: 1
    letter-spacing: -1.5px
    @include responsivo(telefonoTable)
        font-size: 25px
    @include responsivo(pcMedio)
        font-size: 25px
    @include responsivo(general)
        font-size: 35px
    @include responsivo(smallPcTablet)
        font-size: 35px
    @include responsivo(resto)
        font-size: 40px


#landing_integraciones_2024
    background-color: #FAFBFD
    .groupBackground
        background-color: #FAFBFD

#landing_integraciones_2024 
    .btnCenter
        text-align: center
        margin-top: 0px
        margin-bottom: 0
        width: 100%
        .primaryButton 
            font-size: 30px!important
            padding: 25px 80px!important
            background: linear-gradient(90deg, #F34F36 0%, #007F96 100%)!important
            transition: background 0.3s ease
            font-family: "Mulish", sans-serif!important
            @include responsivo(telefonoTable)
                padding: 25px 20px!important
                font-size: 25px!important
            @include responsivo(smallPcTablet)
                padding: 25px 55px!important
            &:hover
                background: linear-gradient(90deg, #ff6b60 0%, #1fdad3 100%)!important
                color: #fff  

#landing_integraciones_2024 .landing_integraciones_2024_0
    z-index: 2
    position: relative   
    .section-row-2
        width: 95%
        margin: 0 auto
        position: relative
        top: -123px
        @include responsivo(telefonoTable)
            top: 0
        @include responsivo(pcMedio)
            top: 0
        @include responsivo(general)
            max-width: 1225px!important
            width: 100%!important
            top: -77px
        @include responsivo(smallPcTablet)
            display: none
        @include responsivo(resto)
            max-width: 1430px!important
            width: 100%!important
        .innerSectionElement.sctO1
            padding-bottom: 30px
            .groupElements
                height: fit-content
                position: relative
                display: flex
                justify-content: center
                align-items: flex-start
                flex-direction: column-reverse
                .info
                    display: flex
                    flex-direction: column
                    padding: 0px
                    width: 65%
                    @include responsivo(telefonoTable)
                        margin-bottom: 0
                        width: 100%
                        padding: 0px 10px
                    @include responsivo(pcMedio)
                        margin-bottom: 0
                        width: 100%!important
                    @include responsivo(general)
                        width: 69%
                    @include responsivo(smallPcTablet)
                        width: 100%
                    .containerImage
                        margin: 0
                        margin-top: -20px
                        margin-bottom: 60px
                        padding: 0
                        @include responsivo(telefonoTable)
                            display: none
                        @include responsivo(pcMedio)
                            display: none
                        img
                            width: 100%
                            max-width: auto!important
                            @include responsivo(general)
                                padding-left: 40px
                            @include responsivo(smallPcTablet)
                                padding-left: 0px                                       
                    
                    .containElements
                        @include responsivo(general)
                            position: relative
                            left: 9px
                        .ele.reviews
                            display: flex
                            justify-content: center
                            background-color: #fff
                            padding: 40px 30px
                            border-radius: 15px
                            @include responsivo(telefonoTable)
                                margin-top: 0
                            @include responsivo(pcMedio)
                                margin-top: 0
                            .elements
                                width: fit-content
                                display: flex
                                flex-direction: row
                                align-items: center

                                gap: 35px
                                @include responsivo(telefonoTable)
                                    justify-content: center
                                    align-content: center
                                    align-items: center
                                    width: auto
                                    display: flex
                                    flex-direction: column
                                    gap: 20px
                                @include responsivo(pcMedio)
                                    justify-content: center
                                    align-content: center
                                    align-items: center
                                    width: auto
                                    display: flex
                                    flex-direction: column
                                    gap: 20px
                                @include responsivo(general)
                                    gap: 19px
                                @include responsivo(smallPcTablet)
                                    gap: 20px
                                    position: relative
                                    left: -10px
                                .refersElement
                                    padding: 0
                                    display: flex
                                    flex-direction: row
                                    width: auto
                                    @include responsivo(telefonoTable)
                                        margin-bottom: 10px
                                        justify-self: center
                                        align-content: center
                                        align-items: center
                                    @include responsivo(pcMedio)
                                        margin-bottom: 0
                                        justify-self: center
                                        align-content: center
                                        align-items: center

                                    @include responsivo(smallPcTablet)
                                        width: 28%
                                    &:last-child
                                        margin-bottom: 0
                                    .infoInner
                                        display: flex
                                        flex-direction: column
                                        @include responsivo(telefonoTable)
                                            margin: 0 auto
                                            width: 240px
                                        @include responsivo(pcMedio)
                                            margin: 0 auto
                                            width: auto
                                        .tag
                                            margin-bottom: 10px
                                            display: flex
                                            flex-direction: row
                                            align-content: flex-end
                                            position: relative
                                            .containerImage
                                                padding: 0
                                                margin: 0!important
                                                display: block
                                                img
                                                    margin-left: 0!important
                                                    @include responsivo(telefonoTable)
                                                        height: 30px!important
                                                    @include responsivo(pcMedio)
                                                        height: 30px
                                                    @include responsivo(general)
                                                        height: 21px
                                                        padding-left: 0
                                                    @include responsivo(smallPcTablet)
                                                        height: auto
                                                    @include responsivo(resto)
                                                        height: 21px
                                                    
                                            span.points
                                                font-family: "Mulish", sans-serif
                                                font-style: normal
                                                font-weight: 700
                                                font-size: 20px
                                                line-height: 1
                                                display: flex
                                                align-items: center
                                                color: #007F96
                                                display: flex
                                                align-self: flex-end
                                                justify-self: center
                                                margin-left: 10px
                                                position: relative

                                                @include responsivo(pcMedio)                                        
                                                    top: -2.5px
                                                @include responsivo(smallPcTablet)
                                                    width: 150px!important
                                                    font-size: 20px
                                        .text
                                            font-family: "Mulish", sans-serif
                                            font-style: normal
                                            font-weight: 600
                                            font-size: 14px
                                            line-height: 1
                                            display: flex
                                            align-items: center
                                            color: #A6A6A6
                                            margin-bottom: 10px
                                            @include responsivo(smallPcTablet)
                                                height: 20px
                                        .stars
                                            margin-bottom: 10px
                                            .containerImage
                                                padding: 0
                                                margin: 0!important
                                                display: block
                                                img
                                                    width: auto
                                                    margin-left: 0!important
                                                    @include responsivo(telefonoTable)
                                                        height: 20px!important
                                                    @include responsivo(pcMedio)
                                                        height: 20px
                                                    @include responsivo(general)
                                                        height: 20px
                                                        padding-left: 0px
                                                    @include responsivo(resto)
                                                        height: 20px           
                                    

                                .iconApp
                                    position: relative
                                    top: -10px
                                    @include responsivo(telefonoTable)
                                        top: -10px
                                    img
                                        height: 85px!important
                                .iconAppMeta
                                    position: relative
                                    top: -10px
                                    @include responsivo(telefonoTable)
                                        top: -10px
                                    img
                                        height: 52px!important
                                        @include responsivo(telefonoTable)
                                            height: 85px!important                                    
                                        @include responsivo(pcMedio)
                                            height: 85px!important

    .section-row
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        height: 730px
        @include responsivo(telefonoTable)
            width: 95%
            height: auto!important
            flex-direction: column
        @include responsivo(pcMedio)
            width: 80%
            height: auto!important
            flex-direction: column
        @include responsivo(general)
            width: 100%!important
            max-width: 1210px!important
            height: 680px
        @include responsivo(smallPcTablet)
            max-width: 1000px!important
            height: 884px
        @include responsivo(resto)
            width: 100%!important
            max-width: 1305px!important
            
        

    .backgroundFull
        padding: 0
        padding-top: 0
        position: relative
        background-position: center -83px
        background-size: cover
        background-repeat: no-repeat
        border-radius: 0px 0px 100px  100px
        @include responsivo(telefonoTable)
            padding-top: 100px!important
            padding-bottom: 0!important
            height: auto
            border-radius: 0px 0px 20px 20px
            background-position: center left
        @include responsivo(pcMedio)
            padding-top: 100px!important
            padding-bottom: 0!important
            height: auto
            border-radius: 0px 0px 20px 20px
            background-position: center left
        @include responsivo(general)
            background-position: 60%
            height: 895px 
        @include responsivo(smallPcTablet)
            background-position: 70% 
            height: 895px
        @include responsivo(resto)
            background-position: center 
            height: 895px

 
                
        .innerSectionElement.sct2
            position: relative
            top: 35px
            left: 0px
            @include responsivo(telefonoTable)
                margin-top: 50px
                top: 0
                left: 0
                order: 2
            @include responsivo(pcMedio)
                margin-top: 50px
                top: 0
                left: 0
                order: 2
            @include responsivo(smallPcTablet)
                display: none
            @include responsivo(general)
                width: 390px
                top: 45px
                left: -15px
            .containerImage
                margin: 0
                margin-bottom: -10px
                padding: 0
                img
                    position: relative
                    height: 467px
                    @include responsivo(telefonoTable)
                        height: 353px
                    @include responsivo(pcMedio)
                        height: 323px
                    @include responsivo(general)
                        height: 430px
                        left: 0px

        .innerSectionElement.sct1
            position: relative
            @include responsivo(telefonoTable)
                top: 0 
                padding-top: 30px

            @include responsivo(pcMedio)
                top: 0 

            @include responsivo(smallPcTablet)
                // margin-top: auto
                position: relative
                top: 100px   
                padding: 0
                overflow: hidden
            @include responsivoSpecial(1800px,1850px  )
                top: 40px
            .sectionText
                .principalBigTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 800
                    text-align: left
                    margin-bottom: 20px
                    line-height: 1.2
                    color: #fff
                    font-family: 'Mulish', sans-serif
                    font-weight: 800
                    @include responsivo(telefonoTable)
                        text-align: center
                        font-size: 40px
                    @include responsivo(pcMedio)
                        text-align: center
                        br
                            display: none!important
                        font-size: 40px
                    @include responsivo(general)
                        margin-top: 0
                        font-size: 47px
                        width: 540px
                    @include responsivo(smallPcTablet)
                        font-size: 47px
                        width: 615px
                    @include responsivo(resto)
                        margin-top: 0
                        font-size: 50px

                .principalBigText
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 500
                    text-align: left
                    margin-bottom: 0
                    line-height: 1.5
                    font-size: 24px
                    color: #fff
                    @include responsivo(telefonoTable)
                        text-align: center
                        margin-bottom: 40px
                        br
                            display: none!important
                    @include responsivo(pcMedio)
                        text-align: center
                        margin-bottom: 40px
                        br
                            display: none!important
                    @include responsivo(smallPcTablet)
                        margin-bottom: 20px
                        width: 84%
                  
                .containerImage
                    display: none
                    margin: 0
                    padding: 0
                    @include responsivo(smallPcTablet)
                        display: block!important
                    img
                        height: 266px
                        @include responsivo(smallPcTablet)
                            height: 460px
                            padding-top: 40px
                            position: relative
        .innerSectionElement.sct3
            padding-top: 0
            position: relative
            top: 150px
            @include responsivo(telefonoTable)
                padding-top: 0
                top: 0
            @include responsivo(pcMedio)
                padding-top: 0
                top: 0
            @include responsivo(general)
                padding-top: 0
                top: 205px
            @include responsivo(smallPcTablet)
                top: 100px
            .form7
                padding-bottom: 0
                display: flex
                @include responsivo(general)
                    padding-bottom: 50px
                    padding-left: 0
                    margin-left: auto
                @include responsivo(smallPcTablet)
                    padding-left: 0
                    padding-right: 0
                    
                @include responsivo(resto)
                    padding-right: 0
                    padding-left: 0px
                    margin: 0 auto
                .formatForm
                    display: block
                    margin: 0 auto
                    min-height: 630px
                    filter: drop-shadow(0px 4px 30px rgba(0, 127, 150, 0.20))
                    border-radius: 20px
                    padding: 0px 30px 30px
                    @include responsivo(general)
                        padding: 0px 15px 30px
                    @include responsivo(smallPcTablet)
                        padding: 0px 20px 30px
                    h5.titleFormat
                        color: #2C4857!important
                        font-family: "Mulish", sans-serif!important
                        font-size: 24px!important
                        font-weight: 800!important
                        line-height: 1.2!important
                        padding-bottom: 15px!important
                        @include responsivo(general)
                            font-size: 20px
                        @include responsivo(smallPcTablet)
                            font-size: 18px
                    input[type="button"]
                        font-weight: 900!important
                        font-size: 22px!important
                        border-radius: 10px
                        font-family: "Mulish", sans-serif!important
                        width: 100%
                        text-transform: none!important
                        background: linear-gradient(90deg, #F34F36 0%, #007F96 100%)!important
                        transition: background 0.3s ease
                        &:hover
                            background: linear-gradient(90deg, #ff6b60 0%, #1fdad3 100%)!important
                            color: #fff
                .containElements
                    margin: 0 auto



#landing_integraciones_2024 .landing_integraciones_2024_1
    padding: 75px 0px 150px 0px
    margin-bottom: 0
    @include responsivo(telefonoTable)
        padding: 75px 0px 100px 0px
    @include responsivo(pcMedio)
        padding: 75px 0px 100px 0px
    .section-row
        padding: 0
        text-align: center

        @include responsivo(telefonoTable)
            width: 95%
            padding: 0
        @include responsivo(pcMedio)
            width: 90%
            padding: 0
        @include responsivo(general)
            width: 100%!important
            max-width: 1188px
        @include responsivo(smallPcTablet)
            max-width: auto
            width: 95%!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1190px!important
     
        .innerSectionElement.sct0
            h2.primaryTitle
                font-family: 'Mulish', sans-serif
                font-style: normal
                font-weight: 700
                line-height: 1.2
                text-align: center
                font-size: 40px
                color: #2c4857
                margin-bottom: 60px
                @include responsivo(telefonoTable)
                    br
                        display: none!important
                @include responsivo(pcMedio)
                    br
                        display: none!important
        


        .innerSectionElement.sct1
            .containElements
                display: grid
                grid-template-columns: repeat(3, 1fr)
                gap: 30px
                max-width: 990px
                margin: 0 auto
                justify-items: center
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column
                    gap: 40px
                    align-items: center
                    
                .cards
                    width: 100%
                    max-width: 335px
                    height: 155px
                    border: none
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    @include responsivo(telefonoTable)
                        max-width: 325px
                        width: 100%
                    @include responsivo(pcMedio)
                        max-width: 365px
                    @include responsivo(general)
                        max-width: 385px
                    @include responsivo(smallPcTablet)
                        max-width: 335px
                    span
                        font-family: "Mulish", sans-serif
                        font-size: 24px
                        font-weight: 500
                        line-height: 1.2
                        margin: 0
                        color: #2C4857
                        text-align: center
                        min-height: 57px
                        @include responsivo(telefonoTable)
                            min-height: auto
                            br
                                display: block!important
                    .img
                        min-height: 95px
                        .img-top
                            height: 60px
                            
      


#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_2,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_3,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_4,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_5,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_6,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_7,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_8,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_9,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_10,
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_11
    padding: 25px 0
    @include responsivo(telefonoTable)
        padding: 0px
        padding-bottom: 0
    .section-row
        // background-color: #fff
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 95%
        @include responsivo(general)
            width: 100%!important
            max-width: 1200px!important
        @include responsivo(smallPcTablet)
            max-width: 950px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1200px!important
        section.innerSectionElement.sct1
            @include responsivo(telefonoTable)
                margin-bottom: 25px
            @include responsivo(pcMedio)
                margin-bottom: 25px
            .containElements
                h2.primaryTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 700
                    line-height: 1.2
                    text-align: center
                    font-size: 40px
                    color: #2c4857
                    margin-bottom: 60px
                    @include responsivo(telefonoTable)
                        br
                            display: none!important
                    @include responsivo(pcMedio)
                        br
                            display: none!important
        section.innerSectionElement.sct2
            .groupElements.row
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column-reverse
                    margin-bottom: 70px
                    padding: 0
                @include responsivo(pcMedio)
                    display: flex
                    flex-direction: column-reverse
                    margin-bottom: 25px
                .info
                    padding: 0
                    h3.secondaryTitle
                        font-family: 'Mulish', sans-serif
                        font-style: normal
                        font-weight: 700
                        line-height: 1
                       
                        color: #2C4857
                        margin-bottom: 40px
                        @include responsivo(telefonoTable)
                            font-size: 35px
                            margin-bottom: 30px

                        @include responsivo(pcMedio)
                            font-size: 35px
                            margin-bottom: 30px
                        @include responsivo(general)
                            font-size: 37px
                        @include responsivo(smallPcTablet)
                            font-size: 35px
                        @include responsivo(resto)
                            font-size: 40px
                        span
                            font-family: 'Mulish', sans-serif
                            font-style: normal
                            position: relative
                            display: block
                            color: #007F96
                            margin-bottom: 15px
                            @include responsivo(telefonoTable)
                                font-size: 30px
                                margin-bottom: 10px
                            @include responsivo(pcMedio)
                                font-size: 30px
                                margin-bottom: 10px
                            @include responsivo(general)
                                font-size: 30px
                            @include responsivo(resto)
                                font-size: 30px

                    .text
                        margin-bottom: 0
                        font-family: "Mulish", sans-serif
                        font-size: 24px
                        line-height: 1.5
                        font-weight: 500
                        color: #212A31
                        text-align: left
                        @include responsivo(telefonoTable)
                            text-align: center
                        @include responsivo(pcMedio)
                            text-align: center

                .image
                    padding: 0
                    display: flex
                    justify-content: center
                    align-items: center
                    @include responsivo(telefonoTable)
                        margin-top: 50px
                    @include responsivo(pcMedio)
                        margin-top: 50px
                    .containerImage
                        margin: 0!important
                        padding: 0
                        img
                            display: block
                            margin: auto
                            filter: drop-shadow(0 4px 4px rgba(0, 127, 150, 0.10)) 
                            height: 150px
                            width: auto
                            @include responsivo(telefonoTable)
                                margin-bottom: 0
                                height: 100px
                            @include responsivo(pcMedio)
                                margin-bottom: 0
                                height: 120px
                           

        section.innerSectionElement.sct2.right
            .groupElements.row
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column
                @include responsivo(pcMedio)
                    display: flex
                    flex-direction: column
                .info
                    @include responsivo(general)
                        padding-left: 20px
                        padding-right: 35px
                    @include responsivo(resto)
                        padding-left: 20px
                        padding-right: 35px

        section.innerSectionElement.sct2.left
            .groupElements.row
                .info
                    @include responsivo(general)
                        padding-left: 35px
                    @include responsivo(resto)
                        padding-left: 35px

#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_2
    padding-top: 0

    .section-row
        section.innerSectionElement.sct1
            .containElements
                h2.primaryTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 700
                    line-height: 1.2
                    text-align: center
                    font-size: 40px
                    color: #2c4857
                    margin-bottom: 60px
                    @include responsivo(telefonoTable)
                        br
                            display: none!important
                    @include responsivo(pcMedio)
                        br
                            display: none!important
#landing_integraciones_2024 .sections .customSection.sectionParent.landing_integraciones_2024_11_1
    padding: 75px 0px 150px 0px
    @include responsivo(telefonoTable)
        padding: 20px 0px 100px 0px
    @include responsivo(pcMedio)
        padding: 75px 0px 100px 0px

#landing_integraciones_2024 .landing_integraciones_2024_12
    padding-bottom: 150px
    padding-top: 0
    background-color: transparent
    @include responsivo(telefonoTable)
        padding-bottom: 100px
    @include responsivo(pcMedio)
        padding-bottom: 100px
    @include responsivo(smallPcTablet)
        padding-bottom: 150px
    .section-row
        background-color: transparent
        padding: 0
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1200px!important
        @include responsivo(smallPcTablet)
            max-width: 1000px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1220px!important
        .innerSectionElement.sct0
            margin-bottom: 75px
            @include responsivo(telefonoTable)
                margin-bottom: 25px
            @include responsivo(pcMedio)
                margin-bottom: 50px
            .containElements
                margin: 0
                padding: 0
                h2.primaryTitle
                    font-family: 'Mulish', sans-serif
                    font-style: normal
                    font-weight: 700
                    line-height: 1.2
                    text-align: center
                    font-size: 40px
                    color: #2c4857
                    margin-bottom: 60px
                    @include responsivo(telefonoTable)
                        br
                            display: none!important
                    @include responsivo(pcMedio)
                        br
                            display: none!important
        .innerSectionElement.sct1
            display: flex
            flex-direction: row
            justify-content: center
            gap: 20px
            @include responsivo(telefonoTable)
                flex-direction: column
            @include responsivo(pcMedio)
                flex-direction: column
            .containElements.reviews-group
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 25px
                @include responsivo(telefonoTable)
                    flex-direction: column-reverse
                @include responsivo(pcMedio)
                    flex-direction: column-reverse
                .review-item
                    .container-image
                        padding: 0
                        margin: 0
                    img
                        filter: drop-shadow(0 4px 4px rgba(0, 127, 150, 0.10))
                        @include responsivo(telefonoTable)
                            height: 180px
                        @include responsivo(pcMedio)
                            height: 275px
                        @include responsivo(general)
                            height: 260px
                        @include responsivo(smallPcTablet)
                            height: 240px
                        @include responsivo(resto)
                            height: 260px
            .containElements2.reviews-group2
                display: flex!important
                justify-content: center!important
                align-items: center!important
                gap: 20px!important
                .review-item2
                    @include responsivo(telefonoTable)
                        margin-bottom: 25px
                    @include responsivo(pcMedio)
                        margin-bottom: 25px
                    @include responsivo(general)
                        margin: 0 5px
                    @include responsivo(resto)
                        margin: 0 5px
                    .container-image2
                        padding: 0
                        margin: 0
                    img
                        width: auto
                        filter: drop-shadow(0 4px 4px rgba(0, 127, 150, 0.10))
                        @include responsivo(telefonoTable)
                            height: 180px
                        @include responsivo(pcMedio)
                            height: 275px
                        @include responsivo(general)
                            height: 391px
                        @include responsivo(smallPcTablet)
                            height: 340px
                        @include responsivo(resto)
                            height: 391px


#landing_integraciones_2024 .customSection.sectionParent.landing_integraciones_2024_13
    padding: 0
    background-color: transparent
    background-size: cover
    background-repeat: no-repeat
    background-position: center    
    width: 95%
    border-radius: 20px 20px 0px 0px
    height: 405px
    @include responsivo(telefonoTable)
        background-position: center
        height: 640px
    @include responsivo(pcMedio)
        height: auto
    @include responsivo(general)
        height: 355px
    @include responsivo(smallPcTablet)
        background-position: center
        height: 335px
    .section-row
        margin: 0 auto

        @include responsivo(telefonoTable)
            width: 100%
            position: relative
        @include responsivo(pcMedio)
            width: 95%
            position: relative

        @include responsivo(general)
            width: 100%!important
            max-width: 1000px!important
            
        @include responsivo(smallPcTablet)
            max-width: 1020px!important

        @include responsivo(resto)
            width: 100%!important
            max-width: 1100px!important
            
        .containElements
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            gap: 20px
            padding-top: 0
            position: relative
            top: -35px
            margin-bottom: -35px
            @include responsivo(telefonoTable)
                flex-direction: column-reverse
                padding-top: 40px
                top: 0
            @include responsivo(pcMedio)
                top: -0
                flex-direction: column-reverse
                padding-top: 40px
            @include responsivo(general)
                top: -25px
            .innerSectionElement.sct1
                @include responsivo(smallPcTablet)
                    margin: 0
                    
                .containElement                       
                    img
                        width: auto
                        padding: 0px
                        margin: 0px
                        height: 305px
                        @include responsivo(telefonoTable)
                            height: 290px
                        @include responsivo(pcMedio)
                            height: 290px
                        @include responsivo(general)
                            height: 380px
                        @include responsivo(smallPcTablet)
                            height: 360px
                        @include responsivo(resto)
                            height: 440px

            .innerSectionElement.sct2
                margin: 0!important
                @include responsivo(telefonoTable)
                    width: 95%
                @include responsivo(pcMedio)
                    width: 70%
                @include responsivo(smallPcTablet)
                    width: 54%
                .containElement
                    margin: 0
                    margin-top: 15px
                    @include responsivo(telefonoTable)
                        display: flex
                        justify-content: center
                        align-items: center
                        flex-direction: column

                    @include responsivo(pcMedio)
                        display: flex
                        justify-content: center
                        align-items: center
                        flex-direction: column
                    .title
                        color: #fff
                        font-family: "Mulish", sans-serif
                        font-size: 40px
                        font-weight: 800
                        line-height: 1
                        text-align: left
                        margin-bottom: 40px
                        @include responsivo(telefonoTable)
                            text-align: center
                        @include responsivo(pcMedio)
                            text-align: center
                    .primaryButton 
                        font-size: 30px!important
                        padding: 25px 80px!important
                        transition: background 0.3s ease
                        font-family: "Mulish", sans-serif!important
                        @include responsivo(telefonoTable)
                            padding: 25px 20px!important
                            font-size: 25px!important
                        @include responsivo(pcMedio)
                            padding: 25px 55px!important
                        @include responsivo(smallPcTablet)
                            padding: 25px 55px!important
                        &:hover
                            background: linear-gradient(90deg, #ff6b60 0%, #1fdad3 100%)!important