

@import common/global

#zoomMeeting-Bootstrap
    padding: 50px
    padding-bottom: 125px
    background-color: $colorBlueLight
    position: relative

    h1,
    h2,
    h3
        font-family: "Nunito",Sans-serif!important
    @include responsivo(telefonoTable)
        padding-bottom: 100px
        padding-top: 50px
        padding-left: 5%
        padding-right: 5%
    @include responsivo(pcMedio)
        padding-bottom: 100px
        padding-top: 50px
    .backgroundPlanets
        display: none
        opacity: 1
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s
        height: 100%
        width: auto
        top: -5%
        left: 0
        right: 0
        position: absolute
        background-position: 50px 180px
        background-repeat: no-repeat
        background-size: 100% auto
        @include responsivo(telefonoTable)
            top: 0
            background-position: 8px 125px
            background-size: 100% auto
        @include responsivo(pcMedio)
            background-position: 8px 150px
            background-size: 100% auto
            top: 0
    // .overlayFlying
    //     background-position: center right
    //     background-repeat: no-repeat
    //     background-size: 100px
    //     opacity: 1
    //     transition: background 0.3s, border-radius 0.3s, opacity 0.3s
    //     height: 100%
    //     width: auto
    //     top: 0
    //     left: 0
    //     right: 0
    //     position: absolute
    //     // z-index: -
    //     @include responsivo(telefonoTable)
    //         background-position: top right
    //         background-size: initial
    //         top: 0
    //     @include responsivo(pcMedio)
    //         background-position: 8px 184px
    //         background-size: 100% auto
    //         top: 0

    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1100px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1100px!important
    .sections
        .zoomMeetingSection0
            padding-top: 75px
            padding-bottom: 0px
            .section-row
                .innerSectionElement
                    .containElements
                        .principalBigTitle
                            font-size: 40px!important
                            line-height: 41px!important
                            font-weight: 700!important
                            font-family: "Nunito",Sans-serif
                            // margin-bottom: 20px
                            text-align: center
                            span.greenBlueColor
                                font-size: 32.5px
                            @include responsivo(telefonoTable)
                                font-size: 36px!important
                                span.greenBlueColor
                                    font-size: 27.5px
                            @include responsivo(pcMedio)
                                font-size: 36px!important
                                span.greenBlueColor
                                    font-size: 27.5px
                            // @include responsivo(pcMedio)


                            // margin-bottom: 25px
        .zoomMeetingSection1
            padding: 0
            margin-bottom: 25px
            .section-row
                position: relative


                .innerSectionElement

                    .containElements
                        margin: auto
                        width: 80%
                        display: flex
                        flex-direction: column
                        .row
                            .parentBox
                                padding: 25px
                                .box
                                    background-color: $colorGreyLight3
                                    display: flex
                                    flex-direction: column
                                    padding: 25px
                                    border-radius: 17.5px
                                    position: relative
                                    margin-bottom: 30px
                                    h3.title
                                        color: $colorBlack2
                                        font-family: "Nunito",Sans-serif!important
                                        line-height: normal
                                        font-weight: bold
                                        font-size: 28px
                                        text-align: center
                                        width: 100%
                                        margin-bottom: 15px
                                    .containerImage
                                        margin-bottom: 15px
                                        img
                                            height: 155px
                                    a
                                        font-size: 16px
                                        margin: 0 auto
                                        display: block
                                        margin-bottom: 40px
                                        @include responsivo(telefonoTable)
                                            max-width: 275px
                                            width: 100%
                                            text-align: center
                                        @include responsivo(pcMedio)
                                            max-width: 300px
                                            width: 100%
                                            text-align: center
                                    a.thinButton
                                        font-weight: bold
                                    small
                                        display: block
                                        font-size: 16px
                                        text-align: center
                                        width: 100%
                                        margin: 0 auto
                                        font-family: "Nunito", Sans-serif!important
                                        line-height: normal
                                        font-weight: 300
                                        width: 100%
                                        color: #505050
                                        position: absolute
                                        left: 0
                                        right: 0
                                        bottom: 22.5px

                                        // margin-bottom: px
                                        @include responsivo(telefonoTable)
                                            font-size: 16px
                                        @include responsivo(pcMedio)
                                            font-size: 16px
                                .subContain
                                    .hor
                                        small
                                            font-family: "Nunito", Sans-serif!important
                                            font-style: normal
                                            // font-weight: 600
                                            font-size: 18px
                                            line-height: 22.5px
                                            text-align: center
                                            letter-spacing: -0.03em
                                            width: 100%
                                            display: block
                                        small.title
                                            font-size: 20px
                                            margin-bottom: 25px
                                        .h
                                            margin-bottom: 25px
                                            small.days
                                                color: $colorGreenBlue
                                    .whatsappButton
                                        margin: 0 auto
                                        display: block
                                        font-weight: bold








