

button.toggleSideMenu
    background-color: transparent
    @include responsivo(telefonoTable)
        padding-left: 10px
    @include responsivo(pcMedio)
        padding-left: 15px
    i
        color: black
        font-size: 22px
        transition: $trans
        transform: scale(1)
        @include responsivo(telefonoTable)
            font-size: 18px

    &:hover
        i
            transform: scale(1.1)
            color: $colorOrange
            display: block



@media all and (min-width: 992px)
    .navbar .nav-item
        .dropdown-menu
            display: none
        &:hover
            // .nav-link
            .dropdown-menu
                display: block
        .dropdown-menu
            margin-top: 0


.buttonsCTA
    @include responsivo(telefonoTable)
        display: flex
        flex-direction: row
    @include responsivo(pcMedio)
        display: flex
        flex-direction: row
    li:not(.menuButton)
        display: none!important






header.customHeader.customSection
    display: flex
    background-color: transparent
    .buttonSections
        height: 100%
        @include responsivo(telefonoTable)
            margin-top: auto!important
            margin-bottom: auto!important
        @include responsivo(pcMedio)
            margin-top: auto!important
            margin-bottom: auto!important
    nav.navbar
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 12%)
        transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s
        width: 100%
        height: max-content
        background-color: white!important
        z-index: 1000!important
        box-sizing: border-box
        padding: 0!important
        .section-row
            @include responsivo(telefonoTable)
                width: 97.5%
            @include responsivo(pcMedio)
                width: 95%
            @include responsivo(general)
                width: 100%!important
                max-width: 1140px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1400px!important
            display: flex
            flex-direction: column
            margin: 0 auto
            padding: 10px 0!important

            .svgIconMenu
                height: 20px
                width: 20px
                margin-right: 15px
                position: relative
                top: -2.5px
            .container-fluid.sct1
                display: flex
                margin-bottom: 7.5px
                ul#menu-main-top-v2,
                div#main-menu-top
                    display: flex
                    margin-left: auto
                    flex-direction: row
                    li
                        a
                            color: black
                            &:hover
                                    color: $colorOrange
                            @include responsivo(telefonoTable)
                                font-size: 14px

                            @include responsivo(pcMedio)
                                font-size: 14px

                            @include responsivo(general)
                                font-size: 15px
                            @include responsivo(smallPcTablet)
                                font-size: 14px
                            @include responsivo(resto)
                                font-size: 16px

                        ul.dropdown-menu.show
                            min-width: auto
                            // width:

                div.menusSectionTop
                    margin-left: auto
            .container-fluid.sct2
                display: flex
                flex-direction: row
                justify-content: space-between
                @include responsivo(telefonoTable)
                    padding: 0

                .logo
                    display: flex
                    justify-content: center
                    align-content: center
                    a.navbar-brand
                        margin: auto
                        img,
                        svg
                            width: auto
                            height: 37.5px
                            @include responsivo(telefonoTable)
                                height: 22.5px

                div.menusSection
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-content: center
                    width: fit-content
                    ul
                        height: fit-content!important
                        // margin: auto 0
                        margin-top: auto!important
                        margin-bottom: auto!important
                        margin-left: 0
                        li:not(.menuButton)
                            position: relative
                            a
                                color: #9E989A
                                &:hover
                                    color: $colorOrange
                        li.navBorderRight
                            position: relative
                            &::after
                                content: ''
                                height: 50%
                                width: 2px
                                margin: auto 0
                                display: block
                                top: 0
                                bottom: 0
                                right: -12px
                                position: absolute
                                border-right: 2px solid rgba(0,0,0,0.1)
            ul
                margin-left: 0!important
                li.menu-item
                    margin-left: 17.5px
                    display: flex
                    justify-content: center
                    align-items: center
                    @include responsivo(telefonoTable)
                        margin-left: 5px

                    @include responsivo(pcMedio)
                        margin-left: 7.5px

                    @include responsivo(general)
                        margin-left: 12.5px

                    @include responsivo(smallPcTablet)
                        margin-left: 10px

                    a
                        transition: $trans
                        font-size: 16px
                        font-family: Nunito
                        line-height: 16px
                        padding: 7.5px 10px
                        display: flex
                        align-content: center
                        align-items: center
                        &:focus
                            outline: none!important
                        i
                            font-size: 20px
                            margin-right: 7.5px
                        i.fab
                            font-size: 23px
                        @include responsivo(telefonoTable)
                            font-size: 12.5px

                        @include responsivo(pcMedio)
                            font-size: 14px

                        @include responsivo(general)
                            font-size: 15px
                        @include responsivoSpecial(990px, 1125px)
                            font-size: 12.75px


                    a.dropdown-toggle
                        display: flex
                        &::after

                            margin-left: 5px
                            margin-top: auto
                            margin-bottom: auto

                li.menu-item.menu-item-has-children
                    position: relative
                    ul.dropdown-menu
                        margin: 0 auto
                        padding: 0
                        border-radius: 5px
                        min-width: 200px
                        border: 0
                        box-shadow: 2px 2px 5px rgb(0 0 0 / 20%)
                        position: absolute
                        top: 50px
                        left: 0
                        right: 0
                        li
                            margin: 0
                            a
                                padding: 10px
                                color: black
                                font-size: 16px
                                line-height: 16px
                                transition: $trans
                            &:hover
                                a
                                    color: $colorOrange
                                    background-color: #F2675A12





body
    position: relative
    #sideNavBar
        background-color: rgba(0,0,0,0.25)
        position: fixed
        right: 0
        top: 0
        bottom: 0
        height: 100%
        width: 100%
        display: flex
        z-index: 999999999999
        display: none
        @include responsivo(general)
            display: none!important
        @include responsivo(resto)
            display: none!important
        .containSideBar
            overflow-y: scroll
            height: inherit
        .logo
            display: flex
            justify-content: center
            align-content: center
            margin-bottom: 15px
            a.navbar-brand
                // margin: auto
                margin-right: auto
                img,
                svg
                    width: auto
                    height: 32.5px
        nav.principal.navbar
            height: 100%
            padding: 0
            width: fit-content
            margin-left: auto
            background-color: white
            @include responsivo(telefonoTable)
                width: 100%

            .section-row
                height: 100%
                padding: 25px 25px
                position: relative
                @include responsivo(telefonoTable)
                    width: 100%

            .closeButtonSideBar
                display: flex
                margin-bottom: 15px
                position: absolute
                width: 90%
                // right: 0
                // top: 0
                button.closeButton
                    display: block
                    margin-left: auto
                    font-size: 22px
                    background-color: transparent
                    transition: $trans
                    &:hover
                        color: $colorOrange

            .container-fluid.sct1
                padding: 0
                ul.navbar-nav
                    display: flex
                    margin-left: auto
                    flex-direction: column
                    li
                        a
                            color: black
            .container-fluid.sct2
                padding: 0
                position: relative
                ul
                    height: fit-content!important
                    // margin: auto 0
                    margin-top: auto!important
                    margin-bottom: auto!important
                    margin-left: 0
                    li:not(.menuButton)
                        position: relative
                        a
                            color: #9E989A

            ul
                margin-left: 0!important
                padding: 0
                li.menu-item
                    margin-left: 0
                    transition: $trans
                    padding: 5px 7.5px
                    a
                        transition: $trans
                        font-size: 16px
                        font-family: Nunito
                        line-height: 16px
                        display: flex
                        align-content: center
                        align-items: center
                        padding: 0
                        i
                            font-size: 18px
                            margin-right: 7.5px
                        i.fab
                            font-size: 18px
                            margin-right: 7.5px
                        &:hover
                            color: $colorOrange
                            background-color: #F2675A12
                        &:focus
                            outline: none!important
                        @include responsivo(telefonoTable)
                            font-size: 12px

                        @include responsivo(pcMedio)
                            font-size: 14px

                        @include responsivo(general)
                            font-size: 15px
                        @include responsivo(smallPcTablet)
                            font-size: 14px
                    a.dropdown-toggle
                        &::after
                            margin-left: 5px
                            margin-top: auto
                            margin-bottom: auto
                li.menu-item.menu-item-has-children
                    ul.dropdown-menu.show
                        border: none
                        margin-left: 15px!important


            .container-fluid
                padding: 0

            .container-fluid.sct1,
            .container-fluid.sct2
                position: relative
                padding-bottom: 10px
                margin-bottom: 10px
                &::after
                    content: ""
                    border-bottom: 1px solid rgba(0,0,0,0.25)
                    width: 100%
                    height: 1px
                    margin: 0 auto
                    margin-top: auto
                    left: 0
                    bottom: 0
                    right: 0
                    display: block
                    position: absolute


header.customHeader.customSection.landing-global2
    .container-fluid.sct2
        display: flex
        justify-content: center
        .logo
            margin: 0 auto

