

// colores
$colorBlack: #140C28
$colorOrange: #F34F36
$colorGreenBlue: #34768A
$colorBlueLight: #E6F2F8
$colorGrey: #606267
$colorGreyLight: #FAFAFA
$colorWhite: #fff
$colorDarkGrey: #333

// otros

$transitionButton: all 0.3s ease