

// $colorRed: ##F34F36, 100 %
// colores ##FF654E
$colorBlack: #140C28
$colorBlack2: #150D27
$colorBlack3: #363636
$colorOrange: #F34F36
$colorOrange2: #F2685A
$orangeLight: #FF654E
$colorBlue: #00506B
$colorGreenBlue: #34768A
$colorGreenBlue2: #6c929f
$colorGreenBlue3: #124657
$colorGreenBlue4: #36768A
$colorBlueLight: #E6F2F8
$colorBlueLight2: #C7E6EA
$colorBlueLight3: #b1ecef
$colorBlueLight4: #a0e0e3
$colorBlueLight5: #EEF7FF
$colorBlueLight6: #ECECEC
$colorGrey: #606267
$colorGreyLight: #FAFAFA
$colorGreyLight2: #F7FBFD
$colorGreyLight3: #FAFDFF
$colorGreyLight3: #F7FBFF
$colorGreyLight4: #E1E1E1
$colorGreyLight5: #F9F9F9
$colorWhite: #fff
$colorDarkGrey: #333
$colorDarkGrey2: #322C2F
$colorDarkGrey3: #322C2E

$colorGrey2: #5B5B5B
$colorGrey3: #706B6D
$colorGrey4: #505050
$colorGrey5: #5C5C5C
// otros



$filterBlog: #0D2E38B0

$transitionButton: all 0.3s ease

$trans: all 0.2s ease-in-out

