

#blog-home-bootstrap

    h1,
    h2,
    h3
        font-family: Nunito!important


    .customSection.sectionParent.blogHome0
        background: linear-gradient(180deg, rgba(26, 20, 43, 0.49) 0%, rgba(26, 20, 43, 0) 100%), #36768A
        padding-top: 75px
        padding-bottom: 0
        margin-bottom: 0
        @include responsivo(telefonoTable)
            padding-bottom: 50px
            padding-top: 50px
        @include responsivo(pcMedio)
            padding-bottom: 50px
            padding-top: 50px
        .section-row
            @include responsivo(telefonoTable)
                width: 95%
            @include responsivo(pcMedio)
                width: 90%
            @include responsivo(general)
                width: 100%!important
                max-width: 1140px!important
            @include responsivo(smallPcTablet)
                max-width: 1050px!important
            @include responsivo(resto)
                width: 100%!important
                max-width: 1300px!important
            .containerImage
                margin: 0
                padding: 0
        .backgroundFull
            background-position: 0 -380px
            background-repeat: no-repeat
            background-size: cover
            padding-bottom: 0
        .section-row
            .innerSectionElement.sct1
                .groupElements
                    .info
                        padding-top: 0
                        display: flex
                        flex-direction: column
                        @include responsivo(telefonoTable)
                            margin-bottom: 0
                        @include responsivo(pcMedio)
                            margin-bottom: 0
                        .containElements
                            position: relative
                            padding-bottom: 0
                            display: flex
                            margin: auto 0
                            @include responsivo(telefonoTable)
                                flex-direction: column-reverse
                            @include responsivo(pcMedio)
                                flex-direction: column-reverse
                            @include responsivo(general)
                                flex-direction: row-reverse
                                margin-bottom: 0
                            @include responsivo(resto)
                                flex-direction: row-reverse
                                margin-bottom: 0
                            .ele
                                position: relative
                                .principalBigTitle
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: bold
                                    text-align: left
                                    margin-bottom: 25px
                                    line-height: 0.9
                                    @include responsivo(telefonoTable)
                                        font-size: 30px
                                        text-align: center
                                        margin-bottom: 20px
                                    @include responsivo(pcMedio)
                                        font-size: 35px
                                        text-align: center
                                        margin-bottom: 25px
                                    @include responsivo(general)
                                        font-size: 40px
                                    @include responsivo(smallPcTablet)
                                        font-size: 32.5px
                                    @include responsivo(resto)
                                        font-size: 45px
                                .principalBigText
                                    font-family: Nunito
                                    font-style: normal
                                    font-weight: 400
                                    text-align: left
                                    margin-bottom: 0
                                    display: flex
                                    flex-direction: column
                                    line-height: 1.25
                                    @include responsivo(telefonoTable)
                                        font-size: 14px
                                        text-align: center
                                        margin-bottom: 20px
                                    @include responsivo(pcMedio)
                                        font-size: 15px
                                        text-align: center
                                        margin-bottom: 20px
                                    @include responsivo(general)
                                        font-size: 18px
                                    @include responsivo(smallPcTablet)
                                        font-size: 16px
                                    @include responsivo(resto)
                                        font-size: 20px
                            .ele2
                                @include responsivo(telefonoTable)
                                    margin-bottom: 0
                                @include responsivo(pcMedio)
                                    margin-bottom: 0
                                @include responsivo(general)
                                    position: absolute
                                    left: 0
                                    top: 0
                                    width: 100%
                                    padding-top: 32.5px
                                    padding-left: 0
                                @include responsivo(smallPcTablet)
                                    padding-left: 20px
                                @include responsivo(resto)
                                    position: absolute
                                    left: 0
                                    top: 0
                                    width: 100%
                                    padding-top: 35px
                            .containerImage
                                position: relative
                                width: 100%
                                height: 100%
                                display: flex
                                justify-content: center
                                align-content: centers
                                @include responsivo(general)
                                    right: 2.5%
                                @include responsivo(smallPcTablet)
                                    right: 12.5%
                                @include responsivo(resto)
                                    right: 0
                                img
                                    height: 450px
                                    @include responsivo(telefonoTable)
                                        height: 250px
                                    @include responsivo(pcMedio)
                                        height: 275px
                                    @include responsivo(general)
                                        height: 475px
                                    @include responsivo(smallPcTablet)
                                        height: 425px
                    .form7
                        margin-bottom: 0
                        padding: 0 50px
                        display: flex
                        margin: 0 auto
                        @include responsivo(general)
                            padding-bottom: 50px
                            padding-right: 0
                            padding-left: 75px
                        @include responsivo(smallPcTablet)
                            padding-left: 0
                            padding-right: 20px
                        @include responsivo(resto)
                            padding-bottom: 50px
                        .formatForm
                            display: block
                            margin: 0 auto
                            background-color: rgba(white, 0.85)
                            .titleFormat
                                // padding-bottom: 10px
                                font-family: Nunito
                                font-style: normal
                                font-weight: 700
                                font-size: 20px
                                line-height: 1
                                text-align: center
                                letter-spacing: -0.02em
                                color: #150D27
                                @include responsivo(telefonoTable)
                                    font-size: 18px
                                @include responsivo(pcMedio)
                                    font-size: 18px
                                @include responsivo(general)
                                    font-size: 18px
                                @include responsivo(smallPcTablet)
                                    font-size: 16px
                            div.contain
                                margin-bottom: 35px
                                .element
                                    margin: 5px 0


                        .containElements
                            margin: 0 auto
        .backgroundPlanets
            background-position: center 0
            background-repeat: no-repeat
            background-size: 90% auto
            opacity: 1
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s
            height: 100%
            width: 100%
            top: 0
            left: 0
            right: 0
            position: absolute
            @include responsivo(telefonoTable)
                top: 0
                // background-position: center 2.5%
                background-size: 100% auto
            @include responsivo(pcMedio)
                // background-position: center 2.5%
                background-size: 100% auto
                top: 0


    section.customSection.sectionParent.blogHome2
        padding-top: 50px
        @include responsivo(telefonoTable)
            padding: 25px 0
        @include responsivo(pcMedio)
            padding: 50px 0
        .section-row
            section.innerSectionElement.sct1
                .containElements
                    h2.primaryTitle
                        font-family: Nunito
                        font-style: normal
                        font-weight: 700
                        font-size: 35px
                        line-height: 1
                        text-align: center
                        letter-spacing: -1px
                        @include responsivo(telefonoTable)
                            font-size: 25px
                        @include responsivo(pcMedio)
                            font-size: 25px

                    p.primaryText
                        font-family: Nunito
                        font-style: normal
                        font-weight: 400
                        font-size: 20px
                        line-height: 1
                        text-align: center
                        color: #706B6D
                        @include responsivo(telefonoTable)
                            font-size: 14px
                        @include responsivo(pcMedio)
                            font-size: 15px
                        @include responsivo(general)
                            font-size: 18px



    section.customSection.sectionParent.blogHome3
        background-color: #F9F9F9
        padding: 50px 0
        padding-top: 75px
        padding-bottom: 12.5px
        @include responsivo(telefonoTable)
            padding-top: 50px!important
        @include responsivo(pcMedio)
            padding-top: 50px!important
        .section-row

            section.innerSectionElement.sct1
                .containElements
                    h2.primaryTitle
                        font-family: Nunito
                        font-style: normal
                        font-weight: 700
                        font-size: 35px
                        line-height: 1
                        text-align: left
                        letter-spacing: -1px
                        margin-bottom: 50px
                        @include responsivo(telefonoTable)
                            font-size: 25px
                            text-align: center
                            margin-bottom: 35px
                        @include responsivo(pcMedio)
                            font-size: 25px
                            text-align: center
                            margin-bottom: 35px

    section.customSection.sectionParent.blogHome4
        background-color: $colorGreyLight
        padding: 50px 0
        padding-top: 12.5px
        .section-row
            section.innerSectionElement.sct1
                .containElements
                    h2.primaryTitle
                        font-family: Nunito
                        font-style: normal
                        font-weight: 700
                        font-size: 35px
                        line-height: 1
                        text-align: left
                        letter-spacing: -1px
                        margin-bottom: 50px
                        @include responsivo(telefonoTable)
                            font-size: 25px
                            text-align: center
                            margin-bottom: 35px
                        @include responsivo(pcMedio)
                            font-size: 25px
                            text-align: center
                            margin-bottom: 35px
