

#blog-search-results-bootstrap


    section.component-articlesBlog-T1.customSection.sectionParent.searchResultsBlog0
        .section-row
            section.innerSectionElement.sct1
                margin-bottom: 75px
                .containElements
                    h2.primaryTitle
                        text-align: center
                        font-family: Nunito
                        font-style: normal
                        font-weight: 700
                        font-size: 35px
                        line-height: 1
                        text-align: center
                        letter-spacing: -1px
                        margin-bottom: 0
                        @include responsivo(telefonoTable)
                            font-size: 25px
                        @include responsivo(pcMedio)
                            font-size: 25px


            // section.innerSectionElement.sct2
