

@import ../../common/global



@import blogHome
@import blogCategory
@import blogSingle
@import searchResultsBlog



// [class$="something"]
.post-template
    .content
        p
            color: $colorGrey
            font-size: 18px
            line-height: 1.1
            font-family: Nunito
            margin-bottom: 25px
            @include responsivo(telefonoTable)
                font-size: 14px
            @include responsivo(pcMedio)
                font-size: 16px
        ul li,
        ul li p
            font-size: 18px
            line-height: 1.1
            font-family: Nunito
            margin-bottom: 25px
            color: $colorGrey
            @include responsivo(telefonoTable)
                font-size: 14px
            @include responsivo(pcMedio)
                font-size: 16px
            &:last-child
                margin-bottom: 0
        ul li
            display: flex
            flex-direction: row

        ul
            margin-bottom: 25px

        .h2-blogpost,
        .h2\.blogpost
            // color: $colorBlack
            font-family: Nunito
            font-size: 35px
            font-weight: Bold
            margin-bottom: 25px
            margin-top: 0
            @include responsivo(telefonoTable)
                font-size: 25px
            @include responsivo(pcMedio)
                font-size: 25px

        .h3-blogpost,
        .h3\.blogpost
            font-family: Nunito
            color: #34768A
            font-size: 25px
            font-weight: Bold
            margin-bottom: 25px
            margin-top: 0
            @include responsivo(telefonoTable)
                font-size: 18px
            @include responsivo(pcMedio)
                font-size: 20px

        .h4-blogpost,
        .h4\.blogpost
            font-family: Nunito
            // color: #34768A
            font-size: 20px
            font-weight: Bold
            margin-bottom: 25px
            margin-top: 0
            @include responsivo(telefonoTable)
                font-size: 16px
            @include responsivo(pcMedio)
                font-size: 18px

        // h3.h3-paragraphTitle,
        // h4.h4-paragraphTitle
        //     font-weight: bold
        //     font-family: Nunito

        img
            &.aligncenter
                &.size-full
                    margin: 25px 0 25px 0

    /* Blog Newsletter */
    h3.elementor-icon-box-title
        margin-bottom: 0px

    ul.essb_links_list.essb_force_hide_name.essb_force_hide
        display: flex
        @include responsivo(telefonoTable)
            flex-direction: row
            justify-content: center
            align-content: center
            li
                margin-left: 10px!important
                margin-right: 10px!important
        @include responsivo(pcMedio)
            flex-direction: row
            justify-content: center
            align-content: center
            li
                margin-left: 10px!important
                margin-right: 10px!important
        li
            a
                background-color: $colorGreenBlue3!important
                border-radius: 300px
                width: 50px
                height: 50px
                margin: 7.5px auto
                display: flex
                justify-content: center
                align-content: center
                span.essb_icon
                    margin: auto!important
    .social.horizontal
        ul.essb_links_list.essb_force_hide_name.essb_force_hide
            flex-direction: row
            li
                margin: 0 10px!important
    .social.vertical
        ul.essb_links_list.essb_force_hide_name.essb_force_hide
            flex-direction: column
            @include responsivo(telefonoTable)
                flex-direction: row
            @include responsivo(pcMedio)
                flex-direction: row

.essb_links.essb_displayed_top.essb_share.essb_template_default4-retina,
.essb_links.essb_displayed_bottom.essb_share.essb_template_default4-retina
    display: none
