{# 

{% set text_parag_1_title = fields.text_parag_1_title %}
{% set text_parag_1_parag = fields.text_parag_1_parag %}

<section class="w-full block_blog_text_parag_2 customSection sectionParent">
	<div class="section_contain">

		<section class="innerSectionElement sct1 ">
			<div class="containElements">

				{% if text_parag_1_title != '' %}
					<h2 class="primaryTitle">
						{{ text_parag_1_title|raw }}
					</h2>
				{% endif %}

				{% if text_parag_1_parag != '' %}
					<div class="primaryText">
						{{ text_parag_1_parag|raw }}
					</div>
				{% endif %}

			</div>
		</section>
	</div>
</section> #}

Holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
