


.block_blog_text_parag.customSection.sectionParent
    padding: 0
    padding-bottom: 50px
    @include responsivo(telefonoTable)
        padding-bottom: 25px
    ul, ol
        margin-bottom: 0
        font-family: Nunito
        @include responsivo(telefonoTable)
            padding-left: 0
        li
            @include responsivo(telefonoTable)
                text-align: left
                *
                    text-align: left
            &::marker
                color: #F1685A
    @include responsivo(telefonoTable)
        padding-bottom: 25px


    .section_contain
        .innerSectionElement.sct1
            gap: 35px
            display: flex
            flex-direction: column
            width: 90%
            margin: 0 auto
            @include responsivo(telefonoTable)
                width:90%
                gap: 40px
            @include responsivo(general)
                width: 90%!important
                max-width: 1100px!important
            @include responsivo(smallPcTablet)
                max-width: 1100px!important
                gap: 50px
            @include responsivo(resto)
                width: 90%!important
                max-width: 1100px!important

            .primaryTitle
                text-align: center!important
                color: #212A31
                font-size: 24px
                font-weight: 700
                letter-spacing: -1.25px
                margin-bottom: 25px
                line-height: 1
                @include responsivo(telefonoTable)
                    font-size: 22.5px
                @include responsivo(pcMedio)
                    font-size: 22.5px
                @include responsivo(general)
                    font-weight: 24px
                    text-align: center!important
                p
                    &:last-child
                        margin-bottom: 0
                @include responsivo(telefonoTable)
                    margin-bottom: 12px!important
            h2,span
                font-size: 48px
                font-weight: 700
                font-family: "Mulish", sans-serif!important
                line-height: 1
                margin-bottom: 0
                
            .primaryText, li
                color: #212A31
                text-align: left
                font-size: 24px
                line-height: 1.25
                letter-spacing: -1px
                font-weight: 500
                font-family: Nunito
                @include responsivo(telefonoTable)
                    font-size: 16px
                    text-align: center
                @include responsivo(pcMedio)
                    font-size: 16px
                @include responsivo(general)
                    font-size: 20px
                @include responsivo(smallPcTablet)
                    font-size: 18px!important
                *
                    line-height: 1.25
                    letter-spacing: -1px
                p
                    &:last-child
                        margin-bottom: 0