


.block_blog_text_parag_card2.customSection.sectionParent
    position: relative
    @include responsivo(telefonoTable)
        width: 90%
    @include responsivo(pcMedio)
        width: 90%
    @include responsivo(general)
        width: 95%!important
        max-width: 900px!important
    @include responsivo(smallPcTablet)
        max-width: 900px!important
    @include responsivo(resto)
        width: 100%!important
        max-width: 900px!important


    .section_contain
        .innerSectionElement.sct1
            gap: 35px
            display: flex
            flex-direction: column
            width: 90%
            margin: 0 auto
            @include responsivo(telefonoTable)
                width:90%
                gap: 40px
            @include responsivo(general)
                width: 90%!important
                max-width: 900px!important
            @include responsivo(smallPcTablet)
                max-width: 900px!important
                gap: 50px
            @include responsivo(resto)
                width: 90%!important
                max-width: 900px!important

            .primaryTitle
                text-align: center!important
                color: #2C4857
                font-size: 24px
                font-weight: 700
               
                margin-bottom: 25px
                line-height: 1
                @include responsivo(telefonoTable)
                    font-size: 22.5px
                @include responsivo(pcMedio)
                    font-size: 22.5px
                p
                    &:last-child
                        margin-bottom: 0
            .primaryText
                color: #706B6D
                text-align: center
                font-size: 20px
                line-height: 1
             
                font-family: "Mulish", sans-serif
                font-weight: 500
                @include responsivo(telefonoTable)
                    font-size: 16px
                    text-align: center
                @include responsivo(pcMedio)
                    font-size: 16px
                @include responsivo(general)
                    font-size: 20px
                @include responsivo(smallPcTablet)
                    font-size: 18px
                *
                    line-height: 1
                p
                    &:last-child
                        margin-bottom: 0



        .innerSectionElement.sct2
            display: flex
            justify-content: center
            gap: 30px
            flex-wrap: wrap
            @include responsivo(telefonoTable)
                gap: 15px
                flex-direction: column
                justify-content: center
                align-items: center

            .cardApi
                border-radius: 30px
                background: #FFF
                box-shadow: 0px 6px 30px 0px rgba(54, 118, 138, 0.10)
                min-height: 195px
                width: 45%
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                padding: 15px
                @include responsivo(telefonoTable)
                    width: 75%
                    padding: 10px    

                img
                    height: 35px
                    margin-bottom: 10px

                p
                    font-size: 20px
                    font-style: normal
                    font-weight: 500
                    line-height: 1
                    color: #706B6D

                    text-align: center
                    @include responsivo(telefonoTable)
                        font-size: 16px
                    @include responsivo(pcMedio)
                        font-size: 16px
                    @include responsivo(smallPcTablet)
                        font-size: 18px!important
                    @include responsivo(general)
                        font-size: 20px
                    span,strong
                        color: #36768A
                        font-weight: 700
                 
            .containerImage
                margin: 0px 
                padding: 0px   
