


.block_text_center_fondo.customSection.sectionParent
    padding: 0
    padding-bottom: 75px
    @include responsivo(telefonoTable)
        padding-bottom: 25px

    .section_contain
        gap: 35px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 90%
        margin: 0 auto
        @include responsivo(telefonoTable)
            width:100%
            gap: 40px
        @include responsivo(general)
            width: 90%!important
            max-width: 1100px!important
        @include responsivo(smallPcTablet)
            max-width: 1100px!important
            gap: 50px
        @include responsivo(resto)
            width: 90%!important
            max-width: 1100px!important

        .textContainer
            width: 820px
            padding: 40px
            box-shadow: 0 4px 40px rgba(0, 127, 150, 0.2)
            border-radius: 20px
            @include responsivo(telefonoTable)
                width: 100%
            @include responsivo(pcMedio)
                width: 90%
            *
                line-height: 1
                
            p,span
                &:last-child
                    margin-bottom: 0
                
                text-align: center
                color: #2C4857
                font-size: 30px!important
                line-height: 1
                font-weight: 400
                font-family: "Mulish", sans-serif
                @include responsivo(telefonoTable)
                    font-size: 22.5px!important
                    text-align: center
                @include responsivo(pcMedio)
                    font-size: 22.5px!important
                @include responsivo(general)
                    font-size: 20px
                @include responsivo(smallPcTablet)
                    font-size: 18px!important