



#webinarMeeting-Bootstrap
    padding: 100px 0
    padding-bottom: 150px
    background-color: $colorBlueLight
    position: relative

    h1,
    h2,
    h3
        font-family: "Nunito",Sans-serif!important
    @include responsivo(telefonoTable)
        padding-bottom: 200px
        padding-top: 50px
        padding-left: 5%
        padding-right: 5%
    @include responsivo(pcMedio)
        padding-bottom: 225px
        padding-top: 50px
    .backgroundPlanets
        background-position: center 5%
        background-repeat: no-repeat
        background-size: 100% auto
        opacity: 1
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s
        height: 100%
        width: 100%
        top: 0
        left: 0
        position: absolute
        @include responsivo(telefonoTable)
            background-position: center 2.5%
            background-size: 100% auto
            top: 0
        @include responsivo(pcMedio)
            background-position: center 2.5%
            background-size: 100% auto
            top: 0

    .overlayFlying
        background-position: center 20%
        background-repeat: no-repeat
        background-size: 1500px
        opacity: 1
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s
        height: 100%
        width: auto
        top: 0
        left: 0
        right: 0
        position: absolute
        // z-index: -
        @include responsivo(telefonoTable)
            background-position: top right
            background-size: initial
            top: 0
        @include responsivo(pcMedio)
            background-position: 8px 184px
            background-size: 100% auto
            top: 0

    .section-row
        @include responsivo(telefonoTable)
            width: 95%
        @include responsivo(pcMedio)
            width: 90%
        @include responsivo(general)
            width: 100%!important
            max-width: 1100px!important
        @include responsivo(resto)
            width: 100%!important
            max-width: 1100px!important
    .sections
        .webinarMeetingSection0
            .section-row
                .innerSectionElement
                    .containElements
                        .principalBigTitle
                            font-size: 48px
                            line-height: 48px
                            text-align: center
                            // margin-bottom: 25px
        .webinarMeetingSection1
            padding: 0
            margin-bottom: 25px
            .section-row
                .innerSectionElement
                    background-color: rgba($colorWhite, 0.6)
                    height: auto
                    display: flex
                    justify-content: center
                    align-content: center
                    min-height: 500px
                    .containElements
                        margin: auto
                        width: 100%
                        display: flex
                        flex-direction: column
                        a
                            display: block
                            margin: 0 auto
                        .containerImage
                            img
                                height: 200px
                                @include responsivo(telefonoTable)
                                    height: 175px
                                @include responsivo(pcMedio)
                                    height: 200px
                        small
                            font-size: 18px
                            text-align: center
                            width: 100%
                            margin: 25px auto
                            font-family: "Nunito",Sans-serif!important
                            line-height: normal
                            font-weight: 600
                        .vczapi-join-via-browser-main-wrapper
                            h1,
                            .vczapi-zoom-app-notice-wrap.zoom-app-notice
                                display: none
                            iframe
                                @include responsivo(telefonoTable)
                                    height: auto!important
                                    width: auto!important
                                @include responsivo(pcMedio)
                                    height: auto!important
                                    width: auto!important
                                @include responsivo(general)
                                    height: 650px!important
                                @include responsivo(resto)
                                    height: 650px!important
                        h3
                            text-align: center
                            width: 100%
                            font-weight: bold
        .webinarMeetingSection2
            padding: 0
            .section-row
                .innerSectionElement
                    background-color: transparent
                    height: auto
                    // justify-content: center
                    // align-content: center
                    .containElements
                        display: flex
                        justify-content: flex-end
                        @include responsivo(telefonoTable)
                            justify-content: center
                        @include responsivo(pcMedio)
                            justify-content: center
                        // flex-direction: row
                        width: 100%
                        padding: 15px 0
                        a
                            font-family: "Nunito",Sans-serif
                            font-size: 20px
                            font-weight: 500
                            text-decoration: none
                            color: $colorBlack
                            display: flex
                            align-self: center
                            align-items: center
                            img
                                height: 40px
                                margin-left: 15px
                            &:hover
                                color: $colorOrange
